.category-content-wrapper {
  // .products-block:not(.slick-initialized),
  // .products-inline.dkLabVisitedProducts:not(.slick-initialized) {
  //     display: grid;
  //     grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
  //     gap: 0px;

  //      @include max-sm(){
  //         grid-template-columns: repeat(2, minmax(1px, 1fr));
  //         gap: 15px;
  //     }
  // }

  // .banner-category {
  //     grid-column: span 2;
  //     margin-bottom: 0 !important;

  //     .extended-banner-texts {
  //         padding: 32px 24px !important;
  //         /* bottom: 0 !important; */
  //         display: flex !important;
  //         flex-direction: column !important;
  //         justify-content: flex-end !important;
  //         flex-wrap: wrap !important;

  //         .extended-banner-link {
  //             width: 100%;
  //             text-align: center;
  //         }

  //         @media screen and (max-width: 767px) {
  //             padding: 163px 0 0 0 !important;
  //             height: unset;
  //             min-height: 315px;

  //             .extended-banner-title {
  //                 font-size: remMM(30);

  //                 span {
  //                     font-size: remMM(20);
  //                 }
  //             }
  //         }
  //     }

  //     @media screen and (max-width: 767px) {
  //         padding: 24px 20px !important;
  //         left: 50% !important;
  //         transform: translateX(-50%) !important;
  //         width: 100vw !important;
  //         position: relative !important;
  //         background-color: #faf9f9;
  //     }
  // }
}

body.mobile.type-category {
  .content-wrapper-in {
    .content {
      max-width: 100% !important;
      overflow: hidden;
    }
  }
}
body.in-aktualne-zbierky #content-wrapper .content-wrapper-in,
body.in-utulky #content-wrapper .content-wrapper-in {
  display: none !important;
}
body.in-aktualne-zbierky.type-category .category-top-wrapper .category-top,
body.in-utulky.type-category .category-top-wrapper .category-top {
  min-height: unset;
}
body.in-aktualne-zbierky.type-category .category-top-wrapper h1,
body.in-utulky.type-category .category-top-wrapper h1 {
  display: block !important;
}
body.mobile.type-category {
  .content-wrapper-in {
    .content {
      padding: 0 !important;
    }
  }
}
.type-category {
  .content-wrapper-in {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding: 48px 0;
    @media screen and (max-width: 992px) {
      padding: 24px 0;
    }
    &::before {
      content: "";
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      width: calc(100vw - var(--scrollbar-width) + 0.1px);
      display: block;
      height: 100%;
      background-color: #f8f8f8;
      z-index: -1;
    }
    .content {
      max-width: calc(100% - $sidebar-width);
      padding: 0 0 0 20px !important;

      @media screen and (max-width: 992px) {
        max-width: 100%;
      }
    }
    @media screen and (max-width: 992px) {
      aside {
        order: 2 !important;
      }
    }
  }
  .show-more-subcategories {
    @media screen and (max-width: 767px) {
      margin-top: 12px !important;
    }
  }
  .subcategories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    width: 100%;
    margin: 0px 0 0px 0 !important;
    gap: 24px;

    @media screen and (max-width: 900px) {
      // margin-bottom: 24px !important;
      // display: grid !important;
      // grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
    @media screen and (max-width: 370px) {
      grid-template-columns: repeat(2, 1fr);
    }
    // &.active {
    //   display: grid;
    //   position: absolute;
    //   z-index: 10;
    //   background: white;
    //   max-height: 300px;
    //   overflow: scroll;
    //   left: 50%;
    //   max-width: 100%;
    //   transform: translateX(-50%);
    //   padding: 20px 20px 50px;
    //   -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.16);
    //   box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.16);
    // }
    &.active {
      li {
        display: flex;
      }
    }

    li {
      width: 100% !important;
      padding: 0;

      @media screen and (max-width: 900px) {
      }
      // margin: 0 0px -1px -1px !important;

      // &:nth-of-type(even) {
      //     margin: 0 -1px -1px 0px !important;
      // }

      // &:nth-of-type(4n + 1) {
      //     margin: 0 0px -1px 1px !important;
      // }

      // &:nth-of-type(4n) {
      //     margin: 0 0px -1px -2px !important;
      // }

      a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 100%;
        height: unset;
        padding: 0 !important;
        border: 1px solid #dcddde;
        background-color: #f8f8f8;
        color: $color-font;
        &::before {
          display: none;
        }
        &:hover {
          border-color: $color-primary;
          background-color: $color-primary;
          color: $color-font-invert;
          .text {
            &::before {
              // content: url(/dist/assets/arrow-right-nav-hov.svg);
            }
          }
        }
        .image {
          aspect-ratio: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          flex-wrap: nowrap;
          img {
            width: 100%;
            max-width: 100%;
            height: unset;
            aspect-ratio: 1;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: nowrap;
          min-height: 64px;
          width: 100%;
          padding: 8px 28px 8px 8px;
          font-size: remMM(13);
          line-height: emMM(16, 13);
          position: relative;
          font-weight: 700;
          @media screen and (max-width: 767px) {
            padding: 8px 20px 8px 4px;
          }
          &::before {
            // content: url(/dist/assets/arrow-right-nav.svg);
            font-size: 8px;
            line-height: 8px;
            margin-top: -4px;
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  // .category-top-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: flex-start;
  //   flex-wrap: nowrap;
  //   position: relative;
  //   padding: 80px 0 50px 0;
  //   max-width: 1078px;
  //   margin: 0 auto 00px auto;
  //   @media screen and (max-width: 767px) {
  //     padding: 0px 0 40px 0;
  //   }
  //   &::before {
  //     content: "";
  //     left: 50%;
  //     top: 50%;
  //     transform: translate(-50%, -50%);
  //     position: absolute;
  //     height: 100%;
  //     width: calc(100vw - var(--scrollbar-width) + 0.1px);
  //     display: block;
  //     z-index: -1;
  //     background-color: $color-page-bg;
  //   }
  //   h1 {
  //     font-weight: 700;
  //     margin: 0px 0 32px 0px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: flex-start;
  //     color: $color-font;
  //     width: 100%;
  //     max-width: calc(100%);
  //     padding: 0 0px 0px 0px;
  //     text-align: left;
  //     // font-family: $default-font-family;
  //     // font-size: remMM(20);
  //     // line-height: 1.3em;
  //     // font-weight: 700;
  //     // color: $color-font;
  //     @media screen and (max-width: 1000px) and (min-width: 0px) {
  //       // padding: 0 20px 0 0;
  //     }

  //     @media screen and (max-width: 900px) {
  //       // width: 100%;
  //       // padding: 0;
  //       // margin: 32px 0 16px 0;
  //       // order: 5;
  //       // margin-bottom: 20px;
  //     }

  //     @media screen and (max-width: 767px) {
  //       // grid-row-start: 2;
  //       max-width: 100%;
  //       font-size: remMM($h2-mobile);
  //     }
  //     @media screen and (max-width: 580px) {
  //       max-width: 100%;
  //     }
  //   }

  //   .category-perex {
  //     padding: 0 0px 0 0px;
  //     color: $color-font;
  //     font-size: remMM($text-default);
  //     line-height: emMM(26, $text-default);
  //     width: 100%;
  //     max-width: calc(100%);
  //     text-align: left;
  //     @media screen and (max-width: 580px) {
  //       max-width: 100%;
  //     }
  //     &:last-of-type {
  //       margin-bottom: 0;
  //     }

  //     // @media screen and (max-width: 1000px) and (min-width: 0px) {
  //     //   padding: 0 20px 0 0;
  //     // }

  //     // @media screen and (max-width: 767px) and (min-width: 0px) {
  //     //   font-size: remMM(16);
  //     //   max-width: 100%;

  //     //   br {
  //     //     display: none;
  //     //   }
  //     // }

  //     p {
  //       margin: 0 0 32px 0;
  //       &:last-of-type {
  //         margin-bottom: 0;
  //       }
  //       // margin: 0 auto 8px auto;
  //       // line-height: 1.4em;
  //       // font-weight: 400;
  //       // text-align: left;
  //       // max-width: 464px;
  //       // width: 100%;

  //       // &:last-of-type {
  //       //   margin-bottom: 16px;
  //       // }

  //       // @media screen and (max-width: 767px) and (min-width: 0px) {
  //       //   margin: 0 0 8px 0;

  //       //   &:last-of-type {
  //       //     margin-bottom: 0px;
  //       //   }
  //       // }
  //     }
  //     a.btn {
  //       @media screen and (max-width: 767px) and (min-width: 0px) {
  //         width: 100%;
  //         justify-content: center;
  //         max-width: 400px;
  //       }
  //     }
  //   }

  //   .category-top {
  //     width: 100%;
  //     position: relative;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     padding: 0px 48% 24px 0;
  //     min-height: 250px;

  //     @media screen and (max-width: 767px) and (min-width: 0px) {
  //       padding: 0 0 24px 0;
  //     }
  //     // @media screen and (max-width: 767px) and (min-width: 0px) {
  //     //   padding: 201px 2rem 9px 2rem;

  //     //   width: 100vw;
  //     //   position: relative;
  //     //   left: 50%;
  //     //   transform: translateX(-50%);
  //     //   flex-direction: column;
  //     //   align-items: center;
  //     //   justify-content: flex-start;

  //     //   min-height: 218px;

  //     //   .category-title {
  //     //     z-index: 3;
  //     //     position: relative;
  //     //   }

  //     //   .category-perex {
  //     //     z-index: 4;
  //     //     position: relative;
  //     //   }
  //     // }
  //   }

  //   .category-image {
  //     position: absolute;
  //     top: 0;
  //     right: 0;
  //     border-radius: 16px;
  //     overflow: hidden;
  //     aspect-ratio: 337 / 253;
  //     max-width: 337px;
  //     width: 100%;
  //     @media screen and (max-width: 767px) and (min-width: 0px) {
  //       position: relative;
  //       top: unset;
  //       right: unset;
  //       width: 100vw;
  //       left: 50%;
  //       transform: translateX(-50%);
  //       max-width: 100vw;
  //       border-radius: 0;
  //       margin-bottom: 16px;
  //     }
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;

  //       @media screen and (max-width: 1480px) and (min-width: 0px) {
  //         // width: 700px;
  //       }

  //       @media screen and (max-width: 1250px) and (min-width: 0px) {
  //         // width: 600px;
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-width: 767px) {
  body.in-rolex {
    .category-top {
      background: linear-gradient(270deg, #0b5838 0%, #0f7047 100%) !important;
    }
  }
}

.category-header div {
  display: none !important;
  font-size: remMM(16) !important;
  line-height: 1.4em !important;
  text-align: left !important;
  padding: 0 !important;

  @media screen and (max-width: 1000px) and (min-width: 0px) {
    display: flex !important;
    font-size: remMM(16) !important;
    line-height: 1.4em !important;
    text-align: center !important;
    padding: 0 !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 400px !important;
    color: $color-font !important;
    font-weight: 400 !important;
  }
}
.category-content-wrapper {
  display: flex;
  flex-direction: column;
}
.subcategories-holder {
  display: none !important;
}
#filters {
  padding: 0 20px;
}
#filters-wrapper {
  order: -3;
}

.filters-unveil-button-wrapper {
  > a.btn.btn-default {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
    font-size: remMM(16) !important;
    line-height: emMM(24, 16) !important;
    gap: 8px !important;
    position: relative !important;
    background-color: #f1f2f5 !important;
    padding: 12px 20px !important;
    margin: 0 !important;
    color: $color-font !important;
    &::before {
      // content: url(/assets/img/icon/filter-red.svg);
      width: 24px;
      height: 24px;
      display: block;
    }
    &::after {
      content: "";
      width: 10px;
      height: 2px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      display: block;
      border-radius: 40px;
      background-color: $color-primary;
    }
  }
}
body.type-category.mobile .filters-unveil-button-wrapper {
  margin-top: 24px;
  > a.btn.btn-default {
    &::before {
    }
    &::after {
      content: "|";
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      color: $color-primary;
    }
  }
}
body.type-category .show-all-categories {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: remMM($text-lg);
  line-height: emMM(27, $text-lg);
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  padding: 6px 10px !important;
  height: 42px !important;
  grid-column: span 2;
  border-radius: 4px !important;
  &::before {
    // content: url(/dist/assets/filter.svg);
    height: 24px;
  }
  &::after {
    // content: url(/dist/assets/arrow-down-dark.svg);
    height: 24px;
  }
  @media screen and (max-width: 500px) and (min-width: 0px) {
    grid-column: span 1;
  }
}

.category-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    margin: 0 0 32px 0;
    font-size: remMM(28);
    line-height: emMM(37, 28);
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      margin: 0 0 24px 0;
    }
  }
  h4 {
    //     display: none;
  }
  .toggle {
    font-weight: 700;
    font-size: remMM(18);
    line-height: emMM(24, 18);
    color: $color-font;
    padding: 4px;
    @include underline-mid($color-primary, 2px, 0px);
    margin-bottom: 24px;
    @media screen and (max-width: 1024px) {
      margin: 0 auto 20px auto;
    }
  }
  .category-perex {
    height: 141px;
    position: relative;
    overflow: hidden;
    color: $color-font-second;
    &::before {
      content: "";
      height: 80px;
      width: 100%;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background: #ffffff;
      background: -webkit-linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -moz-linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#FFFFFF", GradientType=0);
    }
    &.active {
      height: unset;
      &::before {
        display: none;
      }
    }
    .plus-gallery-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .plus-gallery-item {
        width: 100% !important;
        height: unset !important;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        img {
          position: unset !important;
          transform: unset !important;
          width: 100% !important;
        }
      }
    }
    iframe,
    video {
      width: 100%;
      height: unset;
      min-height: 145px;
      aspect-ratio: 1080 / 465;
    }
    p,
    blockquote {
      font-size: remMM($text-default);
      line-height: emMM(24, $text-default);
      margin: 0 0 32px 0;
    }
    h3 {
      font-size: remMM(20);
      line-height: emMM(28, 20);
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 0 32px 0;
      color: $color-primary;
    }
    h4 {
      font-size: remMM($text-default);
      line-height: emMM(24, $text-default);
      margin: 0 0 32px 0;
      text-transform: uppercase;
      font-weight: 700;
    }
    ul {
      margin: 0 0 32px 0;
      li {
        margin-bottom: 8px;
        &::marker {
          color: $color-primary;
        }
      }
    }
    ol {
      margin: 0 0 32px 0;
      list-style: none; // Skryje výchozí číslování
      counter-reset: custom-counter;
      padding: 0;
      li {
        counter-increment: custom-counter;
        position: relative;
        padding-left: 2em;
        margin-bottom: 8px;
        &::before {
          content: counter(custom-counter, decimal-leading-zero) ")";
          position: absolute;
          left: 0;
          color: $color-primary;
          font-weight: 700;
        }
      }
    }

    a[download] {
      color: #58585a;
      &::before {
        // content: url(/assets/img/icon/file.svg);
        height: 16px;
        width: 16px;
        margin-right: 8px;
      }
    }
  }
}

.banner-category {
  grid-column: span 1;
  margin-bottom: 0 !important;
  display: block;
  width: 100% !important;
  padding: 0 !important;

  @media (max-width: 767px) {
    grid-column: span 2;

    // transform: translateX(-50%) !important;
  }
  @media (max-width: 370px) {
    grid-column: span 1;

    // transform: translateX(-50%) !important;
  }
  &.first {
    width: 100%;
  }

  .banner-wrapper,
  a {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    justify-content: center;
    height: 100%;
    padding: 0;
    background-color: $color-page-bg;
    border-radius: 0px;
    &:hover {
      img {
        transform: scale(1);
      }
    }
  }

  picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .extended-banner-texts {
    align-items: center;
    bottom: unset;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: unset;
    max-width: 100%;
    padding: 0;
    position: absolute;
    position: relative !important;
    right: unset;
    top: unset;
    transform: unset;
    width: 100%;
    height: 100%;
    // min-height: 440px;
    gap: 294px;

    @media screen and (max-width: 767px) and (min-width: 0px) {
      max-width: 100%;
      padding: 0px;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .extended-banner-title,
    .extended-banner-text,
    .extended-banner-link {
      position: relative !important;
      left: unset !important;
      top: unset !important;
      bottom: unset !important;
      right: unset !important;
      border: unset;
      box-shadow: unset;
      margin: 0;
      text-align: center;

      @media screen and (max-width: 767px) and (min-width: 0px) {
        text-align: center;
      }
    }

    .extended-banner-title,
    .extended-banner-text {
      background-color: unset !important;
      padding: 0 !important;
    }

    .extended-banner-title {
      font-size: remMM($text-2xl);
      line-height: 1.2em;
      color: $color-font-invert;
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      letter-spacing: 0.04em;
      font-weight: 500;

      @media screen and (max-width: 767px) and (min-width: 0px) {
        margin: 0 0 16px 0;
      }
    }

    .extended-banner-text {
      font-size: remMM(20);
      color: $color-font;
      line-height: 1.4em;
      margin-bottom: 40px;
      max-width: 100% !important;

      @media screen and (max-width: 767px) and (min-width: 0px) {
        font-size: remMM(14);
        margin: 0 0 16px 0;
      }

      display: none !important;
    }

    .extended-banner-link {
      height: unset;
      margin-top: 0 !important;
      transition: all 0s ease-in-out !important;
      font-size: remMM($text-default) !important;
      line-height: emMM(26, $text-default) !important;
      padding: 8px 15px 10px 15px !important;
      height: 40px !important;
      border-color: unset !important;
      border-radius: 40px !important;
      text-transform: unset !important;
      cursor: pointer;
      font-weight: 600 !important;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: $gap-xs;

      border: 1px solid $color-font-invert !important;

      color: $color-font-invert !important;
      background-color: transparent !important;
      &:hover {
        color: $color-font !important;
        background-color: $color-font-invert !important;
      }
    }
  }

  .custom-category-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    padding: 70px;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    @media screen and (max-width: 767px) {
      padding: 40px 0 338px 0;
    }

    picture {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }

      @media screen and (max-width: 767px) {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    h2 {
      color: $color-font;
      margin: 0 0 30px 0;
      width: 100%;
      max-width: 509px;
    }

    p {
      width: 100%;
      max-width: 452px;
      margin: 0 0 60px 0;
      color: $color-font;
    }

    a {
      width: unset;
      height: unset;
      margin-bottom: 24px;

      &:last-of-type {
        margin: unset;
      }

      @media screen and (max-width: 767px) {
        padding: 10px 12px;
        width: 100%;
        text-align: center;
        margin-bottom: 9px;
      }
    }
  }
}

.filter-total-count {
  display: none !important;
}
.filter-section-title {
  font-size: remMM(14);
  line-height: emMM(16, 14);
  color: $color-font;
  font-weight: 700;
}
.filter-section {
  border: unset !important;
  padding: 0 !important;

  @media screen and (max-width: 900px) {
    margin-bottom: 10px !important;

    h4 {
      margin-bottom: 8px;
      font-size: remMM(20);
    }
  }

  .filter-count {
    display: none;

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  // &.filter-section-boolean {
  //     display: none;
  // }

  input[type="checkbox"] + label {
    margin-bottom: 12px;
  }

  form {
    .display-more {
      color: #cdcbc9;
      font-size: remMM(16);
      font-weight: 400;
      display: block;
    }
  }

  h4 {
    // font-weight: 700;
    // color: $color-font;
    // font-size: remMM(16);
    // line-height: 1.5em;
    // position: relative;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #ebeae9;
    // margin-bottom: 24px;
    // text-transform: unset !important;

    // &:after,
    // &::before {
    //    transition: all 0.3s ease-in-out;
    //     content: '';
    //     top: 10px;
    //     right: 8px;
    //     position: absolute;
    //     display: block;
    //     width: 10px;
    //     height: 2px;
    //     background-color: #686a72;
    // }

    // &:after {
    //     transform: rotate(90deg);
    // }

    &::before {
    }
  }

  &.filter-form-visible {
    h4 {
      &:after {
        transform: rotate(90deg);
      }
    }

    form {
      display: block;
    }
  }
}

body:not(.mobile) {
  .filter-section-button {
    display: none !important;
  }

  #category-filter-hover {
      display: block !important;
  }
}

@media screen and (min-width: 1000px) {
  .filter-section-button {
    display: none !important;
  }

  // #category-filter-hover {
  //     display: block !important;
  // }
}

.filter-sections {
  background-color: unset !important;
  padding: 0 !important;
}

.active-filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 35px;
  order: -1;
  padding-top: 20px;

  & > div {
    flex: 0 1 auto;
  }

  .active-title {
    font-weight: 700;
    margin-right: 1em;

    padding: 0.5em 0;
  }
 .active-filters-title{
      font-weight: 700;
      margin-right: 8px;
    }
  #clear-filters {
    margin: 0;
    text-decoration: unset;
    display: inline-block;
    font-size: remMM($text-default);
    line-height: emMM(20.11, $text-default);
    height: 32px;
    padding: 6px  32px 6px 12px;
    border: unset !important;
    background-color: $color-font !important;
    color: $color-font-invert !important;
    cursor: pointer;
    text-transform: unset !important;
    position: relative !important;
    a {
      text-decoration: underline;
      @include inherit();
      &::after {
        display: none;
      }
    }
 &:before,
    &:after {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      background-color: $color-font-invert;
      top: 50%;
      right: 10px;
      border-radius: 5px;
      transform: translateY(-50%);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      color: #ff3838;
    }
  }

  .filter-count {
    display: none;
  }

  .active-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 10px;
    position: relative;
   
  }

  .filter-label {
    flex: 0 1 auto;
    // padding: 0.5em 1em;
    // border: 1px solid $color-border-dark;
    // border-radius: 4px;
    display: flex;
    position: relative;
    align-items: center;
    font-size: remMM($text-default) !important;
    line-height: emMM(20.11, $text-default) !important;
    color: #58585A;
   
    border-radius: 0px;
    padding: 6px 32px 6px 12px;
    background-color: #F8F8F8;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 14px;
      height: 2px;
      background-color: black;
      top: 50%;
      right: 10px;
      border-radius: 5px;
      transform: translateY(-50%);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:focus {
      &::after,
      &::before {
        background-color: #ff3838;
      }
    }
  }
}

body.type-category .sidebar {
  width: $sidebar-width;
  background: linear-gradient(
      270deg,
      #f5f4f4 0.15%,
      rgba(255, 255, 255, 0) 37.19%
    ),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 10.65%),
    linear-gradient(0deg, #ffffff 4.05%, rgba(255, 255, 255, 0) 11.7%);

  padding: 0 !important;

  .filters-wrapper {
  }
}

body.type-category .sidebar-inner {
  padding: 0 !important;
  @media screen and (max-width: 992px) {
    display: flex;
    width: 100%;
    max-width: 100%;
    gap: 32px;
    flex-wrap: wrap;
  }
}

.slider-wrapper {
  padding: 5px 0 !important;

  h4 {
    font-size: remMM(14);
    line-height: emMM(16, 14);
    color: $color-font;
    font-weight: 700;
    text-transform: unset !important;
    span {
      @include inherit();
    }
    &::after {
      display: none !important;
    }
  }
}

.slider-header {
  position: relative;
  padding-top: 15px;

  .from,
  .to {
    font-size: remMM(13);
    border: unset !important;
    padding: 0px 0px;
    border-radius: 24px;
    width: unset !important;
  }
  .slider-content {
    background-color: $color-font;
    border-radius: 24px;
    .ui-slider {
      background-color: unset !important;
    }

    .ui-slider-range {
      background-color: $color-primary;
    }
  }
  .slider-content {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;

    .ui-slider-handle {
      background-color: $color-page-bg !important;
      border: 3px solid $color-primary;

      &:after {
        display: none !important;
      }
    }
  }
}
.category__secondDescription {
  display: none;
}

.categories li.active > a,
.categories li.active > a:hover {
  background-color: unset !important;
}

#productsTop {
  counter-reset: productCounter;

  .button-wrapper {
    display: none !important;
  }

  .product {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 24px !important;

    @media screen and (max-width: 767px) {
      margin-bottom: 8px !important;

      .p {
        border: unset !important;
        border-bottom: 1px solid #ececed !important;
      }
    }

    .p {
      counter-increment: productCounter;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: 100%;
      flex-direction: row;
      padding: 8px 16px;

      &::before {
        content: counter(productCounter, decimal-leading-zero);
        font-size: remMM(12);
        line-height: 1.2em;
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        font-weight: 700;
        background-color: $color-font;
        color: $color-font-second;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }

      .image {
        width: 64px;
        height: 64px;
        padding: 0;
        min-height: unset;
        min-width: 64px;
        overflow: hidden;
        // margin-left: 80px;
        margin: 0 24px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media screen and (max-width: 1100px) {
          margin-left: 10px;
        }

        @media screen and (max-width: 767px) {
          margin-left: 0px;
          margin-right: 10px;
        }
      }

      .p-in {
        display: flex;
        padding: 0;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        line-height: unset;
        position: relative;
        height: unset;

        .p-in-in {
          flex: unset;
          padding: unset;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          flex-wrap: nowrap;
          position: relative;
          gap: 8px;

          .extra-flags {
            display: none;
          }

          .name {
            font-size: remMM(16);
            line-height: 1.5em;
            color: $color-font;
          }

          .ratings-wrapper {
            .availability {
              font-size: remMM(12);
              font-weight: 400;
              max-width: unset;
              margin: 0 !important;

              span {
              }
            }
          }
        }

        .p-bottom {
          flex: unset;
          width: unset;

          & > div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            width: unset;
            max-width: unset;
            min-width: unset;
            flex: unset;
          }

          .prices {
            display: flex;
            flex: unset;
            flex-basis: unset;
            flex-direction: column;
            align-items: flex-end;
            flex-wrap: nowrap;
            justify-content: center;
          }

          .price-standard-wrapper {
          }

          .price-final {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

#category-header {
  background-color: unset !important;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;

  @media screen and (max-width: 767px) {
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    order: -2;
  }
  form {
    max-width: 100%;
  }

  div {
    font-weight: 400 !important;
    line-height: remMM($text-default) !important;
    line-height: emMM(24, $text-default) !important;
    color: $color-font;
    text-align: left !important;
    display: flex !important;
    flex: unset !important;
    gap: 6px;
    & > strong {
      @include inherit();
    }
    @media screen and (max-width: 767px) {
    }
  }
  @media screen and (max-width: 767px) {
    > div {
      display: none !important;
    }
  }
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    align-items: flex-start;
  }

  .all-products {
    font-size: remMM(16);
    font-weight: 400;
    color: $color-font;
    display: inline-block !important;
    padding: 0 !important;
    flex: unset !important;
    width: unset !important;
    display: none !important;

    strong {
      font-size: remMM(16);
      font-weight: 400;
      color: $color-font;
    }
  }

  form {
    max-width: 100%;

    fieldset {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 1px;
    }

    input[type="radio"] + label {
      transition: all 0.3s ease-in-out;
      padding: 8px 16px;
      // background-color: $color-page-bg;
      font-weight: 400 !important;
      line-height: remMM($text-default) !important;
      line-height: emMM(26, $text-default) !important;
      color: $color-font;
      border-bottom: 1px solid transparent;
      margin: 0 !important;
      border-radius: 0px;
      background-color: transparent;
      &::before,
      &::after {
        display: none !important;
      }

      &:hover {
        border-bottom-color: $color-primary;
      }
    }

    input[type="radio"]:checked + label {
      border-bottom-color: $color-primary;
      &::before,
      &::after {
        display: none !important;
      }

      &:after {
        display: none !important;
      }
    }

    @media screen and (max-width: 1000px) {
      overflow: auto;

      fieldset {
        display: flex;
        max-width: 100%;
      }
    }
  }

  .helper {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    max-width: 240px !important;
    margin: 0 !important;
    order: -1;
    form {
      display: none;

      &.active {
        display: flex;
        padding: 16px;
        position: absolute;
        background-color: #fff;
        z-index: 100;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 0px;
        max-width: 400px;
        -webkit-box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.12);

        label {
          padding: 0 !important;
          background-color: $color-page-bg !important;
          color: $color-font !important;
          border: unset !important;
          font-size: remMM(16) !important;
          margin-bottom: 12px !important;
          &:last-of-type {
            margin-bottom: 0 !important;
          }
        }
        fieldset {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
        }
      }
    }

    .sorting-label {
      font-size: remMM(16);

      font-weight: 700;
    }

    .actual-sorting {
      border: unset !important;
      padding: 0px 0px 0 32px !important;
      display: flex !important;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      font-size: remMM(16) !important;
      line-height: 1.5em !important;
      border-radius: 0px;
      width: 100% !important;
      position: relative !important;
      color: $color-font !important;
      background-color: $color-page-bg;
      gap: 8px !important;
      font-weight: 400;
      cursor: pointer;
      @media screen and (max-width: 767px) {
        padding: 0 !important;
      }
      strong {
        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }
      &::after {
        // content: url(/dist/assets/arrow-right-dark-small.svg);
        height: 24px;
        transform: rotate(90deg);
      }
      &::before {
        // content: url(/assets/img/icon/sorting.svg);
        height: 24px;
        position: absolute;
        top: 50%;
        left: 0;
        line-height: 0;
        transform: translateY(-50%);
        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }
    }
  }
}

.all-products {
  display: none;
}

.pagination-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: flex-start;
  margin: 56px 0 120px 0 !important;

  @media screen and (max-width: 767px) and (min-width: 0px) {
    margin: 40px 0 65px 0 !important;
    justify-content: space-between;
    // flex-direction: column-reverse !important;
    margin-bottom: 0 !important;
  }

  .pagination-top {
    min-width: unset !important;
    order: 2;

    transition: all 0.3s ease-in-out;
    border: 1px solid $color-font !important;
    color: $color-font !important;
    font-size: remMM($text-default);
    line-height: emMM(20.11, $text-default);
    padding: 10px 15px 9px 15px;
    // background-color: $color-secondary-10 !important;
    // line-height: 1em;
    border-radius: 40px;
    text-transform: unset !important;
    margin-left: 0px;
    font-weight: 700;

    display: none !important;
    @media screen and (max-width: 767px) {
      padding: 12px 24px 12px 24px;
    }

    &:hover {
      background-color: $color-secondary-30 !important;
    }

    .pagination-link {
      display: none;
    }

    .js-scroll-top {
      margin: 0;
      @include inherit();
      text-transform: unset !important;
      height: unset;
      width: unset;
    }
  }

  .pagination-loader {
    min-width: unset;
    order: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px 0;
    // width: calc(50% + 80px);
    @media screen and (max-width: 767px) {
      width: 100%;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      > span {
        width: unset !important;
      }
    }

    // .load-products {
    //   transition: all 0.3s ease-in-out;
    //   border: 1px solid $color-font !important;
    //   color: $color-primary-80 !important;
    //   padding: 12px 24px 12px 24px;
    //   background-color: $color-page-bg !important;
    //   font-size: remMM(18);
    //   line-height: 1em;
    //   font-weight: 700;

    //   &:hover {
    //     background-color: $color-font !important;
    //     color: $color-font-invert !important;
    //   }

    //   @media screen and (max-width: 767px) {
    //     padding: 12px 12px 12px 12px;
    //     margin: 0 auto;
    //   }

    //   @media screen and (max-width: 480px) {
    //     width: 100%;
    //   }

    //   // &::after {
    //   //     content: url(/assets/img/icon/arrow-top.svg);
    //   //     transform: rotate(180deg);
    //   // }

    //   // @media screen and (max-width:767px) and (min-width:0px) {
    //   //     font-size: remMM(16) !important;
    //   // }
    // }
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    min-width: unset !important;
    order: 3;
    margin-left: auto;
    position: relative;
    z-index: 20;
    @media screen and (max-width: 767px) {
      margin-right: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .current {
      order: 2;
      min-width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-font;
      border-radius: 0 !important;
      margin: 0 !important;
    }

    a,
    strong {
      margin: 0 !important;

      &[data-testid="linkFirstPage"] {
        min-width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-font;
        order: 1;
        margin-left: 32px;
        border-radius: 0 !important;
      }

      &[data-testid="linkLastPage"] {
        min-width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-font;
        order: 5;
        margin-right: 32px;
        border-radius: 0 !important;
      }
    }

    .pagination-link {
      transition: all 0.3s ease-in-out;
      font-size: 0;

      width: 40px;
      height: 40px;
      display: flex;
      border-radius: 0px !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 1;
      visibility: visible;
      border: none;
      outline: none;
      position: relative;
      //   background-color: transparent;
      z-index: 2;
      margin: 0 !important;
      border: unset;
      // border-radius: 5px;
      background-color: #dcddde;

      &::before {
        transition: all 0.3s ease-in-out;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        position: absolute;
        width: 24px;
        height: 24px;
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: unset;
        margin: 0 !important;
        // background-image: url(/dist/assets/arrow-black-right.svg);
      }

      &:hover {
        // background-color: $color-secondary-50;
        background-color: $color-font !important;
        &::before {
          filter: invert(1);
        }
      }

      .sr-only {
        height: 0;
        width: 0;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
      }

      &.next {
        order: 4;
        &::before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }

      &.next::before {
        right: 2px;
      }

      &.prev {
        order: 2;
      }

      &.prev::before {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}

.category__secondDescription {
  .show-more {
    margin-bottom: 20px;
    display: inline-block;
  }

  .carousel-cat {
    .slick-arrow {
      display: none !important;
    }

    img {
      margin-right: 8px !important;
    }
  }

  img {
    width: calc((100% / 3) - (38px / 2));
    margin-right: 19px;
    margin-bottom: 19px;

    &:last-of-type {
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 19px;
    }
  }

  .buttons-wrapper {
    display: none;
  }
}

.filter-section-boolean,
#price-filter-form {
}

.btn-holder-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 24px 0;
  width: 100%;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  .filtering-btn {
    width: 100%;
    max-width: 100% !important;
    font-size: remMM(16) !important;
    line-height: 1.4em !important;
    text-transform: unset !important;
    font-weight: 700 !important;
    position: relative !important;
    padding: remMM(7) remMM(24) remMM(7) remMM(24) !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: center !important;
    flex-wrap: nowrap !important;
    gap: 8px;
    border: 1px solid $black !important;
    background-color: transparent !important;
    color: $color-secondary-80 !important;

    &:hover {
      background-color: $color-page-bg !important;
    }

    &::before {
      content: "";
      // left: 10px;
      // top: 50%;
      // transform: translateY(-50%);
      display: block;
      position: relative;
      height: 24px;
      width: 24px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      // background-image: url(/assets/img/icon/filtering-btn.svg);
    }

    &.no-before {
      height: 40px;

      &::before {
        display: none;
      }
    }
  }
}
.filter-section {
  h4 {
    font-size: remMM(14);
    line-height: emMM(16, 14);
    color: $color-font;
    font-weight: 700;
    text-transform: unset !important;
    padding: 16px 0;
    border-bottom: 1px solid $color-primary;

    &::after,
    &::before {
      @include trans(0s);
      content: "" !important;
      width: 10px !important;
      right: 7px !important;
      height: 2px !important;
      border-radius: 40px !important;
      background-color: $color-primary !important;
      position: absolute !important;
      display: block !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
    &::before {
      transform: translateY(-50%) rotate(90deg) !important;
      width: 0 !important;
    }
  }
  &.filter-form-visible {
    h4 {
      &::before {
        width: 10px !important;
      }
    }
  }
}
.subcategories-bottom {
  h2 {
    padding: 8px 0 7px 0;
    font-size: remMM(20);
    line-height: emMM(28, 20);
    text-transform: uppercase;
    border-bottom: 1px solid $color-primary;
    margin: 0 0 32px 0;
  }
  .subcategories {
    margin: 0 0 32px 0 !important;
  }
}
.box-bg-variant {
  padding: 0 !important;
  h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-size: remMM(16);
    line-height: emMM(24, 16);
    gap: 8px;
    position: relative;
    background-color: #f1f2f5;
    padding: 12px 20px;
    margin: 0;
    &::before {
      // content: url(/assets/img/icon/category-red.svg);
      width: 24px;
      height: 24px;
      display: block;
    }
    &::after {
      content: "";
      width: 10px;
      height: 2px;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      display: block;
      border-radius: 40px;
      background-color: $color-primary;
    }
  }
  #categories {
    padding: 0 20px !important;
  }
  .cat-trigger {
    display: none !important;
  }
  .categories {
    margin: 0 !important;
    &.expandable {
      .cat-trigger {
        position: absolute !important;
        right: 7px !important;
        left: unset !important;
        bottom: unset !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        width: 24px !important;
        height: 24px !important;
        display: block !important;
        background: unset !important;
        &::after,
        &::before {
          @include trans(0.3s);
          content: "" !important;
          width: 10px !important;
          right: 7px !important;
          height: 2px !important;
          border-radius: 40px !important;
          background-color: $color-primary !important;
          position: absolute !important;
          display: block !important;
          top: 50% !important;
          transform: translateY(-50%) !important;
        }
        &::before {
          transform: translateY(-50%) rotate(90deg) !important;
        }
      }
    }
    &.expanded {
      .cat-trigger {
        &::before {
          width: 0 !important;
        }
      }
    }
  }

  .topic {
    > a {
      font-size: remMM(14);
      line-height: emMM(16, 14);
      font-weight: 700;
      color: $color-font;
      padding: 12px 0;
      position: relative;
    }
    &.active,
    &.child-active {
      > a {
        background-color: unset;
        color: unset;
        border-bottom: 1px solid $color-primary;
      }
    }
    a {
    }
  }
  .categories {
    ul {
      padding: 0 0 0 10px;
      li {
        &.expandable {
          .cat-trigger {
            position: absolute !important;
            right: 7px !important;
            left: unset !important;
            bottom: unset !important;
            top: 50% !important;
            transform: translateY(-50%) !important;
            width: 24px !important;
            height: 24px !important;
            display: block !important;
            background: unset !important;
            &::after,
            &::before {
              @include trans(0.3s);
              content: "" !important;
              width: 10px !important;
              right: 7px !important;
              height: 2px !important;
              border-radius: 40px !important;
              background-color: $color-primary !important;
              position: absolute !important;
              display: block !important;
              top: 50% !important;
              transform: translateY(-50%) !important;
            }
            &::before {
              transform: translateY(-50%) rotate(90deg) !important;
            }
          }
        }
        &.expanded {
          .cat-trigger {
            &::before {
              width: 0 !important;
            }
          }
        }
        &.active {
          > a {
            background-color: unset;
            color: $color-font;
            border-bottom: 1px solid $color-primary;
            &:hover {
              color: unset;
            }
          }
        }
        a {
          font-size: remMM(14);
          line-height: emMM(16, 14);
          font-weight: 400;
          color: #58585a;
          padding: 6px 20px 6px 10px;
          position: relative;
        }
      }
    }
  }
}
#category-header {
  z-index: 4;
}
#category-header.category-header .display-switcher {
  display: flex !important;
  align-items: center;
  gap: 8px;
  position: relative;
  &::before {
    // content: url(/assets/img/icon/dolazdice.svg);
    height: 24px;
  }
  span {
    &:first-child {
      font-weight: 600;
    }

    &.selected {
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      &::before,
      &::after {
        display: inline-block;
        line-height: 0;
      }

      &::before {
        width: 24px;
        height: 24px;
      }

      &::after {
        content: "";
        width: 6px;
        height: 6px;
        border-style: none solid solid none;
        border-width: 1px;
        border-color: $color-font;
        transform: rotate(45deg);
        margin-bottom: 3px;
        margin-left: 6px;
      }
    }
  }

  .display-switcher__buttons {
    display: none !important;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 100%;
    background-color: $color-page-bg;
    padding: 10px 33px 10px 10px !important;
    -webkit-box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.16);
    button {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 5px;
      color: $color-font;
      text-align: right;
      background-color: unset !important;
      &::before {
        display: inline-block;
        line-height: 0;
        width: 24px;
        height: 24px;
      }
    }

    &.visible {
      display: block !important;
    }
  }

  // .tiles {
  //     &::before {
  //         content: url(../img/icon/Dlazdice.svg);
  //     }
  // }

  // .list {
  //     &::before {
  //         content: url(../img/icon/List.svg);
  //     }
  // }

  // .table {
  //     &::before {
  //         content: url(../img/icon/Burger.svg);
  //     }
  // }

  @media (max-width: 767px) {
    width: unset !important;
    span:not(.selected) {
      font-size: 0;
      // gap: 5px;
    }
  }
}
