.benefitBanner {
  @include container();
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  // &:before {
  //   content: "";
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 100vw;
  //   max-width: calc(100vw - var(--scrollbar-width) + 0.1px);

  //   height: 100%;
  //   display: block;
  //   position: absolute;
  //   background-color: $color-primary;
  //   z-index: -1;
  // }
  &::before {
    display: none;
  }
  &::after {
    display: none;
  }
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;

  // @media (max-width: 1400px) {
  //   padding: 0 0rem 100px 0rem;
  // }

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
    // padding: 0 0rem 80px 0rem;
    gap: 24px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

// body.mobile {
//     .benefit-section {
//         .container {
//             padding: 0 !important;
//         }
//     }
// }

.benefit-section {
  position: relative;
  margin: 0 0 126px 0;
  padding: 67px 0 0 0;
  overflow: hidden;
  position: relative;
  width: calc(100vw - var(--scrollbar-width) + 0.1px);
  transform: translateX(-50%);
  left: 50%;

  @media screen and (max-width: 767px) {
    padding: 36px 0 0 0;
    margin: 0 0 60px 0;
  }

  h2 {
    margin: 0 0 47px 0;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin: 0 0 23px 0;
    }
  }

  &::before {
    content: "";
    width: calc(1440px + 60px);
    max-width: calc((100vw - var(--scrollbar-width) + 0.9px) - 10px);
    height: 80%;
    // background: url(/assets/img/icon/line-bg.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 20px;
    border: 1px solid $color-font-second;
  }

  .benefitBanner {
    max-width: 100%;
    margin: 0 auto;
    padding: unset;
  }
}

.benefitBanner__item {
  display: flex;
  width: 100%;
  flex: unset;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  text-align: center;
  max-width: 100%;
  padding: 0 10px;
  // background: url(/assets/img/icon/ups-bg.svg) no-repeat center center;
  background-color: $color-page-bg;
  // @media (max-width: 1200px) {
  //     padding: 0;
  // }
  margin: 0;

  border-right: 1px solid #d6d5d6;
  &:last-of-type {
    border-right: none;
  }
  @media screen and (max-width: 1023px) {
    &:nth-of-type(even) {
      border-right: unset !important;
    }
    
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    border-right: unset !important;
    border-bottom: 2px solid #d6d5d6;
    padding: 0 0 16px 12px;
    &:last-of-type {
      border-bottom: unset !important;
    }
  }

  .benefitBanner__picture {
    margin-bottom: 24px;
    margin-right: 0 !important;
    flex: unset !important;
    img {
      @media screen and (max-width: 767px) {
        max-width: 40px;
      }
    }
  }

  .benefitBanner__content {
    padding-right: 0 !important;
  }

  .benefitBanner__title {
    font-size: remMM(30);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 6px 0;
    font-family: $heading-font-family;
    display: inline-block;
    text-align: center;
    text-transform: uppercase !important;
    color: $color-primary;

    @media screen and (max-width: 767px) {
      font-size: remMM(24);
      margin: 0 0 8px 0;
      text-align: left;
    }
  }

  .benefitBanner__data {
    font-size: remMM(16);
    line-height: 1.3em;
    color: $color-font;
    margin: 0 0 0px 0;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: remMM(12);
      margin: 0 0 0px 0;
      text-align: left;
    }
  }
}
