input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

label {
  cursor: pointer;
  // font-weight: 700;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 24px;
  display: inline-block;
  color: $color-font;
  font-size: remMM(14);
  line-height: 1.2em;
  padding: 0 0 0 34px !important;

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 0px;
    border: 1px solid $color-font-20 !important;
    display: inline-block;
    position: absolute;
    background-color: $color-page-bg;
    top: 9px;
    left: 0;
    // transform: translateY(-50%);
  }

  &.disabled {
    opacity: 0.7;
  }
}

input[type="checkbox"]:checked + label {
  &::before {
    background-color: $color-font-invert;
    // border: 1px solid $color-primary-50 !important;
    // border-color: $color-accent;
  }

  &::after {
    // content: url(/assets/img/icon/check-dark.svg);
    display: block;
    line-height: 0;
    left: 5px;
    top: 9px;
    width: 15px;
    height: 15px;
    border: none !important;
    border-color: unset !important;
    background-color: unset !important;
    position: absolute;
  }
}

input[type="radio"] + label {
  padding-left: 44px;
  position: relative;
  display: inline-block;

  &::before {
    content: "" !important;
    display: inline-block !important;
    width: 24px !important;
    height: 24px !important;
    border: 1px solid $color-font-20 !important;

    border-radius: 50% !important;
    position: absolute !important;
    left: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}

input[type="radio"]:checked + label {
  &::after {
    content: "";
    display: inline-block !important;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    background-color: $color-font !important;
    position: absolute !important;
    left: 3px;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
}
.form-control {
  height: unset !important;
}
input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="number"],
textarea,
select {
  border: 1px solid #ebebeb !important;
  font-size: remMM($text-default) !important;
  width: 100% !important;
  color: $color-font !important;
  background-color: $color-page-bg !important;
  font-family: $default-font-family !important;
  padding: 11px !important;
  border-radius: 4px !important;
  // border-radius: 6px;
  line-height: emMM(20.11, $text-default);

  &.focus-visible {
    outline: none !important;
  }

  &::placeholder {
    @include inherit();
  }

  &:focus {
    box-shadow: unset !important;
  }
}

label {
  font-weight: 500;
  font-size: remMM(16) !important;
}

.js-validator-msg {
  color: #e82b37;
  font-size: remMM(12);
  font-weight: 400;
}

input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input:-internal-autofill-selected {
}

input[type="email"] {
  // padding: 8px 20px 8px 54px !important;
  // background-image: url(/assets/img/icon/mail-dark.svg) !important;
  // height: unset !important;
  // background-repeat: no-repeat;
  // background-position: 10px center;

  // color: $black-30;
  // &:-internal-autofill-selected {
  //     background-image: url(/assets/img/icon/mail-dark.svg) !important;
  //     background-color: transparent !important;
  // }

  &::placeholder {
    // color: $black-30;
  }

  &:focus {
  }
}

input[type="submit"] {
  border: none;
  box-shadow: none;
  font-family: $default-font-family;
  font-size: remMM(14);
  align-self: flex-start;
}

textarea {
  resize: none !important;
  border: 1px solid $color-font !important;
}

.form-group,
.f-field-group {
  margin: 20px 0 16px 0;
  display: flex;
  flex-direction: column;
  gap: 0px;

  select {
    width: 100% !important;
  }

  &::before,
  &::after {
    display: none;
  }

  .js-validator-msg {
    margin: 0 !important;
    text-align: left !important;
  }

  label {
    width: 100%;
  }

  input {
    // &:not([type="submit"]) {
    //   width: 100% !important;
    //   border-radius: 0px !important;
    //   height: unset !important;
    // }

    &[type="email"] {
    }
  }

  input {
    &[type="checkbox"],
    &[type="radio"] {
      & + label {
        margin-bottom: 0px;
        line-height: 1.2em;
        font-weight: 400 !important;
      }
    }
  }

  label {
    margin-bottom: 8px;
    line-height: 1.2em;
    font-weight: 600 !important;
    color: $color-font !important;
    font-size: remMM($text-sm);
    line-height: emMM(16.8, $text-sm);

    span {
      white-space: nowrap;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.company-shopping {
    #company-shopping {
      & + label {
        &::before {
          // border-radius: 50%;
        }
      }
    }
  }

  #another-shipping {
    & + label {
      &::before {
        // border-radius: 50%;
      }
    }
  }
}
.f-field-group {
  margin: 0px 0 16px 0;
}
.radio-wrapper {
  margin-bottom: 0px;
}

.required-asterisk {
  &::after {
    content: "*";
    display: inline-block;
    color: $alert;
    margin-left: 0em;
  }
}

.filter-label.no-display {
  display: none;
}

body:not(.customer-page) {
  #register-form {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding: 50px 100px;
    // background-color: $color-page-bg;
    // border: 1px solid $color-font-10;
    border-radius: 0px;

    // fieldset.co-registration {
    //     display: none;
    // }

    // .form-group {
    //     margin: 0 0 10px 0;
    //     gap: 2px;

    //     // .btn-secondary {
    //     //     display: none;
    //     // }
    //     &.submit-wrapper {
    //         p {
    //             margin: 0;

    //             .btn-login {
    //                 @include t(0.3s);
    //                 width: 100%;
    //                 text-align: center;
    //                 padding: emMM(17);
    //                 color: $color-font-second;
    //                 background-color: $color-font;

    //                 font-size: remMM(16);

    //                 &:hover {
    //                     background-color: $color-primary;
    //                     color: $color-font;
    //                 }
    //             }
    //         }
    //     }

    //     .title-for-login {
    //         display: flex;
    //         flex-direction: row;
    //         justify-content: flex-start;
    //         align-items: flex-start;
    //         flex-wrap: nowrap;
    //         gap: 0px;
    //         font-size: remMM(14);
    //         line-height: 1.2em;
    //         color: $color-font;
    //         margin: 0 0 20px 0;

    //         a {
    //             margin-left: 6px;
    //             font-size: remMM(14);
    //             line-height: 1.2em;
    //             color: $color-font;

    //         }
    //     }
    // }

    // input:not(.btn-login) {
    //     background-color: $color-page-bg;
    // }

    // @media (max-width: 767px) {
    //     padding: 30px 20px;
    // }
  }
}

.required-asterisk {
  white-space: normal !important;
}

// #register-form {
//     .btn.btn-secondary {
//         border: 1px solid $color-accent;

//     }
// }

#add-note {
  & + label {
    &::before {
    }
  }
}

#company-info {
  label {
    width: 100% !important;
  }
}

select {
  // background-image: url(/dist/assets/select-arrow.svg) !important;
  background-position: right 8px top 50%;
  background-repeat: no-repeat;
  background-size: 24px !important;
  border: 1px solid #dcddde !important;
  border-radius: 0 !important;
  background-color: #f8f8f8 !important;
  padding: 8px 32px 8px 8px !important;
  font-size: remMM($text-default) !important;
  line-height: emMM(24, $text-default);
  color: $color-font-second !important;
  height: unset !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  cursor: pointer !important;
  border-color: #DCDDDE !important;
  &:focus-visible {
    outline: none !important;
  }

  @media screen and (max-width: 767px) {
    height: 40px;
  }
}
