html {
  scroll-behavior: smooth;
}

.client-center-box {
  margin-top: 50px;

  ul {
    li {
      list-style: none;

      &::marker {
        display: none;
      }
    }
  }
}

.id--12 .content-inner table thead,
.id--12 .content-inner table tbody,
.customer-page .content-inner table thead,
.customer-page .content-inner table tbody {
  width: max-content;
  white-space: nowrap;
}

// @media screen and (max-width: 1440px) {

//     :where(.temp_old_clientTables).customer-page .table tbody,
//     :where(.temp_old_clientTables).customer-page .table td,
//     :where(.temp_old_clientTables).customer-page .table th,
//     :where(.temp_old_clientTables).customer-page .table thead {
//         display: unset !important;
//     }

//     :where(.temp_old_clientTables).customer-page .table {
//         // display: table !important;
//     }

//     thead {
//         display: none !important;
//     }

//     :where(.temp_old_clientTables).customer-page .table td {

//         padding: 10px 10px 10px 0 !important;
//     }

//     :where(.temp_old_clientTables).customer-page .table th {
//         display: table-cell !important;
//     }

//     :where(.temp_old_clientTables).customer-page .table thead {
//         display: table-header-group !important;
//     }

//     th {
//         display: table-cell !important;
//         min-width: 200px;
//         width: 200px;
//         max-width: 200px;
//     }

//     thead {
//         display: table-header-group !important;
//     }

//     tr {
//         display: table-row !important;
//     }

//     td {

//         padding: 10px 10px 10px 0 !important;
//     }

//     .id--12 .content-inner,
//     .customer-page .content-inner {
//         overflow-x: auto;
//     }
// }

.btn,
.next-step-back,
.cp-button,
.chevron-after,
.login-btn,
.display-results-group {
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4em !important;
  cursor: pointer;
  text-decoration: none;
  font-family: $default-font-family;
  font-weight: 400;

  @media (max-width: 900px) {
    // white-space: pre-wrap;
  }
}

.extended-banner-link {
  @include trans(0);
  color: $color-font-invert !important;
  background-color: $color-primary !important;
  font-size: remMM($text-default);
  line-height: emMM(20.11, $text-default);
  padding: 14px 77px 14px 77px;
  border: unset !important;
  border-color: unset !important;
  border-radius: 0px !important;
  text-transform: unset;
  cursor: pointer;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: $gap-xs;
  @media screen and (max-width: 767px) {
    padding: 10px 16px;
  }
}
.btn.btn-primary,
.btn-default:not(button),
.add-to-cart-button,
.btn-conversion,
.btn-cart,
.next-step-forward,
#submit-order {
  transition: all 0s ease-in-out !important;
  color: $color-font-invert !important;
  background-color: $color-primary !important;
  font-size: remMM($text-default) !important;
  line-height: emMM(20.11, $text-default) !important;
  padding: 13px 20px !important;
  border: unset !important;
  border-color: unset !important;
  border-radius: 0px !important;
  text-transform: unset;
  cursor: pointer;
  font-weight: 700 !important;

  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: $gap-xs;
  &:hover {
    background-color: $color-font !important;
  }
  &.white {
    background-color: $color-font-invert !important;
    color: $color-font !important;
  }
  &.blue {
    background-color: $color-primary !important;
    color: $color-font-invert !important;
    &:hover {
      background-color: $color-font !important;
    }
  }
}
.login-button {
  &::before {
    // content: url(/assets/img/icon/user-white.svg);
    height: 24px;
  }
}
.next-step-forward,
#submit-order {
  text-transform: unset !important;
}
.next-step-forward,
#submit-order {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 13px 15px !important;
  width: 100% !important;
  &::before {
    // content: url(/assets/img/icon/step-next.svg) !important;
    height: 24px;
    width: 24px;
  }
}
.btn.btn-primary.catalog-btn {
  align-items: flex-end;
  border-radius: 4px 4px 0 0 !important;
  &::before {
    // content: url(/dist/assets/Excavator.svg);
    height: 24px;
  }
  &::after {
    // content: url(/dist/assets/catalog-arrow.svg);
    height: 24px;
  }
}
.btn-conversion {
  &::after {
    display: none !important;
  }
}
.link-like,
.btn.secondary,
.btn-secondary,
.show-all-categories,
.btn.load-products,
.next-step-back {
  transition: all 0s ease-in-out !important;
  color: $color-font !important;
  background-color: transparent !important;
  font-size: remMM($text-default) !important;
  line-height: emMM(24, $text-default) !important;
  padding: 11px 15px !important;
  height: 48px !important;
  border-color: unset !important;
  border-radius: 0px !important;
  text-transform: unset !important;
  cursor: pointer;
  font-weight: 700 !important;

  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap !important;
  gap: 16px;

  border: 1px solid $color-primary !important;

  &.white {
    color: $color-font-invert !important;
    border-color: $color-font-invert !important;
    background-color: transparent !important;
    &:hover {
      color: $color-font !important;
      background-color: $color-font-invert !important;
    }
  }

  &:hover {
    color: $color-font-invert !important;
    background-color: $color-primary !important;
  }
}
.next-step-back {
  padding: 11px 15px 11px 56px !important;
  position: relative;
  &:hover {
    &::before {
      filter: invert(1);
    }
  }
  &::before {
    display: block;
    position: absolute;
    margin: 0 !important;
    left: 15px;
    // content: url(/assets/img/icon/arrow-next-back.svg) !important;
    height: 24px;
  }
}
.link-like {
  &:hover {
    &::before {
      filter: invert(1);
    }
  }
  &::before {
    margin: 0 !important;
    // content: url(/dist/assets/write-dark.svg) !important;
    height: 24px;
  }
}
.btn.btn-xs.btn-primary {
  padding: 6px 20px 6px 20px !important;
  width: unset;
  max-width: 170px;
}

.product .add-to-cart-button,
.product .btn-cart {
  transition: all 0.3s ease-in-out;
  padding: 9px 16px 9px 16px !important;
  color: $color-font-invert !important;
  background-color: $color-primary !important;
  font-size: remMM($text-default);
  line-height: emMM(26, $text-default);
  border: none !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: unset !important;
  border-radius: 0px !important;
  backdrop-filter: unset !important;
  box-shadow: unset !important;
  height: 48px !important;
  &:hover {
    background-color: $color-font !important;
  }
  &::before {
    display: none !important;
  }
}
.product .btn-primary {
  background-color: unset !important;
  border: 1px solid $color-primary !important;
  color: #000 !important;
  &:hover {
    background-color: $color-primary !important;
    color: $color-font-invert !important;
  }
}
.btn.btn-login,
.btn-login,
.btn-default,
.btn-border {
  transition: all 0.3s ease-in-out;
  color: $color-font-invert !important;
  background-color: $color-primary !important;
  font-size: remMM(14);
  line-height: 1.14em;
  padding: 10px 24px 10px 24px !important;
  border: unset !important;
  border-color: unset !important;

  &:hover {
    background-color: $color-primary !important;
  }
}

.btn-border {
  padding: 16px 40px 16px 40px !important;
}

.btn-default {
  padding: 11px 40px 11px 40px;
}

.next-step-back {
}

button {
  padding: 0;
  margin: 0;
  border: unset;
  outline: unset;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.middle-banners-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  background-color: unset !important;
  border: unset !important;
}
.row.body-banners {
  margin-left: -16px !important;
  margin-right: -16px !important;
}
.body-banners {
  margin-bottom: 0px;
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 40px;
  &::before,
  &::after {
    display: none !important;
  }
  .col-sm-4,
  .col-sm-8 {
    padding: 0 !important;
    width: 100%;
    max-width: calc(50% - 20px);
  }
  .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 8px;
    .col-sm-4,
    .col-sm-8 {
      max-width: calc(100%);
    }
    .banner-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.latest-contribution-box {
  display: none;
}
address {
  font-style: normal;
}

a,
span,
address {
  &.tel,
  &.project-phone,
  &.project-email,
  &.mail,
  &.meet,
  &.whatsApp,
  &.address {
    transition: all 0.3s ease-in-out;
    color: $color-font !important;
    font-size: remMM(13) !important;
    line-height: emMM(16, 13) !important;
    font-weight: 700 !important;
    padding: 0px !important;
    border: unset !important;
    border-color: unset !important;
    border-radius: 0 !important;
    text-transform: unset;
    gap: 8px;
    align-items: center;
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: "" !important;
      left: unset !important;
      top: unset !important;
      // transform: translateY(-50%) !important;
      width: 20px !important;
      height: 20px !important;
      position: relative !important;
      display: block !important;
      // background: url(/dist/assets/phone-dark.svg) no-repeat center center !important;
      background-size: cover !important;
      margin: unset !important;
      font-size: unset !important;
    }
  }

  &.whatsApp {
    &::before {
      //background-image: url(/assets/img/icon/whats-app.svg) !important;
    }
  }

  &.meet {
    &::before {
      //background-image: url(/assets/img/icon/meet.svg) !important;
    }
  }
  &.address {
    &::before {
      // background-image: url(/dist/assets/address.svg) !important;
    }
  }
  &.mail,
  &.project-email {
    &:hover {
      text-decoration: underline;
    }
    span {
      display: inline-block !important;
    }

    &::before {
      // background-image: url(/dist/assets/email-dark.svg) !important;
    }

    &:hover {
      &:after {
        transform: scale(1, 1);
      }
    }

    // &::after {
    //   transition: all 0.3s ease-in-out;
    //   content: "";
    //   right: 0;
    //   width: calc(100% - 32px);
    //   transform: scale(0, 1);
    //   height: 1px;
    //   bottom: 0;
    //   position: absolute;
    //   display: block;
    //   background-color: $color-font-second;
    // }

    &.dark {
      &::before {
        // background-image: url(/assets/img/icon/mail-dark.svg) !important;
      }

      &::after {
        background-color: $color-font;
      }
    }
  }

  &.show-more {
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    font-size: remMM(16);
    line-height: 1.5em;
    position: relative;
    padding-bottom: 12px;

    &:hover {
      &::before {
        width: 0;
      }
    }

    &::before {
      transition: all 0.3s ease-in-out;
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      bottom: 0;
      position: absolute;
      display: block;
      background-color: $color-font;
    }
  }
}

.instagram-icon,
.facebook-icon,
.youtube-icon {
  transition: all 0.3s ease-in-out;
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  // border: 1px solid $color-font-20;
  // border-radius: 50%;

  &::before {
    transition: all 0.3s ease-in-out;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
  }
}

.instagram-icon {
  &::before {
    // background-image: url(../img/icon/instagram.svg);
  }

  &:hover {
    &::before {
      // background-image: url(../img/icon/instagram-hov.svg);
    }
  }
}

.facebook-icon {
  &::before {
    // background-image: url(../img/icon/facebook.svg);
  }

  &:hover {
    &::before {
      // background-image: url(../img/icon/facebook-hov.svg);
    }
  }
}

.youtube-icon {
  &::before {
    // background-image: url(../img/icon/youtube.svg);
  }

  &:hover {
    &::before {
      // background-image: url(../img/icon/youtube-hov.svg);
    }
  }
}

.breadcrumbs-wrapper {
}
.type-category {
  .breadcrumbs {
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumbs-wrapper {
    .breadcrumbs {
      display: none !important;
    }
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
      gap: 24px;
  margin: 0px 0 20px !important;
  border: none !important;
  background-color: unset !important;

  //abosulte
  // position: absolute;
  z-index: 10;

  // padding-left: 10px;
  &::before {
    display: none;
  }
>span{
  position: relative;
}
  a {
    padding: 0 !important;
    min-height: unset !important;
    font-size: remMM(13);
    line-height: emMM(16, 13);
    font-weight: 400;
    color: $color-font-invert;
    text-decoration: unset !important;

    // &:hover {
    //     color: $color-primary-50;
    // }

    &::before,
    &::after {
      display: none;
    }
  }

  #navigation-first {
    position: relative;
    a {
      display: flex;
      height: 14px !important;
      &::before {
        // content: url(/dist/assets/home-dark.svg);
        display: block;
        position: relative !important;
        top: unset;
        transform: unset;
        width: unset;
        height: 24px;
        background-color: unset;
      }

      span {
      }
    }

    .navigation-bullet {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 10px);
      margin: 0;
      &::before {
        content: "/";
       
        font-size: remMM(12);
        color: $color-font-second;
      }
    }
  }

  .navigation-bullet {
    font-size: 0;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 8px;

     position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 10px);
      margin: 0;
      &::before {
        content: "/";
       
        font-size: remMM(12);
        color: $color-font-second;
      }
  }

  & > span {
    display: flex;
    align-items: center;
    gap: 0px;
   font-size: remMM(13);
    line-height: emMM(16, 13);
    color: $color-font;
    text-decoration: unset !important;
    font-weight: 700 !important;
    padding: 4px;
    background-color: #F8F8F8;
    &:last-of-type {
      & > span {
        // font-weight: 600 !important;
      }
    }

    & > span {
      padding: 0 !important;
    }

    & > a {
      color: $color-font;
      text-decoration: none;
     font-size: remMM(13);
    line-height: emMM(16, 13);

      span {
        // height: 24px;
        display: block;
        @include inherit();
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &:last-child {
      text-decoration: underline;
    }
  }
}

.id--8 {
  #content {
    max-width: 800px;
    margin: 0 auto;
  }

  #register-form {
    margin-bottom: 80px;
  }
}

.co-registration {
  border: none !important;
  border-color: unset !important;

  fieldset {
    h4 {
      margin-bottom: 30px !important;
    }
  }

  .box {
  }
}

.stars .star.is-active:hover,
.stars .star.star-half:before,
.stars .star.star-on:before {
  color: #ebc205;
}

.stars a.star-off:before,
.stars span.star-off:before {
  color: #ddcbb9;
}
