.languagesMenu__flags {
  display: none;
}

.languagesMenu {
  order: -1;
  padding: 4px;

  display: block !important;
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.languagesMenu__content {
  order: 20;
  margin-left: 6px;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  position: relative !important;
  left: unset !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  background-color: transparent;
  @media screen and (max-width: 900px) {
    margin-left: 0;
    gap: 20px;
    order: -1;
  }

  .languagesMenu__box {
    height: unset;
    min-height: unset;
    line-height: unset;
    position: relative !important;
    &[data-target="currency"] {
      .languagesMenu__header {
        &::before {
          //content: url(/dist/assets/coins-blue.svg);
          height: 24px;
        }
      }
    }
  }

  .languagesMenu__box.open .languagesMenu__list {
    display: block !important;
  }

  .languagesMenu__header {
    margin: 0;
    padding: 0;
    flex: unset;
    height: unset;
    min-height: unset;
    line-height: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    color: $color-font;
    font-size: remMM($text-md);
    font-weight: 400;
    line-height: emMM(21.6, $text-md);
    // color: $color-primary-80;
    text-transform: unset;

    img {
      width: unset !important;
      max-width: unset !important;
    }
    &.languagesMenu__header--name {
      display: none !important;
      visibility: hidden !important;
      opacity: 0 !important;
    }

    .caret {
      border: unset !important;
      border-color: unset !important;
      width: 24px;
      height: 24px;
      position: relative;

      &::before {
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //background: url(/dist/assets/arrow-down-blue.svg) no-repeat center center;
        background-size: cover;
        display: block;
        position: absolute;
      }
    }
  }

  .languagesMenu__list {
    min-width: unset;
    -webkit-box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 16px 5px rgba(0, 0, 0, 0.16);
    display: none !important;
    left: 0;
    position: absolute;
    z-index: 1002;

    li {
      a {
        &:hover {
          background-color: $color-font-10 !important;
          color: $color-font !important;

          span {
            color: $color-font !important;
          }
        }

        .shp-flag {
          display: none !important;
        }

        span {
          margin: 0;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

.navigation-buttons {
  display: flex;
  align-items: center;
  padding: 0 !important;

  a {
    padding: 8px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: remMM(13) !important;
    line-height: emMM(16, 13) !important;
    gap: 8px !important;
    @media screen and (max-width: 767px) {
    }
    &.top-nav-button-account,
    &.top-nav-button-login,
    &.cart-count,
    &.toggle-window[data-target="search"],
    &.toggle-window[data-target="navigation"] {
      transition: all 0.3s ease-in-out;
      box-shadow: unset;
      outline: unset;
      white-space: nowrap;
      &::before {
        transition: all 0.3s ease-in-out;
        content: "" !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        width: 24px;
        height: 24px;
        line-height: 0;
        margin-right: 0;
      }

      @media (max-width: 767px) {
        span {
          display: none;
        }
      }

      @media (max-width: 370px) {
        &::before {
        }
      }
    }

    &.top-nav-button-login,
    &.top-nav-button-account {
      display: flex;
      width: unset;
      height: unset;
      font-size: remMM($text-default);
      font-weight: 400;
      color: $color-font;
      line-height: emMM(20.11, $text-default);
      display: flex;
      background-color: unset;
      &:hover {
        color: $color-font !important;
      }
      span {
        // padding-top: 2px;
        @media screen and (max-width: 1200px) {
        }
      }

      &::before {
        // background-image: url(/dist/assets/user-dark.svg);
      }

      &:hover {
        background-color: unset !important;

        &::before {
          // background-image: url(../img/icon/user-hov.svg);
        }
      }

      // &.active {
      //     &::before {
      //         content: url(../img/icon/login-hov.svg);
      //     }
      // }
    }

    &.cart-count {
      position: relative !important;
      color: $color-font-invert;
      display: flex !important;
      left: unset !important;
      top: unset !important;
      bottom: unset !important;
      right: unset !important;
      transform: unset !important;
      text-transform: unset !important;
      margin-right: 0px;
      padding: 8px !important;

      @media (max-width: 992px) {
        margin-right: 0px;
      }
      @media screen and (max-width: 767px) {
      }
      i {
        padding: 1px 0 0 0px;
        position: absolute;
        bottom: 26px;
        top: unset;
        left: unset;
        right: 16px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-primary;
        color: $color-font-invert;
        font-size: remMM(10);
        font-style: italic;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-style: normal;
        // transform: translateY(-50%);

        // @media (max-width: 767px) {
        //     top: 4px;
        //     right: -6px;
        // }
      }

      .cart-price {
        display: inline-block !important;
        color: $color-font;
        white-space: nowrap;
        // position: absolute;
        // top: 80%;
        // left: 50%;
        // transform: translateX(-50%);
        // color: $color-font-60;
        // font-size: remMM(13);
        // letter-spacing: 0.5px;
        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }

      &::before {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: unset;
        margin: 0;
        margin-right: 0 !important;
        // background-image: url(/dist/assets/cart-dark.svg);
        width: 24px;
        height: 24px;
        @media screen and (max-width: 767px) {
          // background-image: url(/dist/assets/cart-white.svg);
        }
      }

      &:hover {
        color: $color-font-invert;

        cart-price {
        }

        &::before {
          // background-image: url(../img/icon/cart-hov.svg);
        }
      }
    }

    &.toggle-window[data-target="search"] {
      font-size: remMM($text-xs);
      line-height: emMM(16, $text-xs);
      color: $color-font;

      &::before {
        //content: url(/dist/assets/select-arrow.svg) !important;
      }
    }

    &.toggle-window[data-target="navigation"] {
      width: 40px !important;
      height: 40px !important;
      background-color: $color-primary !important;
      top: calc(100% + 5px) !important;
      left: unset !important;
      right: unset !important;
      bottom: unset !important;
      position: absolute !important;
      order: 25 !important;
      // background-color: $color-accent;
      margin-left: 6px !important;
      padding: 8px !important;
      &:hover {
        background-color: $color-primary !important;
        color: unset;
      }

      &::before {
        // content: url(/assets/img/icon/hamburger.svg) !important;
        background-color: unset !important;
        width: 24px;
        height: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-font-invert !important;
        justify-content: center;
        @media screen and (max-width: 767px) {
          // content: url(/dist/assets/hamburger-mobile.svg) !important;
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 8px;
    // padding: emMM(8);
    text-decoration: none;
  }

  @media (max-width: 1200px) {
    gap: 20px;

    // .top-nav-button-account,
    // .top-nav-button-login {
    //     display: none;
    // }
  }

  @media (max-width: 767px) {
    gap: 25px;

    .top-nav-button-login,
    .cart-count {
      span {
        display: none;
      }
    }
  }

  .toggle-window[data-target="search"] {
    display: none;
  }

  // @media (min-width: 992px) {

  //     .toggle-window[data-target='navigation'] {
  //         display: none;
  //     }
  // }

  @media (max-width: 767px) {
    a {
      gap: emMM(2);
      padding: emMM(0);
    }
  }
}

.type-product {
  #header {
    border-bottom: 1px solid $color-font-10;
  }
}

#header .search-form {
  display: block !important;
}

.languagesMenu__content,
.languagesMenu__header {
  border: unset !important;
  border-color: unset !important;
}
body.search-window-visible {
  .search {
    display: block !important;
  }
}
.search {
  @include container($container-width-second);
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;

  flex: unset !important;
  margin: 0 0px 0 0px;
  display: block !important;
  @media screen and (max-width: 1300px) {
    // max-width: 380px;
  }

  @media screen and (max-width: 992px) {
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0 !important;
    padding-right: 48px !important;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
    position: relative;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      max-width: 100% !important;
    }
    fieldset {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;

      padding: 0px;
      gap: 12px;
      &::before {
        // content: url(/assets/img/icon/Renomag-search-new.svg);
        position: absolute;
        height: 20px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
      .form-control {
        max-width: 100%;
        width: 100% !important;
        // background-color: $color-font-10;
        height: 40px !important;
        border: 2px solid $color-primary !important;
        border-radius: 4px !important;
        font-size: remMM(13);
        font-weight: 700 !important;
        color: $color-font-second !important;
        padding: 10px 10px 10px 34px !important;
        @media screen and (max-width: 992px) {
          border-radius: 0 !important;
        }
        @media screen and (max-width: 767px) {
          height: 40px !important;
          max-width: 100%;
        }
        &:focus {
          box-shadow: none !important;
        }
      }

      input {
      }

      .btn {
        right: 0px;
        top: 0;
        left: unset;
        border-radius: 0 4px 4px 0 !important;
        padding: 0 0px 0 0 !important;
        border: none !important;
        font-size: remMM($text-default) !important;
        font-weight: 700;
        position: absolute;
        box-shadow: unset;
        padding: 0;
        outline: unset;
        width: 70px;
        height: 40px !important;
        background-color: $color-primary !important;
        border-radius: unset;
        text-transform: unset !important;

        // &:hover {
        //     background-color: transparent;

        //     &::after {
        //         background-image: url(/assets/img/icon/search.svg);
        //     }
        // }
        // &::before {
        //     content: "";
        //     right: 9px;
        //     height: 70%;
        //     width: 2px;
        //     background-color: $color-font;
        //     position: absolute;
        //     display: block;
        // }

        &:after {
          display: none;
        }
      }
    }
  }
}

.site-name-wrapper {
  flex: unset !important;
  transform: unset !important;
  line-height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: $gap-default;
  height: unset;
  @media screen and (max-width: 1000px) {
    height: unset;
    gap: 8px;
  }
  .site-name {
    position: relative !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    transform: unset !important;
    display: flex !important;
    font-size: unset !important;
    line-height: 0;

    a {
      padding: 15px !important;
      display: flex;
      @media screen and (max-width: 992px) {
        padding: 3px !important;
      }
      img {
        display: block;
        max-width: unset !important;
        max-height: unset !important;
        height: unset !important;
        @media screen and (max-width: 900px) {
          max-width: 270px;
        }

        @media screen and (max-width: 767px) {
          width: unset !important;
          max-width: 300px !important;
          padding: 0 !important;
          max-height: 35px;
        }
        @media screen and (max-width: 580px) {
          max-width: 140px !important;
        }
        @media screen and (max-width: 370px) {
          max-width: 110px !important;
        }
      }
    }
  }
}

#header {
  transition: all 0.3s ease-in-out;
  position: sticky;
  z-index: 1000;
  top: 0;
  margin-bottom: 0 !important;
  .container {
    @include container($container-width-second);
  }

  &.sticky.scroll-down {
    top: calc(var(--header-top-height) * -1);
    .menu-level-1 {
      max-height: calc(100vh - 50px);
      @media screen and (max-width: 992px) {
        max-height: unset;
      }
    }
  }

  &.sticky.scroll-up {
    .header-top {
      margin-top: 0;
    }
    .menu-level-1 {
      max-height: calc(100vh - (var(--header-top-height)));
      @media screen and (max-width: 992px) {
        max-height: unset;
      }
    }
  }

  &.sticky {
    -webkit-box-shadow: 0px 5px 22px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 5px 22px 10px rgba(0, 0, 0, 0.16);

    #navigation {
      &::after {
        max-width: 100vw;
      }
    }
    &.scroll-down {
      #navigation {
        &::after {
          max-width: 100vw;
          border-radius: 0;
        }
      }
    }
  }

  .header-top > div {
    align-self: unset !important;
  }

  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    height: unset;
    padding: 0px 0px 0px 0px;
    position: relative;
    z-index: 1001;
    gap: 12px;
    @media screen and (max-width: 767px) {
      flex-direction: row;
    }
    .site-name-wrapper {
      order: -2;
    }
    .navigation-buttons {
      order: 3;
    }
    // .site-name-wrapper {
    //     position: absolute;
    //     left: 50%;
    //     transform: translate(-50%, -50%) !important;
    //     top: 50%;

    //     @media screen and (max-width: 767px) {
    //         left: 0;
    //         transform: unset !important;
    //         position: relative;
    //     }
    // }

    // &::before {
    //     content: "";
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     top: 50%;
    //     height: 100%;
    //     background-color: ;
    //     display: block;
    //     position: absolute;
    //     z-index: -1;
    //     width: calc(100vw - var(--scrollbar-width) + 0.1px);
    // }

    @media (min-width: 1101px) {
      [data-target="navigation"] {
        display: none !important;
      }
    }

    @media (max-width: 992px) {
      [data-target="navigation"] {
        display: flex !important;
      }
    }

    @media (max-width: 767px) {
      padding: 8px 0 0px;

      .site-name-wrapper {
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        // flex-direction: column;
        // flex-wrap: nowrap;

        .site-name {
          a {
            height: unset;
          }
        }
      }
    }

    .navigation-buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
      flex-wrap: nowrap;
      flex: unset !important;
      padding: 0 !important;
      gap: 0px;

      a {
        &[data-target="search"] {
        }

        &.top-nav-button-login {
          order: 2;
        }

        &.contacts {
          order: 0;
        }

        &.toggle-window {
          order: 3;
        }
      }
    }
  }
}
.menu-helper {
  &.empty {
    display: none !important;
  }
}
.top-navigation-bar-menu-helper {
  display: none !important;
}
.new-navigation-window-visible {
  &::before {
    content: "";
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100vw - var(--scrollbar-width) + 0.4px);
    height: 100vh;
    background-color: $header-bg;
    display: block;
    z-index: 30;
    opacity: 1;
  }
}
.submenu-visible,
.navigation-window-visible {
  @media screen and (max-width: 992px) {
    &::before {
      content: "";
      position: fixed;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: calc(100vw - var(--scrollbar-width) + 0.4px);
      height: 100vh;
      background-color: $black-30;
      display: block;
      z-index: 30;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 992px) {
  .language-window-visible {
    &::before {
      content: "";
      position: fixed;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: calc(100vw - var(--scrollbar-width) + 0.4px);
      height: 100vh;
      background-color: $black-30;
      display: block;
      z-index: 30;
    }

    &.navigation-window-visible {
      #navigation {
        max-width: 100%;
        right: 0;
      }
    }
  }
}
.second-logo {
  @media screen and (max-width: 1000px) {
    max-width: 50px;
    min-width: 30px;
  }
  @media screen and (max-width: 767px) {
    max-width: 30px;
    min-width: 30px;
  }
}
.holder-phone-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: remMM(13) !important;
  line-height: emMM(16, 13) !important;
  font-weight: 700 !important;
  span {
    &:first-of-type {
      padding: 0 24px 0 0;
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $color-font;
      }
    }
  }
}
.top-navigation-bar {
  // z-index: 1000;
  // position: relative;
  // background-color: ;
  // padding: 16px 0;
  // border: unset !important;
  // box-shadow: unset !important;
  // outline: unset !important;
  position: relative;
  z-index: 1160;
  padding: 7px 0;
  border: unset !important;
  border-bottom: 1px solid #f8f8f8 !important;

  @media screen and (max-width: 992px) {
    padding: 4px 0;
  }
  .information-wrapper {
    order: -2;
    flex: unset !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    background-color: #f8f8f8 !important;
    padding: 0 0px 0 0;
    position: relative;
    z-index: 200;
    @media screen and (max-width: 1200px) {
      cursor: pointer;
    }
    @media screen and (max-width: 767px) {
      display: none !important;
    }
    &::before {
      // content: url(/assets/img/icon/zvonek.svg);
      display: flex;
      background-color: $color-primary;
      width: 38px;
      height: 28px;
      align-items: flex-end;
      justify-content: center;
      @media screen and (max-width: 1200px) {
        cursor: pointer;
      }
    }
    .text {
      padding: 0 12px 0 0;
      @media screen and (max-width: 1200px) {
        display: none !important;

        &.active {
          padding: 5px 12px 5px 10px;
          display: block !important;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: #f8f8f8 !important;
          white-space: nowrap;
          left: 100%;
        }
      }
    }
  }

  .container {
    @include container($container-width-second);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $gap-3xl;
    flex-wrap: nowrap;
    &::before,
    &::after {
      display: none;
    }
    & > div {
      flex: unset;
      max-width: 100%;
    }
    @media screen and (max-width: 992px) {
      gap: 16px;
    }
  }
  .top-navigation-menu {
    background-color: unset !important;
  }
  .top-navigation-tools {
    .upper-header-link {
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0px 0;
  }

  .top-navigation-contacts {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background: unset;
    position: relative !important;
    gap: 16px;
    .holder-phone-time {
      @media screen and (max-width: 1300px) {
        display: none !important;
      }
    }
    @media screen and (max-width: 767px) {
      gap: 10px;
      width: 100%;
      justify-content: space-between;
      overflow-x: scroll !important;
      overflow-y: hidden !important;
    }

    .project-phone,
    .project-email,
    address {
      color: $color-font-20;
      > span {
        display: inline-block !important;
      }
      @media screen and (max-width: 370px) {
        &::before {
          display: none !important;
        }
      }
    }

    .project-phone {
      &::before {
        // background-image: url(../img/icon/phone-off.svg);
      }

      &:after {
        background-color: $color-font-20;
      }
    }

    .project-email {
      &::before {
        // background-image: url(../img/icon/mail-off.svg);
      }

      &:after {
        background-color: $color-font-20;
      }
    }

    address {
      white-space: nowrap;

      &::before {
        // background-image: url(../img/icon/point-off.svg);
      }
    }
  }
}

@media (max-width: 992px) {
  body.navigation-window-visible {
    --scrollbar-width: 0px;

    overflow: hidden !important;
    header {
      border-bottom-right-radius: 0px !important;
    }
  }
}
@media (max-width: 767px) {
  body.navigation-window-visible {
    header {
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }
}
.navigation-close {
  display: none !important;
}

.navigation-window-visible {
  .navigation-buttons a.toggle-window[data-target="navigation"]::before {
    content: "\e912" !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-navigation-contacts {
    left: unset !important;
    bottom: unset !important;
  }
}

.navigation-window-visible #navigation {
  max-width: 100%;
  right: 0;
  // overflow: hidden !important;

  b {
    padding: 0 !important;
    visibility: visible !important;
  }
}

.mobile {
  &.navigation-window-visible {
    @media (max-width: 992px) {
      overflow: hidden !important;
    }
  }
}

.search-whisperer {
  z-index: 20000;
  top: calc(100% + 10px);
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  @media screen and (max-width: 767px) {
    top: 100% !important;
    left: 0px !important;
    right: unset !important;
    transform: unset !important;
  }
}

#nav-manufacturers {
  display: none !important;
}
.new-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  @media screen and (max-width: 1400px) {
    overflow-y: hidden;
    overflow-x: auto;

    // Skryje scrollbar ve Webkit pro .new-menu
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
      background: transparent;
    }

    // Skryje scrollbar ve Firefoxu
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 4px;
    width: 100%;
    @media screen and (max-width: 1400px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      white-space: nowrap;
    }
    li {
      padding: 0 !important;
      margin-right: 4px;
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      &:last-of-type {
        margin-right: 0;
      }
      &:nth-of-type(1) {
        margin-right: 0;
        a {
          border-radius: 4px 4px 0 0;
          font-size: remMM($text-default);
        }
      }
      &:nth-of-type(2) {
        margin-right: 16px;
        a {
          border-radius: 4px 4px 0 0;
          font-size: remMM($text-default);
        }
      }
      a {
        @include trans(0.3s);
        border: 2px solid $color-primary;
        border-radius: 8px 8px 0 0;
        padding: 2px 14px;
        color: $color-font;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-weight: 700;
        font-size: remMM($text-default);
        line-height: emMM(16, $text-default);
        &:hover {
          color: $color-primary;
          img {
            opacity: 1;
          }
        }
        span {
          @include inherit();
          text-align: center;
          white-space: nowrap;
        }
        img {
          @include trans(0.3s);
          aspect-ratio: 1;
          max-width: 32px;
          max-height: 32px;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          @media screen and (max-width: 1400px) {
            min-height: 32px;
            min-width: 32px;
          }
        }
      }
    }
  }
}
#navigation {
  margin: 0;
  height: unset !important;
  display: flex;
  align-items: center;
  left: unset;
  overflow: visible;

  z-index: 1000;
  padding: 0px 0px;
  @media screen and (min-width: 992px) {
    position: unset !important;
  }
  // &::after {
  //   @include trans(0.4s);
  //   content: "";
  //   top: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   height: 100%;
  //   width: calc(100vw - var(--scrollbar-width) + 0.1px);
  //   max-width: 100vw;
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   background-color: #f5f4f4;
  // }
  .navigation-close {
    right: 0px !important;
    top: -10px !important;
  }

  .submenu-arrow {
    display: none !important;
  }

  .navigation-in {
    @media screen and (min-width: 992px) {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;

      width: auto;
      max-width: 100%;
      gap: 4px;
      background-color: transparent !important;
      position: relative !important;
      left: unset !important;
      right: unset !important;
      top: unset !important;
      bottom: unset !important;
      overflow: visible !important;
      // padding: 16px 0;
      &.active {
        &::before {
          display: block;
        }
      }
      &::before {
        position: absolute;
        top: 100%;
        right: 100%;

        width: 30vw;
        height: 90vh;
        background: $header-bg;
        display: none;
        content: "";
      }
    }
    .menu-level-1 {
      @media screen and (min-width: 992px) {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 100%;
        width: unset;
        background: $header-bg;
        flex-wrap: nowrap;
        max-height: calc(100vh - var(--header-total-height));
        padding: 0 0 15vh 0px;
        overflow-x: hidden;
        overflow-y: auto;
        direction: rtl;
        display: none !important;
        width: 350px;
        &.active {
          display: flex !important;
        }
        &::-webkit-scrollbar {
          width: 6px;
          background-color: $color-accent;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-track {
          border-radius: 4px;
          background-color: $color-accent;
        }

        &::-webkit-scrollbar-thumb {
          background: $color-font;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-corner {
          display: none;
        }
      }
      > li,
      > li > a,
      .menu-level-2-helper,
      li,
      a {
        direction: ltr;
      }
      & > li > a {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 8px;
        text-transform: unset !important;
        font-weight: 400 !important;
        font-size: remMM($text-default);
        line-height: emMM(26, $text-default);
      }

      @media (max-width: 1400px) {
        gap: 20px;
      }

      li {
        border: unset !important;
        padding: 12px 10px;
        position: relative;
        width: 100%;
        &:hover {
          a {
            // background-color: transparent !important;
          }
        }
        @media (max-width: 1400px) {
          // padding: 15px 0;
        }

        a {
          padding: 0px;
          color: $black;
          position: relative;
          margin-left: 0 !important;
          margin-right: 0 !important;
          font-size: remMM($text-default);
          line-height: emMM(22.78, $text-default);
          text-transform: unset;
          // letter-spacing: 0.1em;
          font-weight: 700;

          @media (max-width: 1400px) {
            // font-size: remMM(20);
          }

          @media (max-width: 1000px) {
            letter-spacing: 0em;
            font-size: remMM(16);
          }

          // &::before {
          //     content: "";
          //     left: 5px;
          //     top: 50%;
          //     transform: translateY(-50%);
          //     width: 6px;
          //     height: 6px;
          //     border-radius: 50%;
          //     overflow: hidden;
          //     background-color: $color-font-invert;
          //     position: absolute;
          //     display: block;

          //     @media (max-width: 767px) {
          //         display: none;
          //     }
          // }

          // &::after {
          //   transition: all 0.3s ease-in-out;
          //   content: "";
          //   left: 0px;
          //   width: 0;
          //   height: 1px;
          //   display: block;
          //   position: absolute;
          //   bottom: 3px;
          //   background-color: $color-font;
          // }

          &:hover {
            // color: $color-font;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }

          b {
            padding: 0 !important;
            @include inherit();
          }
        }

        &.ext {
          &::after {
            content: "";
            width: 10px;
            right: 10px;
            height: 2px;
            border-radius: 40px;
            background-color: $color-primary;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
          }
          &::before {
            content: "";
            width: 10px;
            right: 10px;
            height: 2px;
            border-radius: 40px;
            background-color: $color-primary;
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
          }
          a {
            position: relative;
          }

          &.exp {
            // background-color: rebeccapurple;

            .menu-level-2-helper {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;

              a {
                text-transform: none;
                letter-spacing: unset;

                &::before {
                  display: none;
                }
              }
            }

            @media (max-width: 992px) {
              a {
                position: relative;

                &::before {
                  display: none;
                }
              }

              .menu-level-2-helper {
                display: none;
              }
            }
          }
        }
      }

      .menu-level-2-helper {
        position: fixed;
        /* left: 0; */
        height: 100%;
        max-height: calc(100vh - var(--header-total-height));
        right: var(--header-container-margin-right, 0px);
        width: 100%;
        top: var(
          --header-total-height,
          188px
        ); // fallback na 188px, pokud proměnná není
        max-width: calc(
          100% -
            (
              var(--header-container-margin-left, 0px) +
                var(--header-container-margin-right, 0px) + 350px
            )
        );

        display: none;
        padding: 40px 72px 48px 72px;
        gap: 38px;
        z-index: 30;
        // max-height: 43vh;

        overflow-x: hidden;
        overflow-y: scroll;
        & > .menu-level-2-helper {
          position: unset;
          transform: unset;
          width: 100%;
          padding: 0;
          overflow: unset;
          box-shadow: unset !important;
        }
        &::-webkit-scrollbar {
          width: 5px;
          background-color: $color-secondary;
        }

        &::-webkit-scrollbar-track {
          border-radius: 4px;
          background-color: $color-secondary;
        }

        &::-webkit-scrollbar-thumb {
          background: $color-primary;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-corner {
          display: none;
        }

        .menu-level-2 {
          max-width: 100%;
          gap: 24px;
          width: 100%;
          display: grid;
          align-items: stretch;
          grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
          position: relative !important;
          top: unset !important;
          border: unset !important;
          left: unset !important;
          // display: none;
          // position: absolute;
          // flex-direction: row;
          // justify-content: center;
          // align-items: center;
          // flex-wrap: wrap;

          // grid-template-columns: repeat(3, 1fr);
          // width: auto;
          // width: auto;

          // // width: unset;
          // left: 50%;
          // top: 100%;
          // transform: translateX(-50%);
          // gap: 28px;
          // padding: 20px;
          // -webkit-box-shadow: 0px 12px 16px 8px rgba(0, 0, 0, 0.16);
          // box-shadow: 0px 12px 16px 8px rgba(0, 0, 0, 0.16);

          li {
            transition: all 0.3s ease-in-out;
            break-inside: avoid-column;
            margin-bottom: 0px;
            width: 100%;
            // max-width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            text-align: left;
            gap: 0px;
            // background-color: #e9e9e9;
            border: 1px solid #dcddde !important;
            border-radius: 0px;
            padding: 0px;
            margin: 0 0px 0px 0 !important;
            background-color: #f8f8f8;
            // box-shadow: 0px 12px 12px 0px #0000000f;

            &:nth-of-type(even) {
              // margin: 0 0px -1px -1px !important;
            }

            &:hover {
              // border-color: $color-font !important;
              border-color: $color-primary !important;
              background-color: $color-primary !important;
              & > div {
                color: $color-font-invert;
                a {
                  color: $color-font-invert;
                  &:after {
                    right: -5px;
                    // background-image: url(/dist/assets/arrow-right-nav-hov.svg);
                  }
                }
              }
            }

            .menu-image {
              padding: 0;
              aspect-ratio: 1;
              width: 100%;
              position: relative;
              overflow: hidden;

              &::after {
                display: none;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            & > div {
              display: block;
              width: 100%;
              max-width: 100%;
              display: flex;
              margin: auto 0;
              text-align: left;
              color: $color-font;
              a {
                color: $color-font;
                text-align: left;
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                padding: 16px 28px 15px 8px;

                font-weight: 700;
                // margin-bottom: 10px;
                font-size: remMM($text-default);
                line-height: emMM(20, $text-default);
                margin: 0;
                width: 100%;

                &:after {
                  @include trans(0.3s);
                  content: "";
                  width: 24px;
                  height: 24px;
                  display: block;
                  position: absolute;
                  right: 4px;
                  top: 50%;
                  transform: translateY(-50%);
                  // background: url(/dist/assets/arrow-right-nav.svg) center
                  //   center no-repeat;
                  background-size: cover;
                }

                & > .menu-image {
                  width: 42px;
                  height: 42px;
                  border-radius: 5px;
                  border: 1px solid $color-font-20;
                  overflow: hidden;
                  display: none;

                  img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    object-position: center;
                  }
                }

                span {
                  // width: calc(100% - 52px);
                }
              }

              .menu-level-3 {
                display: none !important;

                li {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-start;
                  flex-wrap: nowrap;

                  &.more-from-category {
                    margin-top: 10px;

                    a {
                      text-decoration: underline;
                      font-weight: 700;

                      &::before {
                        display: none;
                      }

                      &:hover {
                        text-decoration: none;
                        font-weight: 700;

                        &::before {
                          display: none;
                        }
                      }
                    }
                  }

                  a {
                    font-weight: 500;
                    font-size: remMM(14);
                    line-height: 1.2em;
                    position: relative;
                    margin: 0;
                    padding: 0;
                    border: unset;
                    width: unset;

                    &:hover {
                      font-weight: 700;
                      color: $color-font;

                      &::before {
                        display: block;
                      }
                    }

                    // &::before {
                    //     content: "";
                    //     left: calc(100% + 10px);
                    //     top: 50%;
                    //     width: 24px;
                    //     height: 24px;
                    //     transform: translateY(-50%);
                    //     position: absolute;
                    //     display: none;
                    //     background-image: url(../img/icon/arrow-right.svg);
                    //     background-position: center center;
                    //     background-repeat: no-repeat;
                    //     background-size: cover;
                    // }
                  }
                }

                @media (max-width: 767px) {
                  flex-direction: column;
                  gap: 0;

                  a {
                    padding: emMM(12) emMM(24) emMM(12) 0;
                    display: flex;
                    align-items: center;
                    color: $color-font;

                    &::before {
                      content: "";
                      display: block;
                      width: 4px;
                      height: 4px;
                      border-radius: 50%;
                      background-color: $color-accent;
                      margin: 10px;
                    }
                  }
                }
              }
            }
          }

          @media (max-width: 767px) {
            display: none;
            position: initial;
            padding: 20px;
            flex-direction: column;
            columns: unset;
            column-gap: unset;

            & > li {
              margin-bottom: 1px;
            }

            & > li > div > a {
              padding: emMM(12) emMM(10);
              background-color: $color-font-05;
              border-radius: 5px;
              margin-bottom: 0;

              & > .menu-image {
                display: none;
              }
            }
          }
        }
      }
    }

    .navigationActions {
      display: none;
    }
  }

  // .top-navigation-menu {
  //     background-color: unset !important;
  //     padding-right: 0;
  //     height: unset !important;
  //     color: $color-font !important;
  //     border-bottom: 1px solid $color-font-40;

  //     .top-navigation-menu-trigger {
  //         display: none !important;
  //     }

  //     ul,
  //     .top-navigation-bar-menu {
  //         display: flex;
  //         flex-direction: row;
  //         align-items: center;
  //         justify-content: flex-start;
  //         flex-wrap: nowrap;
  //         gap: 60px;

  //         @media (max-width: 1400px) {
  //             gap: 40px;
  //         }

  //         @media (max-width: 1200px) {
  //             gap: 15px;
  //         }

  //         li {
  //             &.cropped {
  //                 display: block;
  //             }

  //             &::before {
  //                 display: none;
  //             }

  //             a {
  //                 transition: all 0.3s ease-in-out;
  //                 color: $color-font !important;
  //                 padding: 8px !important;
  //                 position: relative;
  //                 font-weight: 400 !important;
  //                 text-transform: lowercase;

  //                 &:hover {
  //                     &::before {
  //                         width: 100%;
  //                     }
  //                 }

  //                 &::before {
  //                     transition: all 0.3s ease-in-out;
  //                     content: '';
  //                     left: 0;
  //                     width: 0;
  //                     height: 1px;
  //                     display: block;
  //                     position: absolute;
  //                     bottom: 0px;
  //                     background-color: $color-font;
  //                 }
  //             }
  //         }
  //     }
  // }

  @media (max-width: 992px) {
    position: fixed;
    right: 0;
    // max-width: 0;
    padding: 0;
    width: 60%;
    transition: all 0.15s ease-in-out;
    margin-right: 0;
    max-width: 0;
    overflow: hidden !important;
    height: 100vh;
    top: 0;
    margin: 0 !important;
    z-index: 2000;
    background-color: $color-page-bg;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100vh - 42px) !important;

    .menu-helper {
      display: none !important;
    }

    .navigation-in {
      padding: 32px 32px 80px 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      width: 100%;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
      gap: 20px;
      background-color: transparent !important;
      .menu-level-1 {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        flex-wrap: nowrap !important;
        position: unset !important;
        li {
          padding: 0;
          width: 100%;
          margin-bottom: 0;
          a {
            padding: 0 !important;
            color: $color-font;
            background-color: unset !important;
            padding: unset !important;
            &::after {
              display: none !important;
            }
          }

          .menu-level-2 {
            position: unset !important;
            border-bottom: unset !important;
            gap: 16px;
            margin-top: 24px;
            margin-left: 16px !important;
            li {
              align-items: flex-start !important;
              text-align: left !important;
              min-height: unset !important;
              .menu-image {
                display: none !important;
              }
              > div {
                width: 100% !important;
                max-width: 100% !important;
              }
              a {
                font-weight: 400;
                font-size: remMM($text-sm);
                span {
                  opacity: 1;
                  visibility: visible;
                  @include inherit();
                }
              }
            }
          }
        }
      }
    }
    .top-navigation-menu {
      display: none !important;
    }
    // .top-navigation-menu {
    //     border: unset !important;
    //     padding-right: 32px;

    //     .top-navigation-bar-menu {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: flex-end;
    //         justify-content: flex-start;
    //         flex-wrap: nowrap;

    //         a {
    //             padding: unset !important;
    //         }
    //     }
    // }

    .navigation-in ul,
    .top-navigation-bar-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-left: 0 !important;
      gap: 20px;
      // gap: 23px;
      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        text-align: right;
        margin-bottom: 0px;
        border: unset !important;
        border-color: unset !important;
        padding: 0 !important;
        &.cropped {
          display: block;
        }

        &::before {
          display: none;
        }

        a {
          border: unset !important;
          border-color: unset !important;
          font-size: remMM(16);
          padding: 0 !important;
          padding: 0px !important;
          color: $color-font !important;
          font-weight: 400;
          &:hover {
            &::before {
              width: 100%;
            }
          }

          &::before {
            display: none;
          }
        }
      }
    }

    &:after {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .admin-logged {
    #navigation {
      top: calc(163px + 30px);
    }

    #header {
      &.sticky {
        #navigation {
          top: 50px;
        }
      }
    }
  }

  #navigation {
    top: calc(140px + 23px);
  }

  #header {
    &.sticky {
      #navigation {
        top: 50px;
      }
    }
  }
}

// @media (max-width: 992px) {
//     .admin-logged {
//         #navigation {
//             top: 120px;
//         }

//         #header {
//             &.sticky {
//                 #navigation {
//                     top: 70px;
//                 }
//             }
//         }
//     }

//     #navigation {
//         top: 120px;
//     }

//     #header {
//         &.sticky {
//             #navigation {
//                 top: 80px;
//             }
//         }
//     }
// }

@media (max-width: 767px) {
  .admin-logged {
    #navigation {
             top: 115px;
    }

    #header {
      &.sticky {
        #navigation {
          top: 50px;
        }
      }
    }
  }

  #navigation {
           top: 115px;
  }

  #header {
    &.sticky {
      #navigation {
        top: 50px;
      }
    }
  }
}
// @media (max-width: 580px) {
//   .admin-logged {
//     #navigation {
//       top: 109px;
//     }

//     #header {
//       &.sticky {
//         #navigation {
//           top: 109px;
//         }
//       }
//     }
//   }

//   #navigation {
//     top: 109px;
//   }

//   #header {
//     &.sticky {
//       #navigation {
//         top: 109px;
//       }
//     }
//   }
// }
// FIXES
.menu-helper {
  top: unset;
  bottom: unset;
  position: relative;

  &:not(.empty) {
    visibility: visible;
    background-color: transparent;
    z-index: 1000;

    &:hover > ul {
      display: block;
    }
  }

  .menu-level-2-helper,
  .submenu-arrow {
    display: none;
  }

  &::after {
    background-color: transparent;
    color: $black;
  }
}

// .navigation-in:not(.fitted) {
// 	padding-right: 48px;
// }

.top-menu-trigger-visible .top-navigation-menu-trigger {
  display: none;
}
.top-navigation-menu {
  height: unset !important;
  padding: 0 !important;
}
.top-navigation-tools {
  display: block;
  flex-direction: row;
  align-items: center;
  gap: $gap-default;
  margin-left: auto;

  display: none !important;
  .upper-header-link {
    font-size: remMM($text-md);
    font-weight: 400;
    line-height: emMM(21.6, $text-md);
    // color: $color-primary-80;
    text-transform: unset;
    // @include underline-mid($color-primary-80, 1px, 0px);
  }
}
.upper-header-link {
  @media screen and (max-width: 767px) {
    border: unset !important;
    border-color: unset !important;
    font-size: remMM(16);
    padding: 0 !important;
    padding: 0px !important;
    color: $color-font !important;
    font-weight: 700;
    margin-bottom: 10px;
  }
}
.top-navigation-bar-menu {
  display: flex;
  gap: 20px;
  text-transform: unset !important;
  li {
    font-size: remMM(13);
    font-weight: 700;
    line-height: emMM(16, 13);
    // color: $color-primary-80;
    text-transform: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    position: relative;
    &::before {
      display: none;
    }
    a {
      letter-spacing: 0em;
      padding: 0;
      position: relative;
      transition: all 0.3s ease-in-out;
      @include inherit();
      &:hover {
      }
    }
  }

  li.cropped {
    display: block;
  }
}

.submenu-visible {
  #navigation {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    .navigation-in {
      overflow: visible;
      // position: initial !important;
    }
  }
}

.ordering-process {
  #header {
    border-bottom: unset !important;

    .header-top {
      .doprava-v-hlavicce {
        opacity: 0;
      }

      .top-navigation-menu {
        display: none;
      }
    }

    .search {
      // display: none !important;
    }

    // @media screen and (min-width: 1101px) {
    //   #navigation {
    //     display: none;
    //   }
    // }
  }
}

.language-helper,
.currency-helper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px 10px;

  span {
    font-weight: 700;
    font-size: remMM(16);
    color: $color-font;
    width: 100%;
    display: block;
    text-transform: uppercase;
  }

  a {
    font-size: 400;
    font-size: remMM(16);
    color: $color-font;
  }
}

.site-msg.information {
  display: none !important;
  .container {
    max-width: 1440px !important;
  }

  .close {
    &::before {
      color: $color-font-invert !important;
    }
  }
}
