// body.mobile {
//     .shop-review {
//         .container {
//             padding: 0 !important;
//         }
//     }
// }

.shop-review {
  padding: 120px 0 80px 0;
  margin-bottom: 0px;
  position: relative;
  width: calc(100vw - var(--scrollbar-width) + 0.1px);
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
  .container {
    overflow: hidden;
    .swiper {
      overflow: visible !important;
    }
  }
  @media (max-width: 1440px) {
    padding: 80px 0 60px 0;
    margin-bottom: 0px;
  }

  @media screen and (max-width: 767px) {
    padding: 40px 0 32px 0;
    margin-bottom: 0px;

    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev {
      display: none;
    }
  }

  .container {
    position: relative;
  }

  .flex-holder {
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .swiper {
      overflow: visible !important;
    }
    .title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      width: 100%;
    }
    h2 {
      text-align: left;
      margin: 0;
      position: relative;
      padding-bottom: 8px;
      margin-bottom: 32px;
      &::after {
        content: "";
        height: 1px;
        width: 38px;
        background-color: $color-secondary;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      @media screen and (max-width: 767px) {
      }
    }
  }

  .votes-wrap {
    max-width: 100%;
    width: 100%;
    margin: 0 0 0px 0;

    .vote-rating {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      gap: 16px;
      overflow: visible !important;
      .vote-time {
        color: $color-font-second;
        font-size: remMM(13);
      }
    }
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 20px;
    @media screen and (max-width: 767px) {
      margin: 0 0 0px 0;
    }

    .vote-wrap {
      width: 100%;
      width: 100%;
      max-width: 100%;
      padding: 48px 40px;
      margin-right: 0px;
      margin-bottom: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      height: auto;
      // &::before {
      //     content: "";
      //     left: 34px;
      //     top: 34px;
      //     width: 47px;
      //     height: 41px;
      //     display: block;
      //     position: absolute;
      //     // background: url(../img/icon/uvozovky.svg) no-repeat center center;
      //     background-size: cover;
      // }

      .vote-header {
        margin-bottom: 16px;

        .vote-pic {
          display: none;
        }

        .vote-summary {
          .vote-name {
            margin: 0 !important;
          }
        }
      }

      .vote-content {
        margin-bottom: auto;
      }

      @media screen and (max-width: 767px) {
        // max-width: 280px;
        // min-width: 280px;
        padding: 50px 20px 20px 20px;

        &::before {
          left: 20px;
          top: 20px;
          width: 16px;
          height: 14px;
        }
      }
    }

    // @media screen and (max-width:900px) {
    //     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

    //     .vote-wrap {
    //         margin-bottom: 20px;
    //     }
    // }
  }

  .btn {
  }
}

.votes-wrap {
}

.vote-wrap {
  display: flex !important;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: $color-page-bg;
  border-radius: 12px;
  position: relative !important;
  padding: 24px 36px;

  // border: 1px solid $color-primary-01;
  .vote-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: $gap-md;
  }

  .vote-content {
    font-size: remMM($text-default);
    line-height: emMM(20.11, $text-default);
    color: $color-font-60;
    margin: 0 0 0px 0;
  }

  .vote-pic {
    height: 50px;
    min-width: 50px;
    padding-right: 0 !important;
    margin-right: 20px;
    .vote-initials {
      border-radius: 50%;
      color: $color-font;
      width: 100% !important;
      height: 100% !important;
      font-size: remMM(20) !important;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      line-height: 1em !important;
      padding-left: 4px !important;
    }

    img {
      display: none;
    }
  }

  .vote-name {
    font-size: remMM($h6);
    line-height: emMM(26, $h6);
    color: $color-font;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: $heading-font-family;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: $gap-xs;
    &::before {
      // content: url(/dist/assets/review-icon.png);
      height: 32px;
    }
    @include max-sm {
      font-size: remMM($h6-mobile);
    }
    span {
      @include inherit();
    }
  }

  .vote-summary {
    span {
    }

    .vote-rating {
      overflow: visible !important;
    }
  }
}

.stars {
  width: unset;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 24px;
  .star {
    height: 24px;
    line-height: 24px;
    width: 24px;
    font-size: 0 !important;

    &.star-on {
      &::before {
      //  content: url(/assets/img/icon/star-on-2.svg);
      }
    }
&.star-half:before{
//  content: url(/assets/img/icon/star-half-2.svg);
}
    &.star-off {
      &::before {
      //  content: url(/assets/img/icon/star-off-2.svg);
      }
    }
  }
}
