.close {
    @include trans(0.3s);
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    right: 2rem;
    top: 50%;
    cursor: pointer;

    &:hover {
        &:before {
            background-color: $color-danger;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            background-color: $color-danger;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &::before,
    &::after {
        @include trans(0.3s);
        content: "";
        width: 100%;
        height: 2px;
        background-color: $black;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.bg-close {
    @include trans(0.5s);
    z-index: -2;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    display: block;
    opacity: 0;
    visibility: visible;
    background-color: $color-font;
    opacity: 0;
}

.modal {
    @include trans(0.3s);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2150;
    display: none;
    flex-direction: row;
    padding-top: 75px;
    padding-bottom: 75px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: $color-page-bg;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: $color-page-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-danger;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-corner {
        display: none;
    }

    &.active {
        @include trans(0.3s);
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .bg-close {
            opacity: 0.6;
        }
    }




    .close {
        right: -50px;
        top: 0;
        left: unset;

        div {}

        &.active {}
    }

    .modal-text {
        @include trans(0.4s);
        max-width: 700px;
        width: 100%;
        background-color: #ffe0e0;
        position: relative;
        padding: 25px;
        transform: scale(1, 0);
        transform-origin: top;

        &.active {
            @include trans(0.4s);
            transform: scale(1, 1);
        }

        .holder {
            @include trans(0.3s);
            opacity: 0;

            p,
            h2,
            h3,
            h4,
            h5,
            blockquote,
            span,
            a {
                color: $black !important;
            }

            img {
                width: 100%;
                margin-bottom: 25px;
            }

            &.op1 {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-height: 0px) {
    .modal {
        &.active {
            .bg-close {}
        }


        overflow: unset;
        padding: 0;

        .modal-text {
            padding-top: 100px;

            .close {
                top: 20px;
                right: 20px;
            }

            .holder {

                iframe,
                video,
                img {}
            }
        }


        .bg-close {}

        .close {
            div {
                background-color: $black;
            }

            &.active {}
        }

        .modal-text {
            &.active {}

            .holder {
                &.op1 {}
            }
        }
    }
}