.order-summary-heading {
    text-align: left;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 620px;
    font-size: remMM(36);
    position: relative;
    padding-top: 110px;

    &:after {
        //content: url(../img/icon/hearth-small.svg);
        display: inline-block;

    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0px;
        width: 96px;
        height: 96px;
       // background: url(../img/icon/bene-mark.svg) no-repeat center center;
        background-size: cover;
    }

    @media (max-width: 767px) {
        margin-top: 50px;
    }
}

.order-summary-perex {
    text-align: left;
    margin: 0 auto 70px auto;
    width: 100%;
    max-width: 620px;
    font-size: remMM(16);
    position: relative;
}

.reca-number {
    text-align: center;
    font-size: remMM($h2);
    display: none;

    @media (max-width: 767px) {
        font-size: remMM($h2-mobile);
    }
}

.id--15 {
    .content-inner {
        position: relative;
        padding: 100px 0 90px 0;

        &::before {
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 1644px;
            max-width: 100vw;
            display: block;
            position: absolute;
            z-index: -1;
            background-color: $color-font-second;
        }
    }

    h4 {
        display: none;
    }

    .recapitulation-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        .co-box {
            border: unset;
            width: 100%;

            &.co-payment-method {
                order: 3;

                table {
                    tbody {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;

                        tr {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            gap: 20px;
                            margin: 0 0 1px 0;
                            padding: 11px 7px;
                            background-color: #F1F1F1;
                            font-size: remMM(14);
                            line-height: 1.2em;
                            color: $black;
                            font-weight: 400;
                            width: 100%;

                            th {
                                padding: 0;
                            }

                            td {
                                padding: 0;

                                strong {
                                    font-size: remMM(14);
                                    line-height: 1.2em;
                                    color: $black;
                                    font-weight: 400;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.co-payment-method,
.co-order {
    &:not(.box-bg-default) {
        max-width: 612px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        // padding: 50px 100px;
        // background-color: $color-page-bg;
        border-radius: 5px;
        // border: 1px solid $color-font-100;

        h4 {
            text-align: center;
            margin: 0 0 20px;
        }

        table.cart-table {
            tr {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 8px 0;
                border: unset;
                border-top: 1px solid #E4E4E4;

                .product-icon {
                    width: 82px;
                    height: 82px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .cart-item-amount {
                    font-size: remMM(14);
                    color: $black;
                    font-weight: 600;
                }

                .p-save {
                    margin: 0 10px;
                    font-size: remMM(14);
                    color: $black;
                    font-weight: 600;
                }

                .p-quantity {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    font-size: remMM(12);
                    font-weight: 400 !important;

                    strong {
                        font-weight: 400 !important;
                    }
                }

                .p-price {
                    font-weight: 700;
                    color: $color-font;
                }

                .p-name {
                    // max-width: 130px;
                    // width: 100%;
                    margin-right: auto;

                    br {
                        display: none;
                    }

                    a {
                        color: $black;
                        font-size: remMM(14);
                        line-height: 1.2em;
                        text-decoration: none;
                        font-weight: 400;
                    }

                    .main-link-variant {
                        font-size: remMM(12);
                        color: $color-font-second;
                    }
                }

                .cart-item-amount {
                    color: $color-font-700;
                    text-align: center;
                }

                .cart-item-amount,
                .cart-item-price {
                    text-align: right;
                    white-space: nowrap;
                }

                .cart-item-price {
                    font-size: remMM(14);
                    color: $black;
                    font-weight: 600;
                }

                @media (max-width: 480px) {
                    flex-wrap: wrap;
                    gap: 5px;
                    justify-content: space-between;

                    .cart-item-name {
                        margin: 0;
                        width: 100%;
                    }

                    .cart-item-amount {
                        margin-right: 10px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }

            &::before {
                display: none;
            }

            .cart-p-image {
                flex: 0 0 60px;
            }

            @media (max-width: 767px) {
                tr:not(.related) {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    row-gap: 10px;

                    .p-name {
                        flex-basis: calc(100% - 80px);
                    }

                    .p-quantity,
                    .p-price {
                        flex-basis: auto;
                    }

                    .p-quantity {
                        color: $color-font-700;

                        strong {
                            font-weight: 400;
                        }
                    }

                    .p-price {
                        // font-size: 1rem;
                        // font-weight: 700;
                        // text-align: right;
                    }
                }
            }
        }

        @media (max-width: 767px) {
            padding: 30px 20px;
        }
    }
}

.recapitulation-wrapper:not([data-testid='recapTable']) {
    text-align: center;

    .order-summary-item {
        justify-content: center;
        display: none;
    }

    .order-complete-links {
        p {
            margin: 0;
        }
    }
}