.btn,
.next-step-back,
.cp-button,
.add-comment,
.login-btn,
.display-results-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  cursor: pointer;
  @include trans(0.3s);
  text-decoration: none;

  font-family: $default-font-family;
}

.btn-border {
  color: $color-font;
  background-color: transparent;
  border: 2px solid $color-font;
  padding: em(16) em(22) em(16) em(22);
  font-size: rem(16);
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;

  &:hover {
    color: $color-font-second;
    background-color: $color-font;
  }
}

.btn-secondary,
.btn-default,
.btn.inline-block,
.comment-icon,
.chevron-after:not([href="#description"]) {
  text-decoration: unset;
  // white-space: nowrap;
  color: $color-font;
  border: 1px solid $color-secondary;
  background-color: $color-font-invert;
  text-align: center;
  padding: 8px 15px;
  text-transform: unset;
  font-size: rem(14);
  line-height: em(20, 14);
  font-weight: 600;
  border-radius: 4px;

  @include hover {
    background-color: $color-secondary;
    color: $color-font-invert;
  }
}

.btn-secondary,
.btn-default,
.comment-icon {
  text-decoration: none;
}

// .btn-secondary {
//     border: 1px solid $blue-200;

//     &:hover,
//     &:focus {
//         background-color: $blue-200;
//         color: $color-page-bg;
//     }
// }

.btn-primary,
.extended-banner-link,
.btn-cart,
.btn-conversion {
  text-decoration: unset;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  gap: 8px;
  @include trans(0.3s);
  background-color: $color-primary;
  color: $color-font-invert;
  padding: 9px 16px;
  text-transform: unset;
  font-size: rem(14);
  line-height: em(20, 14);
  font-weight: 600;
  border-radius: 4px;

  @include hover {
    background-color: $color-primary-600;
  }

  &.secondary {
    background-color: $color-secondary;

    @include hover {
      background-color: $color-primary-600;
    }
  }

  // @media (max-width: 767px) {
  //     padding: em(5) em(10)em(10) em(10);
  // }
}

.btn-tertiary {
  background-color: $color-page-bg;
  color: $color-font;

  &:hover,
  &:focus {
    background-color: $color-font;
    color: $color-page-bg;
  }
}

#submit-order {
  font-size: rem(16);
  line-height: em(22, 16);
  padding: 12px 38px;
}

.next-step-forward {
  font-size: rem(16);
  line-height: em(22, 16);
  padding: 12px 38px;

  span {
    @include inherit();
    display: inline-flex;
    gap: 8px;
    align-items: center;

    &::after {
      content: "";
      @include icon-mask(
        "/assets/images/icons/arrow-right.svg",
        $color-font-invert,
        16px,
        16px
      );
    }
  }
}

.continue-shopping,
.next-step-back {
  text-decoration: underline;

  @include hover {
    text-decoration: unset;
  }
}
