.btn,
.next-step-back,
.rate-form-trigger,
.cp-button,
.chevron-after,
.add-comment,
.login-btn,
.display-results-group {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  cursor: pointer;
  @include trans(0.3s);
  text-decoration: none;

  font-family: $default-font-family;
}

.btn-border {
  display: inline-block;
  color: $color-font;
  background-color: transparent;
  border: 2px solid $color-font;
  padding: emMM(16) emMM(22) emMM(16) emMM(22);
  font-size: remMM(16);
  letter-spacing: 0.75px;
  font-weight: 700;
  text-align: center;

  &:hover {
    color: $color-font-second;
    background-color: $color-font;
  }
}

.btn-secondary,
.btn-default,
.btn.inline-block,
.comment-icon {
  text-decoration: unset;
  // white-space: nowrap;
  display: inline-block;
  color: $color-font;
  border: 1px solid $color-secondary;
  background-color: $color-font-invert;
  text-align: center;
  padding: 8px 15px;
  text-transform: unset;
  font-size: remMM(14);
  line-height: emMM(20, 14);
  font-weight: 600;
  border-radius: 4px;

  @include hover {
    background-color: $color-secondary;
    color: $color-font-invert;
  }
}

.btn-secondary,
.btn-default,
.comment-icon {
  text-decoration: none;
}

// .btn-secondary {
//     border: 1px solid $blue-200;

//     &:hover,
//     &:focus {
//         background-color: $blue-200;
//         color: $color-page-bg;
//     }
// }

.btn-primary,
.extended-banner-link,
.rate-form-trigger,
.btn-cart,
.btn-conversion {
  text-decoration: unset;
  text-align: center;
  display: inline-block;
  @include trans(0.3s);
  background-color: $color-primary;
  color: $color-font-invert;
  padding: 9px 16px;
  text-transform: unset;
  font-size: remMM(14);
  line-height: emMM(20, 14);
  font-weight: 600;
  border-radius: 4px;
 @include hover{
    background-color: $color-primary-600;
  }
&.secondary{
  background-color: $color-secondary;
@include hover{
    background-color:$color-secondary-600;
  }
}
  // @media (max-width: 767px) {
  //     padding: emMM(5) emMM(10)emMM(10) emMM(10);
  // }
}
.btn-tertiary {
  background-color: $color-page-bg;
  color: $color-font;

  &:hover,
  &:focus {
    background-color: $color-font;
    color: $color-page-bg;
  }
}

.add-to-cart-button {
  text-decoration: unset;
  text-align: center;
  display: inline-block;
  @include trans(0.3s);
  background-color: $color-primary;
  color: $color-font;
  padding: emMM(20) emMM(56) emMM(20) emMM(16);
  text-transform: unset;
  font-size: remMM(16);
  line-height: 1.2em;
  font-weight: 700;
  position: relative;
  letter-spacing: 0.75px;

  &.disabled {
    background-color: #e4e4e4;
    color: $color-font;
    cursor: auto;

    &:hover {
      background-color: #e4e4e4;
      color: $color-font;
    }
  }

  &:after {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    display: block;
    //background: url(../img/icon/cart-big.svg) no-repeat center center;
    background-size: cover;
    z-index: 10;
  }

  &:hover {
    background-color: $color-font;
    color: $color-font-second;
  }
}
