

.popup-widget {
  z-index: 1100;
  position: fixed;
  top: 100px;

  &::before {
    display: none !important;
  }

  &.login-widget {
    top: 102px;
    padding-top: 0 !important;

    &.sticky {
      top: 52px;
    }

    @media screen and (max-width: 991px) {
      top: 90px;

      &.sticky {
        top: 50px;
      }
    }

    @media screen and (max-width: 767px) {
      top: 50px;

      &.sticky {
        top:50px;
      }
    }
  }

  &.cart-widget {
    top: 102px;
    margin-top: 0 !important;

    &.sticky {
      top: 52px;
    }

    @media screen and (max-width: 992px) {
      top: 110px;

      &.sticky {
        top: 90px;
      }
    }

    @media screen and (max-width: 767px) {
      top: 110px;

      &.sticky {
        top: 80px;
      }
    }
  }
}
.cart-widget-product-delete button {
}
#watchdog-form {
  .consents {
    label {
      font-weight: 400 !important;
    }
  }
}

.watchdog-row {
  flex-wrap: wrap;

  input[type="email"] {
    width: 100%;
  }
}

.admin-logged {
  .popup-widget {
    &.cart-widget {
      top: 127px;

      &.sticky {
        top: 52px;
      }

      @media screen and (max-width: 991px) {
        top: 80px;

        &.sticky {
          top: 50px;
        }
      }

      @media screen and (max-width: 767px) {
        top: 50px;

        &.sticky {
          top: 50px;
        }
      }
    }

    &.login-widget {
      top: 127px;

      &.sticky {
        top: 52px;
      }

      @media screen and (max-width: 991px) {
        top: 50px;

        &.sticky {
          top: 50px;
        }
      }

      @media screen and (max-width: 767px) {
        top: 50px;

        &.sticky {
          top: 50px;
        }
      }
    }
  }
}

.cart-widget {
  max-height: calc(100vh - 150px);
  border: unset !important;
  max-width: 360px;
  left: 55% !important;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;

  @media screen and (max-width: 991px) {
    width: 100vw;
    left: 0% !important;
    max-width: 100%;
    max-height: calc(100vh - 50px);
  }

  @media screen and (max-width: 767px) {
    max-height: calc(100vh - 50px);
  }

  & > .cart-widget-button {
    display: none !important;
  }

  .cart-widget-inner {
    padding: 0 14px 14px 14px;

    .cart-widget-products {
      height: unset !important;
      max-height: unset !important;
      padding: 10px;

      .cart-widget-products-inner {
        .cart-widget-product {
          display: flex !important;
          flex-wrap: wrap !important;
          align-items: center !important;
          gap: 16px !important;
          margin-bottom: 20px !important;
          padding-bottom: 20px !important;
          border-bottom: 1px solid $border-primary !important;
          justify-content: space-between !important;

          .cart-widget-product-image {
            order: 1 !important;
            flex: 0 1 60px !important;

            a {
            }

            img {
            }
          }

          .cart-widget-product-name {
            order: 2 !important;
            flex: 1 1 calc(100% - 60px - 16px) !important;

            a {
            }
          }

          .cart-widget-product-price {
            order: 3 !important;
            // margin-right: auto !important;
            font-weight: 700;
            display: flex !important;
            vertical-align: unset !important;
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;

            [data-testid="cartWidgetProductPrice"] {
              font-size: remMM(12);
              font-weight: 400;
            }

            .cart-widget-product-single-price {
              font-size: remMM(12);
              font-weight: 400;
            }
          }

          .cart-widget-product-amount {
            order: 4 !important;
            padding: unset !important;
            position: relative !important;
            display: flex !important;
            vertical-align: unset !important;
            max-width: unset !important;
            min-width: 60px !important;
            height: unset !important;
            max-height: unset !important;

            form {
            }

            .quantity {
              margin-right: 30px;
              input.amount{
                width: 56px !important;
              }
            }
          }

          .cart-widget-product-unit {
            display: none !important;
          }

          .cart-widget-product-delete {
            visibility: visible !important;
            order: 5;

            .remove-item {
            }
          }
        }
      }
    }

    .popup-cart-summary {
      display: flex !important;
      flex-direction: column !important;
      align-items: flex-start !important;
      flex-wrap: nowrap !important;
      justify-content: flex-start !important;
      padding: 0 20px !important;
      margin-bottom: 25px !important;
    }

    .cart-widget-button {
      padding: 16px 0 0 0 !important;
      position: unset !important;

      a {
        text-align: center !important;
      }

      @media screen and (max-width: 767px) {
        padding: 20px 20px 80px 20px !important;
      }
    }
  }
}

.cart-free-shipping {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  flex-wrap: nowrap !important;
  position: relative !important;
  bottom: unset !important;
  height: unset !important;
  left: unset !important;
  text-align: left !important;
  padding-left: 20px !important;
  padding-right: 20px !important;

  & > div {
    padding: 0 !important;

    strong {
      color: $color-font !important;

      &.free-shipping-strong {
      }
    }
  }

  .price-range {
    pad: 0;

    & > div {
    }
  }
}

.content-modal {
  h1 {
    display: none;
    font-size: remMM($h3);

    @media screen and (max-width: 767px) {
      font-size: remMM($h3-mobile);
    }
  }
}
.shipping-options-popup{
  p{
    padding-right: 30px;
  }
}