.benefitBanner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  padding: 32px 0;
border-bottom: 1px solid $border-color;
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: left;
    gap: 8px;
  }
  &__title {
    font-size: remMM(18);
    line-height: emMM(25, 18);
    font-weight: 600;
    color: $color-font;
  }
  &__data {
    font-size: remMM(16);
    line-height: emMM(22, 16);
    font-weight: 400;
    color: $color-font-second;
  }
  &__picture {
    display: flex;
    max-width: 32px;
  }
}
