
footer {
  background-color: $footer-bg;
  color: $color-font-invert;
  a {
    color: $color-font-invert;
  }
  .footer-rows,
  .custom-footer__newsletter,
  .custom-footer__instagram ,
  .custom-footer {
    display: none;
  }
}

.socials-footer {
  .socials-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 8px;
  }
  a {
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
    }
    &.instagram {
      &::before {
        @include icon-mask(
          "/assets/images/icons/instagram.svg",
          $color-font-invert,
          32px,
          32px
        );
      }
    }
    &.facebook {
      &::before {
        @include icon-mask(
          "/assets/images/icons/facebook.svg",
          $color-font-invert,
          32px,
          32px
        );
      }
    }
    &.youtube {
      &::before {
        @include icon-mask(
          "/assets/images/icons/youtube.svg",
          $color-font-invert,
          32px,
          32px
        );
      }
    }
  }
}
.footer-upper {
  border-bottom: 1px solid $color-secondary-400;
  padding: 32px 0;
  .flex-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
  }
  .footer-contact-person {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
  }
  .footer-contact-details {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .project-phone,
    .project-email {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      text-align: left;
      padding-left: 28px;
      position: relative;
      font-size: rem(16);
      line-height: em(22, 16);
      gap: 0;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      small {
        font-size: rem(14);
        line-height: em(20, 14);
        color: $color-primary-200;
      }
    }

    .project-phone {
      &::before {
        @include icon-mask(
          "/assets/images/icons/phone-white.svg",
          $color-font-invert,
          24px,
          24px
        );
      }
    }
    .project-email {
      &::before {
        @include icon-mask(
          "/assets/images/icons/mail-white.svg",
          $color-font-invert,
          24px,
          24px
        );
      }
    }
  }
  .socials-footer {
    margin-left: auto;
  }
}
.footer-middle {
  .flex-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;

    border-bottom: 1px solid $color-secondary-400;
    padding: 32px 0;
  }
  .logo-footer,
  .block {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .block {
  }
  h2 {
    font-size: rem(24);
    line-height: em(30, 24);
    margin-bottom: 16px;
    color: $color-primary-200;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      font-size: rem(16);
      line-height: em(20, 16);
      a {
        @include inherit();
        text-decoration: unset;
        @include hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.footer-lower {
  .flex-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 48px;
    border-bottom: 1px solid $color-secondary-400;
    padding: 32px 0;
  }
  .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  h2 {
    font-size: rem(16);
    line-height: em(22, 16);
  }
  img {
  }
}
.footer-bottom {
  .footer-bottom-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 12px;
    padding: 32px;
  }
}

