.btn-filter-open {
  order: -3;
  &::before{
    content: "";
    @include icon-mask("/assets/images/icons/filters.svg", $color-font-invert, 16px, 16px)
  }
}

body.filters-mobile-visible {
  &::before {
    content: "";
    background-color: $black-80;
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1999;
  }
}

#filters-wrapper {
  order: -2;
  position: relative;
  padding: 24px 0;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    max-width: calc(100vw - var(--scrollbar-width));
    background-color: $color-primary-050;
    z-index: -1;
  }

  @media (max-width:1023px) {
    @include trans(0.4s);
    position: fixed;
    left: -200vw;
    top: 0;
    z-index: 100000;
    width: 500px;
    max-width: 100vw;
    height: 100vh;
    background-color: $color-primary-050;
    padding: 32px;

    &::before {
      display: none;
    }

    &.active {
      left: 0;
    }

    .close {
      right: 1rem;
      top: 1rem;
    }
  }
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}

.filters-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 12px;
  max-width: 420px;
}

.filters-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  flex: 1;

  @media (max-width:1023px) {
    flex-direction: column;
  }
}

#price-filter-form {
  display: none;
}

.filter-section-boolean {
  .param-filter-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }

  form,
  fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.filter-section:not(.filter-section-boolean) {
  display: flex;
  flex: 1 1 200px;
  position: relative;

  @media (max-width:1023px) {
    flex: unset;
    width: 100%;
    max-width: 100%;
  }

  &.filter-section-count {
    display: none;
  }

  @include hover {
    &:has(form) {
      form {
        display: flex;
      }
    }
  }

  form {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 100%;
    z-index: 1;
    padding-top: 4px;

    fieldset {
      color: $color-font;
      background-color: $color-font-invert;
      padding: 10px 16px;
      width: 100%;
      border-radius: 4px;
      -webkit-box-shadow: 0px 3px 16px 5px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 3px 16px 5px rgba(0, 0, 0, 0.16);
    }
  }

  h4 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 400;
    color: $color-font;
    padding: 11px 16px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $color-font-invert;
    z-index: 2;

    span {
      @include inherit();
    }

    &::after {
      content: "";
      @include icon-mask("/assets/images/icons/arrow-down-primary.svg",
        $color-secondary,
        16px,
        16px);
    }
  }
}

.filter-count {
  font-size: rem(13);
  margin-left: 4px;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  // Header s hodnotami "Od - Do"

  .slider-inner-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
    gap: 16px;

    span {
      font-size: rem(16);
      line-height: em(22, 16);
      font-weight: 400;
      white-space: nowrap;
    }
  }

  h4 {
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 400;
    margin: 0 8px 0 0;
    color: $color-font;

    span {
      @include inherit();
    }

    &::after {
      content: ":";
    }
  }

  // Samotný jQuery UI Slider

  #slider {
    height: 4px;
    border: none;
    background: $border-color; // Světle šedá linka
    border-radius: 6px;
    position: relative;

    // Aktivní rozsah mezi tlapkami
  }

  .ui-slider-range {
    position: absolute;
    height: 100%;
    background: $color-primary;
    border-radius: 6px;
  }

  // Ovládací tlapky (handles)
  .ui-slider-handle {
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 4px solid $color-primary;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
}

//filters sorting
#category-header {
  border-bottom: 1px solid $border-color;
  padding: 16px 0;
  display: flex;
  gap: 8px 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 16px;
overflow: hidden;
.listSorting{
  overflow: auto;
}
}

.listSorting__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 40px;

  li {
    list-style: none;
    display: inline-flex;
  }

  .listSorting__control {
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 400;
    color: $color-font-second;
    text-decoration: underline;

    @include hover {
      color: $color-font;
    }

    &--current {
      color: $color-font;
      font-weight: 600;
      text-decoration: unset;
    }
  }
}

.listItemsTotal {
  font-size: rem(16);
  line-height: em(22, 16);
  font-weight: 400;
  color: $color-font-second;

  strong {
    font-weight: 400;
  }
}

//Aktivní filtry || active filters
.active-filters-container {
  padding: 16px 0;
  order: -1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.active-filters-list {
  .active-filter-tag {
    font-size: rem(14);
    line-height: em(20, 14);
    font-weight: 400;
    color: $color-font;
    padding: 7px 16px;
    border: 1px solid $border-color;
    border-radius: 4px;
    gap: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .close {
      position: relative;
      top: unset;
      right: unset;
      transform: unset;
    }
  }
}

.clear-filters {
  @include hover {
    color: $color-danger;
  }
}