.last-visited{
    padding: 48px 0 32px 0;
    h2{
        text-align: center;
        margin-bottom: 32px;
    }
}

.swiper-helper {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    right: -56px;
    border: 1px solid $color-secondary;
    &::after{
        background-color: $color-secondary;
    }
    @include hover {
        background-color: $color-secondary;
        &::after{
            background-color: $color-font-invert;
        }
    }
  }
  .swiper-button-prev {
    left: -56px;
  }
  .swiper-button-next {
    right: -56px;
  }
}
