.product .add-to-cart-button {
  span {
    @include inherit();
    white-space: nowrap;
  }

  &::before {
    content: "";
    @include icon-mask(
      "/assets/images/icons/cart-primary.svg",
      $color-font-invert,
      16px,
      16px
    );
  }
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0px;

  input.amount {
    background-color: $color-page-bg;
    order: 2;
    padding: 7px 4px;
    width: 38px;
    font-size: rem(16);
    line-height: em(22, 16);
    border-radius: 0;
    // border: 1px solid $color-font-100;
    text-align: center;
    border: 1px solid $border-primary;
    position: relative;
  }
  label {
    display: flex;
  }
  .increase,
  .decrease {
    padding: 10px 7px;
    cursor: pointer;
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
    border: 1px solid $border-primary;
    @include hover {
    }
  }

  .decrease {
    order: -1;
    border-right: unset;
    border-radius: 4px 0 0 4px;
    background-color: $color-page-bg;
    &::before {
      content: "";
      @include icon-mask(
        "/assets/images/icons/minus.svg",
        $color-font,
        16px,
        16px
      );
    }
  }
  .increase {
    order: 1;
    border-left: unset;
    border-radius: 0 4px 4px 0;
    background-color: $color-page-bg;
    &::before {
      content: "";
      @include icon-mask(
        "/assets/images/icons/plus.svg",
        $color-font,
        16px,
        16px
      );
    }
  }
}

.product {
  // --- ZÁKLADNÍ OBAL ---
  .p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  a {
    @include trans(0.3s);
    text-decoration: unset;
    @include hover {
      .name {
        color: $color-primary;
      }
    }
  }
  // --- OBRÁZEK A ŠTÍTKY ---
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;

    aspect-ratio: 358 / 307;
    max-width: 100%;
    background-color: #f3f3f3;
    padding: 8px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #f3f3f3;
    }
  }

  .swap-image {
    // Samotný obrázek
  }

  .flags-default {
  }
  .flags-extra {
    position: absolute;
    display: flex;
    right: 14px;
    bottom: 14px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flag {
    // Jednotlivý štítek
  }

  // --- VNITŘNÍ OBSAH KARTY ---
  .p-in {
    padding: 0 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .p-in-in {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
  }

  .name {
    @include trans(0.3s);
    order: -3;
    font-size: rem(18);
    line-height: em(25, 18);
    margin-bottom: 8px;
    font-weight: 600;
    span {
      @include inherit();
    }
  }

  .p-desc {
    order: -2;
    font-size: rem(14);
    line-height: em(20, 14);
    color: $color-font-second;
    margin-bottom: 8px;
  }

  .availability {
    // Skladovost
    margin-top: auto;
    margin-bottom: 8px;
  }

  .availability-amount {
    // Konkrétní počet kusů
  }

  // --- HODNOCENÍ A KÓD ---
  .ratings-wrapper {
    order: -4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  .stars-placeholder,
  .stars-wrapper {
    // Hvězdičky hodnocení
  }

  .p-code {
    // Kód produktu (přesunutý JS)
    font-size: rem(14);
    line-height: em(20, 14);
    color: $color-font-second;
  }

  // --- SPODNÍ ČÁST (CENY A KOŠÍK) ---
  .p-bottom {
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 12px;
      flex-wrap: wrap;
    }
  }

  .prices {
    position: relative;
    &:has(.price-standard-wrapper) {
      .price-final {
        color: $color-danger;
      }
    }
    @include hover {
      .price-additional {
        display: inline-block;
      }
    }
  }

  .price-additional {
    // Cena bez DPH
    font-size: rem(13);
    line-height: em(16, 13);
    color: $color-font;
    display: none;
    background-color: $color-font-invert;
    position: absolute;
    font-weight: 600;
    left: 0;
    bottom: 100%;
    -webkit-box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 6px 8px;
    white-space: nowrap;
  }

  .price-standard-wrapper {
    font-size: rem(16);
    line-height: em(22, 16);
    color: $color-font-second;
    text-decoration: line-through;
  }

  .price-final {
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 600;
  }

  .pr-list-unit {
    font-size: rem(13);
    line-height: em(16, 13);
    color: $color-font-second;
    letter-spacing: -0.5px;
  }

  // --- NÁSTROJE A FORMULÁŘ ---
  .p-tools {
    // Obal pro formulář
    margin-left: auto;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 8px;
    flex: 1;
  }
  .btn {
    flex: 1;
  }
  .pr-action {
    // Samotný formulář přidání do košíku
  }

  // --- OVLÁDÁNÍ MNOŽSTVÍ (Vygenerované JSkem) ---
  .quantity {
    // Náš nový obal pro +/- a input
  }

  .amount {
    // Input pro zadání čísla
  }

  .decrease,
  .increase {
    // Tlačítka plus a minus
  }

  // --- TLAČÍTKO DO KOŠÍKU ---
  .btn-cart {
    // Odesílací tlačítko
  }
}
