.p-detail {
  .browse-p {
    display: none;
  }
}

// Navigace v popisu produktu
.shp-tabs-row {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: calc(100vw - var(--scrollbar-width));
    background-color: $color-primary-050;
    z-index: -1;
    height: 100%;
  }

  .hidden-links,
  .navigation-btn {
    display: none !important;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: auto;
    padding: 24px 0;

    li {
      display: flex;

      a {
        font-size: rem(16);
        line-height: em(22, 16);
        color: $color-font;
        text-decoration: underline;
        font-weight: 600;
        display: inline-flex;
        gap: 4px;
        align-items: center;

        &::after {
          content: "";
          @include icon-mask("/assets/images/icons/arrow-down-primary.svg",
            $color-secondary,
            20px,
            20px);
        }
      }
    }
  }
}

//Popis produktu || Description
#description {
  padding: 40px 0;
}

.description-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.basic-description {
  flex: 1 1 600px;
  line-height: em(22, 16);

  h1 {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }

  h2 {
    margin-bottom: 24px;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }

  h4 {}

  h5 {}

  h6 {}

  p,
  blockquote,
  ol,
  ul {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
    margin-bottom: 16px;
    height: auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 20px;

    li {
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.extended-description {
  flex: 0 1 600px;

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 16px;
  }
}

#description .detail-parameters {
  width: 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  tr {
    &:nth-of-type(even) {
      background-color: $color-primary-050;
    }
  }

  th,
  td {
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 400;
    padding: 9px 16px;
  }

  th {}

  td {
    font-weight: 700;
  }

  a {
    color: $color-primary;
  }
}

.product-files {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

#relatedFiles {
  list-style: none;

  li {
    list-style: none;
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 4px;

    a {
      @include inherit();
    }
  }
}

#productVideos {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  iframe {
    aspect-ratio: 16 /9;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//Hodnocení detail produktu || reviews product detail
#ratingTab {
  h2 {
    font-size: rem(24);
    line-height: em(32, 24);

    @media (max-width:1023px) {
      font-size: rem(22);
      line-height: em(29, 22);
    }

    @media (max-width:767px) {
      font-size: rem(20);
      line-height: em(27.5, 20);
    }

  }

  #rate-form {
    margin-top: 40px;
  }

  .rating-main-title {
    margin-bottom: 24px;
  }

  [data-testid="textCommentNotice"] {
    display: none;
  }
}

#ratingWrapper {
  background-color: $color-primary-050;
  padding: 32px 24px;
  border-radius: 10px;
  margin-bottom: 24px;

  .rate-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;

    @media (max-width:767px) {
      flex-direction: column;
    }

    >div {
      max-width: 424px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 0px;

      &.col-xs-12 {
        gap: 12px;
      }
    }
  }
}

.rate-average-wrap {
  .rate-average-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width:767px) {
      justify-content: center;
    }
  }

  .rate-average {
    font-size: rem(38);
    line-height: em(48, 38);
    font-weight: 700;
  }

  .rate-star-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width:767px) {
      justify-content: center;
    }
  }

  .star {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

.rate-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  .rate-block {
    flex-grow: 1;
    background-color: $color-font-invert;
    height: 10px;
    border-radius: 40px;
    position: relative;
    margin: 0 12px;

    .rate-bar {
      background-color: $color-stars;
      height: 10px;
      border-radius: 40px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .rate-star {
    .star {
      &::before {
        filter: brightness(0) saturate(100%) invert(14%) sepia(54%) saturate(1549%) hue-rotate(191deg) brightness(94%) contrast(94%);
      }
    }
  }

  .rate-value {
    min-width: 10px;
  }

  .star {}
}

#ratingsList {
  .votes-wrap {
    &.admin-response {
      .vote-wrap {
        padding-left: 52px;

        &::before {
          content: "";
          @include icon-mask("/assets/images/icons/arrow-answare.svg",
            $color-font,
            20px,
            20px);
          position: absolute;
          top: 8px;
          left: 24px;
        }
      }
    }
  }

  .vote-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 64px;
    padding: 8px 16px 24px 16px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 24px;
    position: relative;

    @media (max-width:767px) {
      gap: 12px;
      padding: 8px 0px 24px 0px;
    }

    &:has(+ .admin-response) {
      border-bottom: unset;
      margin-bottom: 0;
      padding-bottom: 8px;
    }

    .vote-header {
      display: inline-flex;
      min-width: 190px;
      max-width: 190px;
    }

    .vote-pic {
      display: none;

      img {
        display: none;
      }
    }

    .vote-initials {
      display: none;
    }

    .vote-summary {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .vote-name {
      font-size: rem(18);
      line-height: em(25, 18);
      font-weight: 600;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media (max-width:767px) {
        margin-bottom: 8px;
      }
    }

    .vote-content {
      flex: 1 1 260;
    }

    .vote-rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 8px;

      .star {
        &::before {
          width: 18px;
          height: 18px;
        }
      }

      .vote-delimeter {
        display: none;
      }
    }
  }
}

#productDiscussion {
  padding: 40px 0;



  h2 {
    font-size: rem(24);
    line-height: em(32, 24);

    @media (max-width:1023px) {
      font-size: rem(22);
      line-height: em(29, 22);
    }

    @media (max-width:767px) {
      font-size: rem(20);
      line-height: em(27.5, 20);
    }

  }

  @media (max-width:767px) {
    padding: 20px 0;
  }

  .discussion-main-title {
    margin-bottom: 24px;
  }

  .discussion-form-trigger {
    margin-bottom: 24px;
  }

  [data-testid="textCommentNotice"] {
    display: none;
  }
}

#discussion-form.visible {
  margin-bottom: 24px;
}

#discussionsList {
  padding-top: 16px;
  border-top: 1px solid $border-color;

  .votes-wrap {
    &.discussion {
      .vote-wrap {
        padding-left: 52px;

        &::before {
          content: "";
          @include icon-mask("/assets/images/icons/arrow-answare.svg",
            $color-font,
            20px,
            20px);
          position: absolute;
          top: 8px;
          left: 24px;
        }
      }
    }
  }

  .vote-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding: 8px 0px 24px 0px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 24px;
    position: relative;

    &:has(+ .discussion) {
      border-bottom: unset;
      margin-bottom: 0;
      padding-bottom: 8px;
    }

    &:last-of-type {
      margin: 0;
    }

    .vote-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: flex-start;

      br {
        display: none;
      }
    }

    .vote-title {
      font-size: rem(20);
      line-height: em(28, 20);
      margin-bottom: 2px;
      font-weight: 600;
    }

    .vote-header {
      display: inline-flex;
    }

    .vote-pic {
      display: none;

      img {
        display: none;
      }
    }

    .vote-initials {
      display: none;
    }

    .vote-summary {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .vote-time {
      font-size: rem(14);
      line-height: em(20, 14);
      font-weight: 400;
      color: $color-font-second;
    }

    .vote-name {
      font-size: rem(16);
      line-height: em(22, 16);
      font-weight: 600;
      margin-bottom: 2px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .add-comment {
      color: $color-primary;
      font-size: rem(16);
      line-height: em(22, 16);
      @include underline-mid($color-primary, 1px, 2px);
    }
  }
}

.row-header-label-colon {
  display: none;
}

.p-detail-tabs-wrapper {
  // position: relative;
}

.right-logo-detail {
  position: absolute;
  top: 900px;
  right: 0;
  z-index: 10;
  max-height: 100%;

  @media screen and (max-width: 1560px) {
    max-width: 200px;
  }

  @media screen and (max-width: 1370px) {
    max-width: 100px;
  }

  @media screen and (max-width: 1160px) {
    display: none;
  }
}

.variants-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  h3 {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 4px;
  }

  .show-more {
    font-size: rem(14);
    color: $black;
    text-decoration: underline;
    max-width: 60px;
  }

  .variant {
    width: 115px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none !important;

    .variant-image {
      width: 100%;
      height: 115px;
      overflow: hidden;
      position: relative;
      margin-bottom: 8px;
      background-color: $white;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .variant-name {
      display: none;
    }

    .variant-availability {
      font-size: rem(12);
      color: #000000;
      font-weight: 600;
      text-decoration: none !important;
    }

    .variant-price {
      font-size: rem(16);
      color: #000000;
      font-weight: 600;
      margin-top: auto;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;

    h3 {
      margin: 24px 0 16px 0;
    }

    .show-more {
      max-width: 100%;
      text-align: center;
    }

    .variant {
      background-color: $color-page-bg;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      // grid-template-rows: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
      justify-items: start;
      align-items: center;
      padding: 10px;

      .variant-image {
        max-width: 100px;
        height: 100px;
        grid-row: span 3;
        margin-bottom: 0; // Add this line
        margin: -10px;
      }

      .variant-name {
        display: block;
        text-align: left;
        font-size: 0.75rem;
      }

      .variant-availability {
        margin-top: auto;
      }

      .variant-price {
        margin-bottom: auto;
      }
    }
  }
}