.product .btn-primary,
.product .add-to-cart-button {
  @include trans(0.3s);
  padding: emMM(11) emMM(42) emMM(8) emMM(28);
  border: 2px solid $color-primary;
  color: $color-font;
  font-weight: 700;
  font-size: remMM(14) !important;
  line-height: 1.2em;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;

  span {
    font-size: remMM(14) !important;
  }

  &::before {
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: url(../img/icon/cart-product-button.svg);
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-font;
  }

  @media (max-width: 767px) {
    padding: emMM(11) emMM(15) emMM(8) emMM(15);

    &::before {
      display: none;
    }
  }

  @media (max-width: 370px) {
    padding: emMM(11) emMM(10) emMM(8) emMM(10);

    &::before {
      display: none;
    }
  }
}

.product .btn-primary {
  @include trans(0.3s);
  padding: emMM(11) emMM(30) emMM(8) emMM(30);
  border: 2px solid $color-primary;
  color: $color-font;
  font-weight: 700;
  font-size: remMM(14);
  line-height: 1.2em;
  position: relative;
  text-transform: uppercase;
  background-color: transparent;

  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
    color: $color-font;
  }
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0px;

  input.amount {
    background-color: $color-page-bg;
    order: 2;
    padding: 7px 4px;
    width: 38px;
    font-size: remMM(16);
    line-height: emMM(22, 16);
    border-radius: 0;
    // border: 1px solid $color-font-100;
    text-align: center;
    border: 1px solid $border-primary;
    position: relative;
  }
  label {
    display: flex;
  }
  .increase,
  .decrease {
    padding: 10px 7px;
    cursor: pointer;
    height: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
    border: 1px solid $border-primary;
    @include hover {
    }
  }

  .decrease {
    order: -1;
    border-right: unset;
    border-radius: 4px 0 0 4px;
    background-color: $color-page-bg;
    &::before {
      content: "";
      @include icon-mask(
        "/assets/images/icons/minus.svg",
        $color-font,
        16px,
        16px
      );
    }
  }
  .increase {
    order: 1;
    border-left: unset;
    border-radius: 0 4px 4px 0;
    background-color: $color-page-bg;
    &::before {
      content: "";
      @include icon-mask(
        "/assets/images/icons/plus.svg",
        $color-font,
        16px,
        16px
      );
    }
  }
}
