.category-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: calc(100vw - var(--scrollbar-width));
  background-color: $color-primary-050;
  padding: 24px 0;
  opacity: 0;

  &.is-processed {
    opacity: 1;
  }
}

.category-top-upper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 24px;
  gap: 40px;

  &:has(.empty-content) {
    .category-top-upper--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .category-top-upper--content {
    flex: 1 1 500px;
  }

  img {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // right: 0;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    width: unset;
    flex: 0 1 500px;
    border-radius: 12px;
  }

  h1 {
    display: flex;
    flex-direction: column;

    .pagination-appendix {
      font-size: rem(20);
      line-height: em(26, 20);
    }
  }

  a {
    color: $color-primary;
  }

  .category-perex {
    line-height: em(22.4, 16);

    &.empty-content-category {
      display: none;
    }

    &:has(+ a),
    &:has(+ p) {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 32px;

      &:has(+ a),
      &:has(+ p) {
        margin-bottom: 24px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-primary;
    }
  }
}

//subcategories // podkategorie
.subcategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 1rem;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 12px;
    background-color: $color-font-invert;
    color: $color-font;
    @include trans(0.3s);
    text-decoration: unset;

    @include hover {
      color: $color-primary;
    }
  }

  .image {
    aspect-ratio: 1;
    width: 100%;
    max-width: 50px;
    display: flex;

    img {
      aspect-ratio: 1;
      height: auto;
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .text {
    font-size: rem(16);
    line-height: em(22, 16);
    font-weight: 600;
  }
}

//productsTop || nejprodávanjěší produkty
.products-top-wrapper {
  padding: 32px 0;

  h2 {
    margin-bottom: 16px;
    @extend h4;

    &:after {
      content: ":";
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
  }
}

.toggle-top-products {}

.products-top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(359px, 1fr));
  gap: 1rem;
  margin-bottom: 24px;
}