.next-to-carousel-banners {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
  container-type: inline-size;
  container-name: banner-grid;

  .banner-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 415px;
    max-width: 100%;

    @media (max-width:1023px) {
      flex: 1 1 315px;
    }

    &:nth-of-type(2) {
      .extended-banner-texts {
        color: $color-font;
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: unset;

    img {
      width: unset;
      max-width: unset;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
    }

    @include hover {
      .extended-banner-link {
        background-color: $color-primary-600;
      }
    }
  }

  img {
    border-radius: 12px;
    min-width: 100%;
    object-fit: cover;
  }

  .extended-banner-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 43px 32px;
    max-height: 100%;
    max-width: calc(351px + (2 * 32px));
    width: 100%;
    color: $color-font-invert;
  }

  .extended-banner-title {
    margin-bottom: 8px;
  }

  .extended-banner-text {
    margin-bottom: 16px;
  }

  .extended-banner-link {}
}

body.mobile {
  .next-to-carousel-banners {

    .banner-wrapper {
      &:nth-of-type(2) {
        .extended-banner-texts {}
      }
    }

    a {

      img {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
      }

      @include hover {
        .extended-banner-link {}
      }
    }

    img {}

    .extended-banner-texts {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
    }

    .extended-banner-title {}

    .extended-banner-text {}

    .extended-banner-link {}
  }
}