.favourite-categories {
  padding: 32px 0;

  @media (max-width:767px) {
    position: relative;
    width: 100vw;
    max-width: calc(100vw - var(--scrollbar-width));
    left: 50%;
    transform: translateX(-50%);

    .swiper,
    h2 {}
  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
  }

  .is-locked .swiper-wrapper {
    justify-content: center;
  }

  .swiper-slide {
    display: flex;
  }

  a {
    @include trans(0.3s);
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: unset;
    padding: 40px 16px 16px 16px;
    background-color: $color-primary-050;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;

    @include hover {
      background-color: $color-primary-100;

      h3 {
        color: $color-primary;
      }
    }
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }

  h3 {
    font-size: rem(18);
    line-height: em(25, 18);
    color: $color-font;
    min-height: 50px;
  }

  // .swiper-button-prev,
  // .swiper-button-next {
  //   @media (max-width:767px) {
  //     width: 24px;
  //     height: 34px;
  //     background-color: $color-primary;
  //     border-color: $color-primary;

  //     border-radius: 4px 0 0 4px;

  //     &::after {
  //       background-color: $color-font-invert;
  //       width: 16px;
  //       height: 16px;
  //     }
  //   }
  // }

  // .swiper-button-prev {


  //   @media (max-width:767px) {
  //     border-radius: 0px 4px 4px 0;
  //   }
  // }

  // .swiper-button-next {}

  // @media (max-width:767px) {
  //   .swiper-button-prev {
  //     left: 0rem;
  //   }

  //   .swiper-button-next {
  //     right: 0rem;
  //   }
  // }
}