#carousel {
  margin-bottom: 32px;
  margin-top: 16px;

  @media (max-width: 767px) {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
    max-width: calc(100vw - var(--scrollbar-width));
  }

  &:has(+ .swiper-pagination:not(.swiper-pagination-lock)) {
    margin-bottom: 0;
  }

  & + .swiper-pagination {
    padding-bottom: 0px;
  }

  .swiper-slide {
    display: flex;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    &:nth-of-type(2),
    &.has-video {
      .extended-banner-texts {
        background: linear-gradient(
          to top,
          $color-secondary 0%,
          transparent 100%
        );
      }
    }

    a {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      text-decoration: unset;
      flex-direction: row; // Desktop default pro :only-child
      flex-wrap: nowrap;
    }

    img,
    video,
    iframe {
      object-fit: cover;
      flex: 1 1 400px;
      width: 100%;
      height: 100%;
    }

    // Textový box - desktop default pro :only-child
    .extended-banner-texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px;
      background-color: $color-secondary;
      color: $color-font-invert;
      flex: 0 1 400px;
      width: 100%;

      // &::before {
      //   content: "";
      //   width: 100%;
      //   aspect-ratio: 358 / 21;
      //   display: block;
      //   background: url(/assets/images/icons/main-swiper-visual.svg) no-repeat center center;
      //   background-size: contain;
      //   position: absolute;
      //   left: 0;
      //   bottom: calc(100% - 1px);
      // }
    }

    // Společné styly pro vnitřek (nadpisy, bublina)
    .extended-banner-title {
      margin-bottom: 2px;
      position: unset !important;

      span {
        position: absolute;
        left: 16px;
        bottom: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: rem(20);
        line-height: em(25, 20);
        color: $color-font-invert;
        background-color: $color-danger;
        border-radius: 50%;
        aspect-ratio: 1;
        padding: 13px;
        transform: rotate(-15deg);

        strong {
          font-size: rem(38);
          line-height: em(38, 38);
        }
      }
    }

    .extended-banner-text {
      margin-bottom: 8px;
    }

    .extended-banner-link {
      margin-top: auto;
    }

    // UNIFIKACE: Všechno kromě :only-child, NEBO všechno na mobilu
    &:not(:only-child),
    & {
      @media (max-width: 767px) {
        aspect-ratio: 358 / 500;

        a {
          flex-direction: column;
        }

        img {
          flex: unset;
          height: 100%;
        }

        .extended-banner-texts {
          position: absolute;
          left: 0;
          bottom: 0;
          flex: unset;
        }
      }
    }

    // Oprava pro víc prvků na desktopu (aby nebyly row)
    &:not(:only-child) {
      aspect-ratio: 358 / 500;

      a {
        flex-direction: column;
      }

      img {
        flex: unset;
      }

      .extended-banner-texts {
        position: absolute;
        left: 0;
        bottom: 0;
        flex: unset;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    -webkit-box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 1px 12px 4px rgba(0, 0, 0, 0.26);
    border: 1px solid $color-secondary;

    &::after {
      background-color: $color-secondary;
    }

    @include hover {
      background-color: $color-secondary;

      &::after {
        background-color: $color-font-invert;
      }
    }

    @media (max-width: 767px) {
      width: 24px;
      height: 34px;
      background-color: $color-primary;
      border-color: $color-primary;

      border-radius: 4px 0 0 4px;

      &::after {
        background-color: $color-font-invert;
        width: 16px;
        height: 16px;
      }
    }
  }

  .swiper-button-prev {
    @media (max-width: 767px) {
      border-radius: 0px 4px 4px 0;
    }
  }

  .swiper-button-next {
  }

  @media (max-width: 1600px) {
    .swiper-button-prev {
      left: 0rem;
    }

    .swiper-button-next {
      right: 0rem;
    }
  }
}

#carousel:not(.swiper-initialized) {
  opacity: 0;
  visibility: hidden;
}

#carousel.swiper-initialized {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease; // Udělá hezký fade-in místo cuknutí
}

.before-carousel {
  .banners-row {
    display: flex;
    flex-direction: column;

    > div {
      width: 100%;
    }
  }
}
