//Font-colors
$color-font: #000;
$color-font-invert: #FFFFFF;
$color-font-second: #58585A;

//Main colors
$color-primary: #A40019;
$color-secondary: #F4FAFF;
$color-accent: #D4D4D8;

$color-primary-op: #f3fbeb;

$color-blue: #92c3f6;

//Borders
$border-primary: #EBEBEB;
$border-secondary: #001024;
$border-input: #D6D5D6;

//Flags / tags
$flag-font: #FFFFFF;
$flag-font-invert: #001024;
$flag-action: #3336CD;
$flag-new: #3336CD;
$flag-bestseller: #FFCC01;
$flag-discount: #EBC205;
$flag-sale: #FFCC01;
$flag-gift: #3336CD;
$flag-1: #3336CD;

//Page background
$color-page-bg: #ffffff;
$color-page-bg-invert: #161617;

$color-page-bg-secondary: #EAEAEA;
//Header bg
$header-bg: #ffffff;
$header-bg-secondary: #f6f2f8;

//Messages
$alert: #ff4b36;
$notification: #faa600;
$positive: #71b929;
$info: #6477bc;

$color-font-90: #474446;
$color-font-80: #5b595a;
$color-font-70: #706E6F;
$color-font-60: #848283;
$color-font-50: #999798;
$color-font-40: #adacad;
$color-font-30: #c2c1c2;
$color-font-20: #d6d5d6;
$color-font-10: #ebebeb;
$color-font-05: #f5f4f4;

$color-primary-dark: #1b151d;
$color-primary-90: #ffd21b;
$color-primary-80: #ffd634;
$color-primary-70: #ffdc4e;
$color-primary-60: #ffe067;
$color-primary-50: #ffe680;
$color-primary-40: #ffeb99;
$color-primary-30: #fff0b3;
$color-primary-20: #fff5cc;
$color-primary-10: #fffae6;
$color-primary-05: #fffae6;

$color-secondary-90: #484BD2;
$color-secondary-80: #5C5ED7;
$color-secondary-70: #7173DC;
$color-secondary-60: #8586E1;
$color-secondary-50: #999BE6;
$color-secondary-40: #ADAFEB;
$color-secondary-30: #C2C3F0;
$color-secondary-20: #D6D7F5;
$color-secondary-10: #EBEBFA;
$color-secondary-05: #F4F5FC;

//Basic colors
$white: #ffffff;
$white-95: rgba($white, 0.95);
$white-90: rgba($white, 0.9);
$white-80: rgba($white, 0.8);
$white-70: rgba($white, 0.7);
$white-60: rgba($white, 0.6);
$white-50: rgba($white, 0.5);
$white-40: rgba($white, 0.4);
$white-30: rgba($white, 0.3);
$white-20: rgba($white, 0.2);
$white-10: rgba($white, 0.1);

$black: #000000;
$black-90: rgba($black, 0.9);
$black-80: rgba($black, 0.8);
$black-70: rgba($black, 0.7);
$black-60: rgba($black, 0.6);
$black-50: rgba($black, 0.5);
$black-40: rgba($black, 0.4);
$black-30: rgba($black, 0.3);
$black-20: rgba($black, 0.2);
$black-10: rgba($black, 0.1);

$color-tertiary-05: #f6fcf2;
$color-tertiary-15: #def3ce;
$color-tertiary: #54bf00;
$green: #26d270;

$yellow: #fff8b6;
$yellow-2: #fef1c1;

$bg-color: #f8efeb;
