.brands-wrapper {
    padding-bottom: 27px;

    .container {
        padding: 0;
    }

    h2 {
        font-size: remMM(30);
        line-height: 1.2em;
        margin: 0 0 40px 0;
    }

    .brands {
        padding-bottom: 40px;

        .slick-dots {
            background-color: $color-page-background-2;

            &::before {
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: calc(100vw - 40px);
                max-width: 1644px;
                display: block;
                position: absolute;
                z-index: -2;
                height: 1px;
                background-color: $color-border;
            }

            &::after {
                content: "";
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% + 60px);
                display: block;
                position: absolute;
                z-index: -1;
                height: 110%;
                background-color: $color-page-background-2;
            }
        }

        .brand {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            margin: 0 12px;

            img {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width: 0px) {
    .brands-wrapper {
        .container {}

        h2 {}

        .brands {
            .slick-dots {
                &::before {}

                &::after {}
            }

            .brand {
                img {}
            }
        }
    }
}

.welcome-text {
    padding-bottom: 100px;

    .container {
        padding: 0;
    }

    .flex-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding: 0 45px;

        .left {
            width: 100%;
            max-width: 40.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            position: relative;

            img {
                width: 100%;
            }

            .ring {
                position: absolute;
                top: 50%;
                right: -63px;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                max-width: 130px;

                img {
                    width: 100%;
                }

                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 6;
                    transform: translate(-50%, -50%);
                    color: $color-font-second;
                    width: 100%;
                    text-align: center;
                    line-height: 1.2em;
                    padding-bottom: 8px;
                    font-size: remMM(12);

                    &:after {
                        content: "";
                        left: 50%;
                        top: 100%;
                        transform: translateX(-50%);
                        width: 14px;
                        height: 14px;
                        display: block;
                        position: absolute;
                        z-index: 5;
                        //background-image: url(../img/icon/srdce.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
            }
        }

        .texts {
            width: 100%;
            max-width: 47.4%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-right: 18px;

            h2 {
                letter-spacing: 1.9px;
                margin: 0 0 30px 0;
            }

            p {
                margin: 0 0 30px 0;
                font-size: remMM(20);
                font-weight: 400;
            }

            .btn-primary {}
        }
    }
}

@media screen and (max-width: 1330px) and (min-width: 0px) {
    .welcome-text {
        .container {}

        .flex-holder {
            padding: 0;

            .left {
                img {}

                .ring {
                    img {}

                    span {
                        &:after {}
                    }
                }
            }

            .texts {
                margin-right: 0;

                h2 {}

                p {}

                .btn-primary {}
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 0px) {
    .welcome-text {
        padding-bottom: 40px;

        .container {}

        .flex-holder {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            gap: 40px;

            .left {
                max-width: 400px;

                img {}

                .ring {
                    img {}

                    span {
                        &:after {}
                    }
                }
            }

            .texts {
                max-width: 100%;

                h2 {}

                p {}

                .btn-primary {}
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .welcome-text {
        .container {}

        .flex-holder {
            .left {
                img {}

                .ring {
                    display: none;

                    img {}

                    span {
                        &:after {}
                    }
                }
            }

            .texts {
                h2 {}

                p {}

                .btn-primary {}
            }
        }
    }
}

.more-posts {
    .container {
        max-width: calc(1036px);
        padding: 0;

        h2 {
            margin: 0 0 40px 0;
            font-size: remMM(46);
        }

        .wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;

            .news-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;
                width: 100%;
                // border: 3px solid $black;

                .image {
                    aspect-ratio: 1;
                    width: 100%;
                    height: 250px;
                    overflow: hidden;

                    a {
                        width: 100%;
                        height: 100%;
                        display: block;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .text {
                    padding: 23px 24px 35px 24px;
                    width: 100%;
                    gap: 0;

                    .title {
                        @include trans(0.3s);
                        font-size: remMM(30);
                        font-weight: 700;
                        margin-bottom: 12px;
                        line-height: 1.2em;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    a {}

                    time {
                        font-size: remMM(16);
                        color: $color-font;
                        font-weight: 400;
                        margin-bottom: 16px;
                    }

                    .btn-primary {
                        order: 3;
                        // color: $color-font;

                        font-size: remMM(14);
                        padding: 15px 20px 14px 20px;
                    }

                    .description {
                        display: none;

                        a {
                            position: relative;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .more-posts {
        .container {
            h2 {}

            .wrapper {
                grid-template-columns: repeat(1, 1fr);

                .news-item {
                    .image {
                        height: 200px;

                        a {
                            img {}
                        }
                    }

                    .text {
                        padding: 15px;

                        .title {
                            font-size: remMM(24);

                            &:hover {}
                        }

                        a {}

                        time {}

                        .btn-primary {}

                        .description {
                            a {}
                        }
                    }
                }
            }
        }
    }
}

.share-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 35px 0 35px 0;
    gap: 9px;

    h4 {
        margin: 0 10px 0 0;
    }

    a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        position: relative;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border: 1px solid $color-border;
        background-color: $color-page-background-2;

        &:hover {
            background-color: $color-page-background;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .share-holder {
        padding: 20px 0 20px 0;

        h4 {}

        a {
            &:hover {}

            svg {}
        }
    }
}