@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin clearfix() {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container($max-width: $container-width) {
    max-width: calc($max-width + ($container-padding * 2));
    margin: 0 auto !important;
    width: 100%;
    padding-left: $container-padding;
    padding-right: $container-padding;
    zoom: 1;
    @include box-sizing(border-box);
    @include clearfix;

    @media (max-width: 767px) {
        padding-left: $container-padding-mobile;
        padding-right: $container-padding-mobile;
    }
}

@mixin trans($t) {
    -webkit-transition: all $t ease-in-out;
    -moz-transition: all $t ease-in-out;
    -o-transition: all $t ease-in-out;
    transition: all $t ease-in-out;
}

@function emMM($size, $context: $default-font-size) {
    @return calc(($size / $context) * 1em);
}

@function remMM($size, $context: $default-font-size) {
    @return calc(($size / $context) * 1rem);
}

@mixin dividerBottom() {
    position: relative;
    margin-bottom: 104px;
    padding-bottom: 114px;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        max-width: 1440px;
        width: 100%;
        background-color: $border-primary;;
    }

    &::after {
        content: "";
        // background-color: $color-page-bg;
        // padding: 11px;
        // width: 37px;
        // height: 35px;
        padding: 2px;
        // background: url(/assets/img/icon/logo-small.svg) no-repeat center center;
        background-size: 36px 36px;
        background-color: $color-page-bg;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        position: absolute;
        left: 50%;
    }



    &::before {
        bottom: 20px;
    }

    &::after {
        bottom: 0px;
        transform: translateX(-50%);
    }
}

@mixin inherit() {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
    text-transform: inherit;
    transition: inherit;
}


@mixin underline-mid($bg-color: $color-font, $height: 1px, $bottom: 0) {
    position: relative;
    @include trans(0.3s);

    &:hover {
        &::before {
            transform: scale(1, 1);
        }
    }

    &::before {
        @include trans(0.3s);
        content: "";
        left: 0;
        top: unset;
        bottom: $bottom;
        width: 100%;
        height: $height;
        display: block;
        background-color: $bg-color;
        position: absolute;
        transform: scale(0, 1);
    }
}

@mixin underline-mid-reverse($bg-color: $color-font, $height: 1px, $bottom: 0) {
    position: relative;
    @include trans(0.3s);

    &:hover {
        &::before {
            transform: scale(0, 1);
        }
    }

    &::before {
        @include trans(0.3s);
        content: "";
        left: 0;
        top: unset;
        left: unset;
        bottom: $bottom;
        width: 100%;
        height: $height;
        display: block;
        background-color: $bg-color;
        position: absolute;
        transform: scale(1, 1);
    }
}