.popup-widget.cart-widget,
.popup-widget.login-widget {
    display: none;
}

.user-action {
    position: relative;

    .container {
        position: relative;
    }
}

.login-window-visible .popup-widget.login-widget {
    display: flex;

}

.mobile {
    &.cart-window-visible {
        overflow: hidden;
    }
}

.cart-window-visible .popup-widget.cart-widget {
    display: block;
}

.admin-logged .popup-widget {

    top: 130px;

    &.sticky {
        top: 100px;
    }

    &.cart-widget {
        height: calc(100vh - 100px);

        @media (max-width: $breakpoint-mobile) {
            right: 0;
            height: 100vh;
            top: 0;
            max-height: 100vh;
            padding: 60px 20px 20px 20px;

            .close {
                top: 15px;
                transform: unset;
                right: 15px;
                width: 20px;
                height: 20px;
            }

            .btn-conversion {
                padding: emMM(10);
                font-size: remMM(16);
            }
        }
    }
}

.ordering-process {
    &.admin-logged {
        .popup-widget {
            top: 125px;
        }
    }

    .popup-widget {
        top: 98px;
    }
}

#formLogin,
#formLoginIncluded {
    .login-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 16px;
    }

    .social-login-buttons-divider {}

    input {
        background-color: $color-page-background;
    }
}

.popup-widget {
    position: fixed;
    right: 0;
    z-index: 1011;
    padding: 50px;
    background-color: $color-font-05;
    top: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    &.sticky {
        top: 100px;

        @media (max-width: $breakpoint-mobile) {
            top: 88px;
        }
    }

    h2 {
        font-size: remMM($font-size-h4);
        margin: 0 0 emMM(20, $font-size-h4);
    }

    &.cart-widget {
        overflow-y: auto;
        max-width: 435px;
        height: calc(100vh - 128px);

        @media (max-width: $breakpoint-mobile) {
            right: 0;
            height: 100vh;
            top: 0;
            max-height: 100vh !important;
            padding: 60px 20px 20px 20px;

            .close {
                top: 15px;
                transform: unset;
                right: 15px;
                width: 20px;
                height: 20px;
            }

            .btn-conversion {
                padding: emMM(10);
                font-size: remMM(16);
            }
        }
    }

    .password-helper {
        a {
            display: block;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    input[type='email'] {
        padding-left: 10px;
        background-image: none;
    }
}

.cart-widget-inner {
    display: flex;
    flex-direction: column;

    .cart-widget-products {
        order: 1;
    }

    .popup-cart-summary {
        order: 2;
    }

    .cart-widget-button {
        order: 3;
    }

    .cart-free-shipping {
        order: 4;

        .free-shipping-strong {
            color: #54bf00;
            font-weight: 400;
        }
    }
}

.cart-widget-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-border;

    .cart-widget-product-image {
        order: 1;
        flex: 0 1 60px;
    }

    .cart-widget-product-name {
        order: 2;
        flex: 1 1 calc(100% - 60px - 16px);
    }

    .cart-widget-product-price {
        order: 3;
        margin-right: auto;
        font-weight: 700;
    }

    .cart-widget-product-amount {
        order: 4;

        .quantity {
            margin-right: 30px;
        }
    }

    .cart-widget-product-delete {
        order: 5;

        button {
            &::before {
                // content: url(../img/icon/remove.svg);
                // display: inline-block;
                // line-height: 0;
            }
        }
    }

    .cart-widget-product-unit {
        display: none;
    }

    .cart-widget-product-variant {
        display: block;
        font-size: remMM(12);
        font-family: $default-font-family;
    }

    .cart-widget-product-single-price {
        font-size: remMM(12);
        font-weight: 400;
    }
}

.popup-cart-summary {
    margin-bottom: 20px;
}

.popup-cart-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

strong.popup-cart-summary-item-value {
    font-size: remMM(28);
    white-space: nowrap;
}

.cart-widget>.cart-widget-button {
    display: none;
}

.cart-widget-button {
    margin-bottom: 20px;

    .btn.btn-conversion {
        display: block;
        text-align: center;
        font-size: remMM(20);
        padding: emMM(20, 20);
        font-weight: 700;
    }
}

.empty-cart-popup {
    .contact-box .mail {
        margin-top: 20px;
    }

    .subcategories {
        gap: 10px;

        a {
            background-color: $color-page-background;
        }

        &::before {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .popup-widget {
        top: 136px;

        &.cart-widget {
            max-height: calc(100vh - 136px);
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .popup-widget {
        top: 68px;
        padding: 30px 20px;
        top: 72px;

        &.cart-widget {
            max-height: calc(100vh - 70px);
        }
    }

    .admin-logged .popup-widget {
        top: 88px;
    }
}

.login-window-visible {
    overflow: hidden;

    .bg-close {
        opacity: 0.5;
    }
}

.user-action-login {
    position: fixed;
    left: 50%;
    top: 50% !important;
    transform: translate(-50%, -50%);
    padding: 0;
    justify-content: space-between;
    background-color: $color-page-background !important;
    width: 100%;
    max-width: 1034px;

    .close-second {
        @include trans(0.3s);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 30px;
        width: 30px;
        right: 20px;
        top: 20px;
        cursor: pointer;
        z-index: 15;
        // border-radius: 50%;
        // background-color: $black;
        z-index: 2000;

        div {
            @include trans(0.3s);
            height: 2px;
            width: 100%;
            position: absolute;
            margin-top: 0px;
            border-radius: 0px;
            background-color: $black;

            &:first-of-type {
                transform: rotate(45deg);
            }

            &:last-of-type {
                transform: rotate(-45deg);
            }
        }

        &:hover {
            @include trans(0.3s);

            div {
                background-color: $red-1;

                &:first-of-type {
                    transform: rotate(-45deg);
                }

                &:last-of-type {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .bg-close {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
    }

    // &::before {
    //     content: "";
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     width: 100vw;
    //     height: 100vw;
    //     display: block;
    //     position: fixed;
    //     z-index: 1;
    //     background-color: rgba($color: $color-font, $alpha: 0.5);
    // }

    .popup-widget-inner {
        padding: 91px 70px 85px 54px;
        background-color: $color-page-background;
        position: relative;
        z-index: 100;
        max-width: 51%;
        width: 100%;

        h2 {
            font-size: remMM(46);
            font-weight: 700;
            color: $black;
            margin: 0 0 4px 0;
        }

        p {
            font-size: remMM(18);
            font-weight: 400;
            color: $black;
            margin: 0 0 22px 0;
        }

        form {
            button {
                display: inline-block;
                color: $color-font-second;
                background-color: $color-font;
                border: 2px solid $color-font;
                padding: emMM(16) emMM(22)emMM(16) emMM(22);
                font-size: remMM(16);
                letter-spacing: 0.75px;
                font-weight: 700;
                text-align: center;

                &:hover {
                    color: $color-font;
                    background-color: $color-font-second;
                }

                @media screen and (max-width: 767px) {
                    padding: emMM(11) emMM(10)emMM(8) emMM(10);
                }
            }

            a {
                &[data-testid="signup"] {
                    display: none;
                }
            }

            input {
                padding: emMM(22) emMM(25) emMM(20) emMM(25);
            }

            .login-wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                gap: 16px;
                margin-top: 15px;
            }

            .social-login-buttons-divider {
                margin: 0 0 16px 0;
                text-align: left;

                span {
                    font-size: remMM(18);
                    font-weight: 700;
                    color: $black;
                }
            }
        }
    }

    .registration-banner-login {
        padding: 91px 130px 85px 58px;
        background-color: $color-primary;
        position: relative;
        z-index: 100;
        max-width: 49%;
        width: 100%;

        h2 {
            font-size: remMM(46);
            font-weight: 700;
            color: $black;
            margin: 0 0 4px 0;
        }

        p {
            font-size: remMM(18);
            font-weight: 400;
            color: $black;
            margin: 0 0 13px 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            padding: 0;
            margin: 0 0 16px 0;

            li {
                position: relative;
                padding-left: 46px;
                margin-bottom: 16px;
                font-size: remMM(16);
                font-weight: 400;
                color: $black;
                list-style: none;

                &::marker {
                    display: none;
                }

                &::before {
                    content: "";
                    left: 0;
                    top: -3px;
                    width: 30px;
                    height: 30px;
                    display: block;
                    //background-image: url(../img/icon/bene-mark.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                }
            }
        }

        img {
            position: absolute;
            right: 40px;
            bottom: 40px;
        }

        .btn-secondary {}
    }
}

@media screen and (max-width: 1000px) {
    .user-action-login {
        .bg-close {}

        .popup-widget-inner {
            padding: 50px 40px 50px 40px;

            h2 {}

            p {}

            form {
                button {

                    &:hover {}
                }

                a {
                    &[data-testid="signup"] {}
                }

                input {}

                .login-wrapper {}

                .social-login-buttons-divider {
                    span {}
                }
            }
        }

        .registration-banner-login {
            padding: 50px 90px 50px 40px;

            h2 {}

            p {}

            ul {

                li {

                    &::marker {}

                    &::before {}
                }
            }

            img {
                right: 10px;
                bottom: 10px;
                max-width: 150px;
            }

            .btn-secondary {}
        }
    }
}

@media screen and (max-width: 767px) {
    .user-action-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        top: 0 !important;
        transform: translateX(-50%);
        height: 100vh;
        overflow: scroll;

        .bg-close {}

        .popup-widget-inner {
            max-width: 100%;
            padding: 50px 20px 20px 20px;

            h2 {}

            p {}

            form {
                button {

                    &:hover {}
                }

                a {
                    &[data-testid="signup"] {}
                }

                input {}

                .login-wrapper {}

                .social-login-buttons-divider {
                    span {}
                }
            }
        }

        .registration-banner-login {
            max-width: 100%;
            padding: 20px 20px 150px 20px;

            h2 {}

            p {}

            ul {

                li {

                    &::marker {}

                    &::before {}
                }
            }

            img {
                bottom: 130px;
                max-width: 100px;
            }

            .btn-secondary {}
        }
    }
}