$color-border: #C5C6C6;
$color-hover-bg: #f3f3f8;

$color-font-90: #161718;
$color-font-80: #303132;
$color-font-70: #464748;
$color-font-60: #5A5B5C;
$color-font-50: #7C7D7E;
$color-font-40: #adacad;
$color-font-30: #9E9FA0;
$color-font-20: #C4C6C7;
$color-font-10: #D8D8D8;
$color-font-05: #F5F4F4;

$grey-1:#939393;
$grey-2:#ACACAC;

$color-tertiary-05: #f6fcf2;
$color-tertiary-15: #def3ce;
$color-tertiary: #54bf00;
$green:#26D270;

$yellow:#FFF8B6;
$yellow-2:#FEF1C1;

$bg-color:#F8EFEB;