// Container width
$container-width: 1440px;
$container-width-second: 1600px;
$container-width-fluid: 2260px;
// Container padding
$container-padding: 4rem;
$container-padding-tablet: 2rem;
$container-padding-mobile: 1rem;

$sidebar-width: 264px;

// Border radius
$border-radius-default: 0.375rem;

// FONTS
$default-font-size: 16;

// H1
$h1: 64;
$h1-mobile: 40;
$h1-tablet: calc(($h1 + $h1-mobile) / 2);
$h1-lineHeight: 76.8; // 64 * 1.2
$h1-mobile-lineHeight: 48; // 40 * 1.2
$h1-tablet-lineHeight: calc(($h1-lineHeight + $h1-mobile-lineHeight) / 2);

// H2
$h2: 48;
$h2-mobile: 32;
$h2-tablet: calc(($h2 + $h2-mobile) / 2);
$h2-lineHeight: 57.6;
$h2-mobile-lineHeight: 38.4;
$h2-tablet-lineHeight: calc(($h2-lineHeight + $h2-mobile-lineHeight) / 2);

$h2-big: 64;
$h2-big-mobile: 40;
$h2-big-tablet: calc(($h2-big + $h2-big-mobile) / 2);
$h2-big-lineHeight: 76.8;
$h2-big-mobile-lineHeight: 48;
$h2-big-tablet-lineHeight: calc(($h2-big-lineHeight + $h2-big-mobile-lineHeight) / 2);

$h2-mid: 54;
$h2-mid-mobile: 36;
$h2-mid-tablet: calc(($h2-mid + $h2-mid-mobile) / 2);
$h2-mid-lineHeight: 64.8;
$h2-mid-mobile-lineHeight: 43.2;
$h2-mid-tablet-lineHeight: calc(($h2-mid-lineHeight + $h2-mid-mobile-lineHeight) / 2);

$h2-small: 34;
$h2-small-mobile: 28;
$h2-small-tablet: calc(($h2-small + $h2-small-mobile) / 2);
$h2-small-lineHeight: 40.8;
$h2-small-mobile-lineHeight: 33.6;
$h2-small-tablet-lineHeight: calc(($h2-small-lineHeight + $h2-small-mobile-lineHeight) / 2);

$h2-tiny: 24;
$h2-tiny-mobile: 20;
$h2-tiny-tablet: calc(($h2-tiny + $h2-tiny-mobile) / 2);
$h2-tiny-lineHeight: 28.8;
$h2-tiny-mobile-lineHeight: 24;
$h2-tiny-tablet-lineHeight: calc(($h2-tiny-lineHeight + $h2-tiny-mobile-lineHeight) / 2);

// H3
$h3: 34;
$h3-mobile: 28;
$h3-tablet: calc(($h3 + $h3-mobile) / 2);
$h3-lineHeight: 40.8;
$h3-mobile-lineHeight: 33.6;
$h3-tablet-lineHeight: calc(($h3-lineHeight + $h3-mobile-lineHeight) / 2);

$h3-big: 48;
$h3-big-mobile: 32;
$h3-big-tablet: calc(($h3-big + $h3-big-mobile) / 2);
$h3-big-lineHeight: 57.6;
$h3-big-mobile-lineHeight: 38.4;
$h3-big-tablet-lineHeight: calc(($h3-big-lineHeight + $h3-big-mobile-lineHeight) / 2);

$h3-mid: 40;
$h3-mid-mobile: 28;
$h3-mid-tablet: calc(($h3-mid + $h3-mid-mobile) / 2);
$h3-mid-lineHeight: 48;
$h3-mid-mobile-lineHeight: 33.6;
$h3-mid-tablet-lineHeight: calc(($h3-mid-lineHeight + $h3-mid-mobile-lineHeight) / 2);

$h3-small: 28;
$h3-small-mobile: 24;
$h3-small-tablet: calc(($h3-small + $h3-small-mobile) / 2);
$h3-small-lineHeight: 33.6;
$h3-small-mobile-lineHeight: 28.8;
$h3-small-tablet-lineHeight: calc(($h3-small-lineHeight + $h3-small-mobile-lineHeight) / 2);

$h3-tiny: 22;
$h3-tiny-mobile: 18;
$h3-tiny-tablet: calc(($h3-tiny + $h3-tiny-mobile) / 2);
$h3-tiny-lineHeight: 26.4;
$h3-tiny-mobile-lineHeight: 21.6;
$h3-tiny-tablet-lineHeight: calc(($h3-tiny-lineHeight + $h3-tiny-mobile-lineHeight) / 2);

// H4
$h4: 28;
$h4-mobile: 22;
$h4-tablet: calc(($h4 + $h4-mobile) / 2);
$h4-lineHeight: 33.6;
$h4-mobile-lineHeight: 26.4;
$h4-tablet-lineHeight: calc(($h4-lineHeight + $h4-mobile-lineHeight) / 2);

$h4-big: 34;
$h4-big-mobile: 26;
$h4-big-tablet: calc(($h4-big + $h4-big-mobile) / 2);
$h4-big-lineHeight: 40.8;
$h4-big-mobile-lineHeight: 31.2;
$h4-big-tablet-lineHeight: calc(($h4-big-lineHeight + $h4-big-mobile-lineHeight) / 2);

$h4-mid: 30;
$h4-mid-mobile: 24;
$h4-mid-tablet: calc(($h4-mid + $h4-mid-mobile) / 2);
$h4-mid-lineHeight: 36;
$h4-mid-mobile-lineHeight: 28.8;
$h4-mid-tablet-lineHeight: calc(($h4-mid-lineHeight + $h4-mid-mobile-lineHeight) / 2);

$h4-small: 22;
$h4-small-mobile: 18;
$h4-small-tablet: calc(($h4-small + $h4-small-mobile) / 2);
$h4-small-lineHeight: 26.4;
$h4-small-mobile-lineHeight: 21.6;
$h4-small-tablet-lineHeight: calc(($h4-small-lineHeight + $h4-small-mobile-lineHeight) / 2);

$h4-tiny: 18;
$h4-tiny-mobile: 16;
$h4-tiny-tablet: calc(($h4-tiny + $h4-tiny-mobile) / 2);
$h4-tiny-lineHeight: 21.6;
$h4-tiny-mobile-lineHeight: 19.2;
$h4-tiny-tablet-lineHeight: calc(($h4-tiny-lineHeight + $h4-tiny-mobile-lineHeight) / 2);

// H5
$h5: 22;
$h5-mobile: 18;
$h5-tablet: calc(($h5 + $h5-mobile) / 2);
$h5-lineHeight: 26.4;
$h5-mobile-lineHeight: 21.6;
$h5-tablet-lineHeight: calc(($h5-lineHeight + $h5-mobile-lineHeight) / 2);

$h5-big: 28;
$h5-big-mobile: 22;
$h5-big-tablet: calc(($h5-big + $h5-big-mobile) / 2);
$h5-big-lineHeight: 33.6;
$h5-big-mobile-lineHeight: 26.4;
$h5-big-tablet-lineHeight: calc(($h5-big-lineHeight + $h5-big-mobile-lineHeight) / 2);

$h5-mid: 24;
$h5-mid-mobile: 20;
$h5-mid-tablet: calc(($h5-mid + $h5-mid-mobile) / 2);
$h5-mid-lineHeight: 28.8;
$h5-mid-mobile-lineHeight: 24;
$h5-mid-tablet-lineHeight: calc(($h5-mid-lineHeight + $h5-mid-mobile-lineHeight) / 2);

$h5-small: 18;
$h5-small-mobile: 16;
$h5-small-tablet: calc(($h5-small + $h5-small-mobile) / 2);
$h5-small-lineHeight: 21.6;
$h5-small-mobile-lineHeight: 19.2;
$h5-small-tablet-lineHeight: calc(($h5-small-lineHeight + $h5-small-mobile-lineHeight) / 2);

$h5-tiny: 16;
$h5-tiny-mobile: 14;
$h5-tiny-tablet: calc(($h5-tiny + $h5-tiny-mobile) / 2);
$h5-tiny-lineHeight: 19.2;
$h5-tiny-mobile-lineHeight: 16.8;
$h5-tiny-tablet-lineHeight: calc(($h5-tiny-lineHeight + $h5-tiny-mobile-lineHeight) / 2);

// H6
$h6: 18;
$h6-mobile: 14;
$h6-tablet: calc(($h6 + $h6-mobile) / 2);
$h6-lineHeight: 21.6;
$h6-mobile-lineHeight: 16.8;
$h6-tablet-lineHeight: calc(($h6-lineHeight + $h6-mobile-lineHeight) / 2);

$h6-big: 22;
$h6-big-mobile: 18;
$h6-big-tablet: calc(($h6-big + $h6-big-mobile) / 2);
$h6-big-lineHeight: 26.4;
$h6-big-mobile-lineHeight: 21.6;
$h6-big-tablet-lineHeight: calc(($h6-big-lineHeight + $h6-big-mobile-lineHeight) / 2);

$h6-mid: 22;
$h6-mid-mobile: 18;
$h6-mid-tablet: calc(($h6-mid + $h6-mid-mobile) / 2);
$h6-mid-lineHeight: 26.4;
$h6-mid-mobile-lineHeight: 21.6;
$h6-mid-tablet-lineHeight: calc(($h6-mid-lineHeight + $h6-mid-mobile-lineHeight) / 2);

$h6-small: 16;
$h6-small-mobile: 14;
$h6-small-tablet: calc(($h6-small + $h6-small-mobile) / 2);
$h6-small-lineHeight: 19.2;
$h6-small-mobile-lineHeight: 16.8;
$h6-small-tablet-lineHeight: calc(($h6-small-lineHeight + $h6-small-mobile-lineHeight) / 2);

$h6-tiny: 14;
$h6-tiny-mobile: 12;
$h6-tiny-tablet: calc(($h6-tiny + $h6-tiny-mobile) / 2);
$h6-tiny-lineHeight: 16.8;
$h6-tiny-mobile-lineHeight: 14.4;
$h6-tiny-tablet-lineHeight: calc(($h6-tiny-lineHeight + $h6-tiny-mobile-lineHeight) / 2);


$default-font-family: 'Jost', sans-serif;
$heading-font-family: 'Jost', sans-serif;