@import "basics/fonts";
@import "variables";
@import "colors";
@import "mixins";

@import "basics/reset";

@import "homepage/main-swiper";

@import "components/swiper";
@import 'components/elements';
@import 'components/breadcrumbs';

@import "products/product-category-top";
@import "products/product-detail-top";

.container {
  .container:not(.active) {
    padding: 0 !important;
  }
}

section,
div {
  scroll-margin-top: 150px;
}

body {
  padding: 0;
  margin: 0;
  color: $color-font;
  font-family: $default-font-family;
  line-height: em(22, 16);
  background-color: $color-page-bg;
  overflow-x: hidden;
}


a {
  color: $color-font;
  transition: all 0.15s ease-in-out;
}

/** @format */

// Společný základ pro všechny nadpisové prvky
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.extended-banner-title,
.homepage-group-title {
  font-family: $heading-font-family;
  font-weight: 700;
  position: relative;
  margin-bottom: 10px;

  span {
    color: $color-primary;
  }
}



// Automatické generování stylů z mapy
@each $key, $value in $typography-map {
  @if str-length($key)==2 {

    // Generuje základní tagy a třídy (h1, .h1 atd.)
    #{$key},
    .#{$key} {
      @include apply-typography($key);
    }
  }

  @else {
    // Generuje modifikátory (h2.mid, .h2.mid atd.)
    $tag: str-slice($key, 1, 2);
    $modifier: str-slice($key, 4);

    #{$tag}.#{$modifier},
    .#{$tag}.#{$modifier} {
      @include apply-typography($key);
    }
  }
}

// Mapování Shoptet specifických selektorů na existující styly v mapě
.homepage-group-title,
.extended-banner-title,
.custom-footer__newsletter h4 {
  @include apply-typography("h2");
}



// Styl pro podtržení nadpisů (použití: h2.underline)
.underline {
  padding-bottom: 8px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: $color-primary;
  }
}

h2.underline::after {
  width: 100px;
}

h3.underline::after {
  width: 60px;
}

.container {
  @include container();
}

.overall-wrapper {
  min-height: 100vh;

  // @media (max-width: 767px) {
  //     overflow: hidden;
  // }
}

#additionalInformation {
  display: block;
  margin-bottom: 0;

  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 0;

    &.box {
      margin-bottom: 0;
    }

    .form-group {
      margin: 0 0 10px 0;
      gap: 2px;
    }

    .company-shopping {
      order: 30;
    }

    #company-info {
      order: 31;
    }
  }
}

.js-hidden:not(.visible):not(.visible-permanent),
.no-display {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

table {
  border-collapse: collapse;

  th,
  td {
    .client-table-heading {
      display: none;
    }
  }

  th {
    text-align: left;
  }
}

#header,
.top-navigation-bar {
  .menu-level-1 {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.text-center {
  text-align: center;
}

.full-width {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 15px);
  max-width: 1920px;

  @media (max-width: 767px) {
    position: initial;
    transform: none;
    width: auto;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.site-name-wrapper {
  flex-shrink: 0;
  // margin-left: 10px;

  @media (max-width: 1100px) {
    margin-left: 0px;
  }
}

// .type-manufacturer-detail {
//   .filter-section-boolean,
//   .filter-section-button,
//   .filter-section-count,
//   .filter-count {
//     display: block;
//   }
// }

.carousel-thumbnails {
  @include container();
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;

  @media (max-width: 767px) {
    margin-bottom: 50px;
  }

  .carousel-thumbnail {
    flex: 1 1 240px;
    min-height: 125px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.15s ease-in-out;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(54deg,
          rgba(0, 0, 0, 0.4) 9.56%,
          rgba(0, 0, 0, 0) 62.68%);
    }

    &.active {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
        background-color: $color-accent;
        z-index: 2;
      }
    }
  }

  .carousel-thumbnail-title {
    position: absolute;
    left: 15px;
    bottom: 15px;
    right: 15px;
    font-weight: 700;
    color: $color-page-bg;
    font-size: rem(20);
    z-index: 2;
  }

  @media (max-width: 767px) {
    align-items: center;
    gap: 0;
    justify-content: center;

    .carousel-thumbnail {

      .carousel-thumbnail-title,
      img {
        display: none;
      }

      padding: 5px;
      flex: 0 0 auto;
      min-height: unset;
      border-radius: 0;

      &::after {
        display: none;
      }

      &::before {
        content: "";
        position: initial;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $color-font-050;
      }

      &.active {
        box-shadow: none;

        &::before {
          background-color: $color-font;
          height: 12px;
          position: initial;
        }
      }
    }
  }
}

.homepage-products-heading-4 {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -57px;
    transform: translateY(-50%);
    width: 37px;
    height: 37px;
    //background-image: url(../img/icon/hearth.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.blog-title-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto 56px auto;
  max-width: calc(1035px + 4rem);
  padding: 0 2rem;
  gap: 30px;

  @media screen and (max-width: 767px) {
    padding: 0 1rem;
    margin: 19px auto 53px auto;
  }

  h1,
  h4 {
    letter-spacing: 0.5px;
    margin: 0;
    color: $color-page-bg-secondary;
    font-size: rem(14);
    text-transform: uppercase;
    line-height: 1.2em;
  }

  .subcategories {
    gap: 40px;

    li {
      background-color: unset !important;

      &:hover {
        background-color: unset !important;
      }

      a {
        text-decoration: none;

        &.active {
          .text {
            color: $color-font;

            &::before {
              width: 100%;
            }
          }
        }

        &:hover {
          text-decoration: unset;
          background-color: unset;

          .text {
            color: $color-font;

            &::before {
              width: 100%;
            }
          }
        }

        .text {
          @include trans(0.3s);
          font-size: rem(18);
          color: $color-font;
          line-height: 1.2em;
          position: relative;
          background-color: unset;
          text-decoration: unset;
          font-weight: 700;

          &:hover {
            text-decoration: unset;
            color: $color-font;

            &::before {
              width: 100%;
            }
          }

          &::before {
            @include trans(0.3s);
            content: "";
            left: 0;
            width: 0;
            bottom: -6px;
            height: 2px;
            position: absolute;
            display: block;
            background-color: $color-primary;
          }
        }
      }
    }

    @media (max-width: 900px) {
      // overflow-x: scroll;
      // white-space: nowrap;
      // flex-direction: row;
      width: 100%;
      gap: 15px 25px;
    }
  }

  @media (max-width: 767px) {
    h1 {
      width: 100%;
    }

    .subcategories {
      flex-wrap: wrap;

      li {
        white-space: nowrap;
      }
    }
  }
}

#products-found {
  margin-bottom: 60px;
}

.type-category #content>h4:first-child {
  margin: 0 0 30px;
}

body.mobile {
  #category-header {
    form {
      input[type="radio"]+label:hover {
        border-bottom: 2px solid transparent;
      }

      input[type="radio"]:checked+label {
        &:hover {
          border-bottom: 2px solid $color-font;
        }
      }
    }
  }
}

.cart-empty {
  text-align: center;
}





// PAGE
.has-page-header {
  .breadcrumbs-wrapper {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 2;
  }

  .breadcrumbs {
    display: inline-flex;
    padding: 5px;
    background-color: rgba(#fff, 0.1);
    margin-left: -5px;
  }
}

.type-page {
  .page-header {
    .container {
      &>* {
        max-width: 520px;
      }
    }
  }

  .body-banners {
    overflow: hidden;
  }
}

.page-header {
  position: relative;

  &.tall {
    min-height: 500px;

    img {
      min-height: 500px;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 calc(100px + 2rem);
  }

  color: $color-page-bg;

  &>br {
    display: none;
  }

  @media (max-width: 991px) {
    .container {
      padding: 0 2rem;
    }
  }

  @media (max-width: 767px) {
    &.tall {
      img {
        min-height: 300px;
      }

      .container {
        position: initial;
        padding: 30px;
        text-align: center;
        background-color: $color-font;
        transform: none;
      }
    }

    &:not(.tall) {
      img {
        min-height: 200px;
      }
    }
  }
}

.narrow-custom {
  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.type-post {

  .products-block:not(.slick-initialized),
  .products-inline.dkLabVisitedProducts:not(.slick-initialized) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 24px;

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, minmax(1px, 1fr));
      gap: 15px;
    }
  }
}

// .type-page,
// .type-post {
//     #content article p {
//         color: $color-font-800;
//     }
// }

















.btn-holder-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

#nav-manufacturers {
  display: none;
}



.slider-content {
  width: 100% !important;
}


.empty-content-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 40px 0;
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}



.fvDoplnek {
  display: none;
}

.sidebar-in-cart {
  .fvDoplnek {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 24px;
    margin-bottom: 24px !important;

    h4 {
      display: none !important;
    }

    .fvDoplnek-produkt {
      background-color: $black;
      margin-bottom: 0 !important;

      form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        padding: 20px 35px 20px 35px;

        img {
          max-width: 48px;
          width: 100%;
          height: unset !important;
        }

        .fvcontent {
          max-width: 76%;
          width: 100%;
          display: flex !important;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 15px;

          .header {
            span {
              &:first-of-type {
                display: none;
              }
            }

            .price {
              display: none;
            }

            .name {
              width: 100% !important;
              font-size: rem(18);
              font-weight: 800;
              color: $color-font-second;
            }

            .fvDoplnek-text {
              width: 100%;
              display: block;
              padding: 0;

              span {
                &:first-of-type {
                  display: flex;
                }
              }
            }

            input {}
          }

          p {
            width: 100% !important;
            padding: 0 !important;
            margin: 0 !important;
            font-size: rem(10);
            color: $color-font-second;
          }
        }

        .btn-secondary {
          width: 100%;
          padding: em(5) em(10) em(10) em(10);

          &:hover {
            color: $color-font;
            background-color: $color-font-second;
          }
        }
      }
    }
  }
}



.dkLabFavouriteProductDiv {
  .dkLabFavProductSpan {
    &::before {
      //content: url(../img/icon/favourites-small.svg) !important;
      margin: 0 !important;
      position: relative !important;
      top: unset !important;
      left: unset !important;
      right: unset !important;
      bottom: unset !important;
      width: 19px !important;
      height: 19px !important;
    }
  }
}

#dkLabFavHeaderWrapper {
  top: unset !important;
  left: unset !important;
  right: unset !important;
  bottom: unset !important;
  position: relative !important;
  transform: unset !important;

  .dkLabFavHeaderIconBtn {
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    position: relative !important;
    width: 33px !important;
    height: 33px !important;

    &::before {
      content: "";
      //background-image: url(../img/icon/favourites.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 !important;
      position: relative !important;
      top: unset !important;
      left: unset !important;
      right: unset !important;
      bottom: unset !important;
      width: 33px !important;
      height: 33px !important;
    }

    @media (max-width: 370px) {
      width: 24px !important;
      height: 24px !important;

      &::before {
        width: 24px !important;
        height: 24px !important;
      }
    }

    em {
      padding: 1px 0 0 0;
      position: absolute;
      top: 5px;
      left: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $color-font;
      color: $color-font-second;
      font-size: 0.625rem;
      font-style: italic;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-style: normal;
      transform: translateY(-50%);
    }
  }
}

.dkLabFavouriteDiv {
  margin: 0 !important;
  order: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .dkLabFavDetailSpan {
    position: relative;
    padding: 40px 2px 2px 2px;
    height: 60px;
    order: 6;
    display: flex;
    position: relative;
    font-size: rem(14);
    line-height: 1.2em;
    color: $black;
    text-decoration: underline;
    font-weight: 500;
    text-align: center;

    &:before {
      content: "" !important;
      left: 50%;
      top: 2px;
      margin-right: 0 !important;
      transform: translateX(-50%);
      width: 35px;
      height: 35px;
      display: block;
      position: absolute;
      //background: url(../img/icon/favourites-contrast.svg) center center no-repeat;
      background-size: cover;
    }

    span {}
  }

  @media screen and (max-width: 1280px) and (min-width: 0px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .dkLabFavDetailSpan {
      position: relative;
      padding: 0 0 0 30px;
      height: unset;

      &:before {
        left: 0;
        top: 50%;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);
      }
    }
  }

  @media screen and (max-width: 767px) and (min-width: 0px) {
    .dkLabFavDetailSpan {
      &:before {
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
      }
    }
  }
}

.p-image-wrapper {
  .carousel-control {
    width: 32px !important;
    height: 32px !important;

    &::before {
      content: "" !important;
      left: 50% !important;
      top: 50% !important;
      margin-right: 0 !important;
      transform: translate(-50%, -50%) !important;
      width: 32px !important;
      height: 33px !important;
      display: block;
      position: absolute;
      //background: url(../img/icon/arrow-product.svg) center center no-repeat !important;
      background-size: cover;
    }

    &.right {
      right: 20px;
    }

    &.left {
      left: 20px;

      &::before {
        transform: translate(-50%, -50%) rotate(-180deg) !important;
      }
    }

    &:hover {}
  }
}

.id--7 {
  aside {
    position: relative !important;
    top: unset !important;
  }
}

.currency-dropdown {
  position: relative;
  margin-left: auto;

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;

    a {
      font-size: rem(14);
      line-height: 1.2em;
      color: $color-font;
      text-decoration: underline;
      font-weight: 700;
    }
  }

  span {
    &:first-of-type {
      display: none;
    }
  }

  button {
    font-size: rem(14);
    line-height: 1.2em;
    color: $color-font;
    text-decoration: underline;
    font-weight: 700;
    display: none;
  }

  // .dropdown-menu {
  //     display: none;
  //     position: absolute;
  //     top: 100%;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     z-index: 1000;
  //     background-color: $color-page-bg;
  //     padding: 3px !important;

  //     a {
  //         font-size: rem(14);
  //         line-height: 1.2em;
  //         color: $color-font;
  //         text-decoration: underline;
  //     }
  // }
}

.overall-wrapper {
  iframe {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16/9;
  }
}

@import "basics/loader";
@import "basics/cookies";
@import "a_header/header";