@import 'variables';
@import 'colors';
@import 'mixins';
@import 'basics/fonts';

@import 'components/buttons';
@import 'components/elements';


@import 'main/general';

@import 'a_footer/footer';
@import 'a_footer/instagram';
@import 'a_footer/newsletter';
@import 'a_header/header-toggles';

@import 'basics/popups';
@import 'basics/forms';
@import 'basics/colorbox';


@import 'products/product-item';
@import 'products/product-components';
@import 'products/product-list';

@import 'products/product-category-content';
@import 'products/product-category-bottom';
@import 'products/filters';
@import 'components/pagination';

@import 'products/product-detail';


@import 'products/last-visited';

@import 'styles/custom-banners';

@import 'sections/custom-pages';
@import 'sections/usp';

@import 'homepage/banners-top';
@import 'homepage/banners-middle';
@import 'homepage/banners-bottom';
@import 'homepage/custom-sections';
@import 'homepage/blog-posts';
@import 'homepage/welcome-text';


@import 'order/advanced-order';

@import 'order/order-cart';
@import 'order/order-delivery';
@import 'order/order-shippment';
@import 'order/order-summary';
@import 'order/order-components';
@import 'order/order-checkout';

@import 'order/thank-you';


@import 'blog/blog-list';
@import 'blog/blog-detail';
@import 'contacts/page-contacts';

// HIDES
.latest-contribution-box {
    display: none;
}





// VERNOSTNi KLUB
.loyalty-club {
    padding: 100px 0;
    position: relative;
    width: calc(100vw - var(--scrollbar-width));
    left: 50%;
    transform: translateX(-50%);
    //background: url(../img/vernostny-klub-bg.jpg) no-repeat center center;
    background-size: cover;

    .images {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, minmax(1px, 1fr));
        align-items: center;

        .image-wrapper {
            &.height-span {
                grid-row-end: span 2;
            }
        }

        img {
            display: block;
            border-radius: 5px;
        }
    }

    .columns {
        gap: 0;
    }

    .column:not(.images) {
        padding: 0 100px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                gap: 0.4em;
                align-items: center;
                padding: 20px 0;
                border-bottom: 1px solid $color-font-300;

                &.highlight {
                    color: $color-accent;
                    font-weight: 700;
                    font-size: rem(24);
                }
            }
        }
    }


    p {
        color: $color-font-700;
    }

    @media (max-width: 1200px) {
        .columns {
            gap: 30px;
        }

        .column:not(.images) {
            padding: 0;
        }
    }

    @media (max-width: 767px) {
        padding: 50px 0;

        .columns {
            flex-direction: column-reverse;
            gap: 10px;

            &.col-2 .column {
                flex-basis: auto;
            }
        }

        .images {
            gap: 15px;
        }
    }
}

















// CONTENT
#content .text,
.basic-descripton {
    ul {
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background-color: $color-accent;
                border-radius: 50%;
                margin: 11px;
            }
        }
    }

    ol {
        padding: 0;
        list-style: none;
        counter-reset: my-counter;

        li {
            display: flex;
            align-items: flex-start;
            counter-increment: my-counter;

            &::before {
                content: counter(my-counter) ')';
                display: block;
                text-align: right;
                color: $color-accent;
                margin-right: 10px;
                font-weight: 700;
                min-width: em(24);
            }
        }
    }
}

// PAGES
.type-page {
    .content {
        h1 {
            text-align: center;
        }
    }

    .page-header {
        .container {
            &>* {
                max-width: 520px;
            }
        }
    }

    .body-banners {
        overflow: hidden;
    }

    article {
        header {
            margin-top: 40px;
        }
    }
}