#cboxOverlay.siteAgreement {
    z-index: 1005;
}

#colorbox.siteAgreement {
    z-index: 1006;
}

#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    // overflow: hidden;
    z-index: 10020;
}

#cboxWrapper {
    max-width: none;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
    backdrop-filter: blur(5px);
}

#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
}

#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer;
}

.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    height: auto !important;
    -ms-interpolation-mode: bicubic;
}

.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#colorbox {
    outline: 0;
    box-shadow: 0 0 15px rgba(#000, 0.15);
}

#cboxContent {
    overflow: visible;
    background: #fff;
}

.cboxIframe {
    background: #fff;
}

#cboxError {
    padding: 50px;
    border: 1px solid #ccc;
}

#cboxLoadedContent {
    padding: 1px;
}

#cboxLoadingGraphic {
    &::before {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        margin: -30px 0 0 -30px;
        border: 5px solid;
        border-radius: 50%;
        border-color: #fff #ccc #666 #000;
        animation: loader 0.5s linear infinite;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#cboxLoadingOverlay {
    background: #fff;
}

#cboxTitle {
    position: absolute;
    top: -22px;
    left: 0;
    color: #000;
}

#cboxCurrent {
    position: absolute;
    top: -22px;
    right: 205px;
    text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-indent: -9999px;
    font-size: 0;
    position: absolute;
    background: none;
}

#cboxClose {
    @include t(0.3s);
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    right: 2rem;
    top: 50%;
    cursor: pointer;

    &:hover {
        &:before {
            background-color: $red-1;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &::after {
            background-color: $red-1;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &::before,
    &::after {
        @include t(0.3s);
        content: "";
        width: 100%;
        height: 3px;
        background-color: $black;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    &:before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.content-modal {
    padding: 20px;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0;
}

.colorbox-html-content {
    padding: 20px;

    @media (max-width: 767px) {
        padding: 10px;
    }
}

.site-agreement-buttons {
    white-space: nowrap;
    text-align: center;
}

.colorbox-msg {
    margin: 20px 20px 20px;
}

#cboxTitle,
#cboxCurrent {
    display: none !important;
}

#cboxPrevious,
#cboxNext {
    outline: none;
    top: 0;
    width: 50%;
    height: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -18px;
        width: 36px;
        height: 36px;
        border: 2px solid $color-font;
        border-style: none solid solid none;
    }
}

#cboxPrevious {
    left: 0;

    &::before {
        left: 10px;
        transform: rotate(135deg);
    }
}

#cboxNext {
    right: 0;

    &::before {
        right: 10px;
        transform: rotate(-45deg);
    }
}

#cboxClose {
    background-color: #fff !important;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}