.id-1558,
.id-1561 {
    [itemprop="headline"] {
        display: none;
    }

    h2,
    h3,
    h4,
    h5,
    p {
        line-height: 1.2em;
        margin-top: 0;
    }

    .main-club,
    .register-benefits,
    .conditions,
    .main-store,
    .about-store,
    .our-products,
    .text-img {
        .container {
            padding: 0;
            max-width: 100%;
            width: 100%;
        }
    }
}

.main-club {
    padding: 25px 0 95px 0;

    .flex-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px;
        padding-left: 105px;

        .left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 100%;
            max-width: 44%;

            h2 {
                font-size: remMM(46);
                margin-bottom: 30px;
            }

            p {
                font-size: remMM(20);
                font-weight: 400;
                margin-bottom: 22px;
            }

            .btn {
                margin-bottom: 97px;
            }

            h3 {
                font-size: remMM(36);
                margin-bottom: 40px;
            }

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                flex-wrap: nowrap;

                li {
                    line-height: 1.2em;
                    position: relative;
                    padding-left: 46px;
                    margin-bottom: 35px;
                    font-size: remMM(18);
                    font-weight: 700;
                    color: $black;
                    list-style: none;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &::marker {
                        display: none;
                    }

                    &::before {
                        content: "";
                        left: 0;
                        top: -6px;
                        width: 30px;
                        height: 30px;
                        display: block;
                        background-image: url(../img/icon/bene-mark.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center center;
                        position: absolute;
                    }


                    span {
                        font-size: remMM(16);
                        font-weight: 400;
                    }
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            // overflow: hidden;
            width: 100%;
            max-width: 44%;
            position: relative;
            margin-right: 25px;

            img {
                &.big {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }

                &.icon {
                    position: absolute;
                    top: -90px;
                    right: 35px;
                    max-width: 190px;
                }
            }
        }
    }
}

.register-benefits {
    position: relative;
    margin: 0 0 112px 0;

    &::before {
        content: "";
        height: 100%;
        width: calc(100vw - var(--scrollbar-width) + 0.9px);
        max-width: 1644px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-font;
        z-index: -1;
    }

    .flex-holder {
        padding: 63px 107px 58px 105px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        .left {
            position: relative;
            width: 100%;
            max-width: 310px;

            h2 {
                color: $color-font-second;
                margin: 0;
            }

            .btn {
                position: absolute;
                top: calc(100% + 30px);
                left: 0;
                -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.26);
                box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.26);

            }
        }

        .reg-benefits {
            max-width: 610px;
            // margin-right: 27px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(103px, 1fr));
            gap: 25px;

            .block {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: nowrap;

                span {
                    color: $color-font-second;
                    font-size: remMM(16);
                    line-height: 1.1em;

                    &.big {
                        font-size: remMM(36);
                        font-weight: 700;
                    }

                    &.small {
                        font-size: remMM(18);
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.conditions {
    padding: 0 0 100px 0;

    .flex-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-left: 106px;
        width: 100%;
        max-width: 1135px;

        h5 {
            margin-bottom: 25px;
            font-size: remMM(18);
            font-weight: 700;
        }

        p {
            margin-bottom: 24px;
            font-size: remMM(14);
            color: $black;

            &:last-of-type {
                margin-bottom: 0;
            }

            a {
                color: $black;
                font-size: remMM(14);
                text-decoration: underline;

                &:hover {
                    text-decoration: unset;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) and (min-width: 0px) {
    .main-club {
        .flex-holder {
            padding-left: 40px;

            .left {
                h2 {}

                p {}

                .btn {}

                h3 {}

                ul {
                    li {
                        &:last-of-type {}

                        &::marker {}

                        &::before {}

                        span {}
                    }
                }
            }

            .right {

                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .register-benefits {
        &::before {}

        .flex-holder {
            padding: 50px 40px 58px 40px;

            .left {
                h2 {}

                .btn {}
            }

            .reg-benefits {
                .block {
                    span {
                        &.big {}

                        &.small {}
                    }
                }
            }
        }
    }

    .conditions {

        .flex-holder {
            padding-left: 40px;

            h5 {}

            p {
                &:last-of-type {}

                a {
                    &:hover {}
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 0px) {
    .main-club {
        .flex-holder {
            padding: 0;

            .left {
                h2 {}

                p {}

                .btn {}

                h3 {}

                ul {
                    li {
                        &:last-of-type {}

                        &::marker {}

                        &::before {}

                        span {}
                    }
                }
            }

            .right {
                max-width: 47%;
                position: relative;
                margin-right: 0;

                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .register-benefits {
        &::before {}

        .flex-holder {
            padding: 40px 30px 40px 30px;
            flex-wrap: nowrap;
            gap: 20px;

            .left {
                h2 {}

                .btn {}
            }

            .reg-benefits {
                .block {
                    span {
                        &.big {}

                        &.small {}
                    }
                }
            }
        }
    }

    .conditions {
        padding: 0 0 40px 0;

        .flex-holder {
            padding: 0;

            h5 {}

            p {
                &:last-of-type {}

                a {
                    &:hover {}
                }
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 0px) {
    .main-club {
        padding: 25px 0 65px 0;

        .flex-holder {

            .left {
                h2 {}

                p {}

                .btn {}

                h3 {}

                ul {
                    li {
                        &:last-of-type {}

                        &::marker {}

                        &::before {}

                        span {}
                    }
                }
            }

            .right {

                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .register-benefits {
        margin: 0 0 56px 0;

        &::before {}

        .flex-holder {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;

            .left {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;
                justify-content: flex-start;
                gap: 15px;

                h2 {}

                .btn {
                    position: relative;
                    top: unset;
                    left: unset;
                }
            }

            .reg-benefits {
                grid-template-columns: repeat(4, 1fr);

                .block {
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: nowrap;
                    text-align: center;

                    span {
                        &.big {}

                        &.small {}
                    }
                }
            }
        }
    }

    .conditions {

        .flex-holder {

            h5 {}

            p {
                &:last-of-type {}

                a {
                    &:hover {}
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .main-club {
        .flex-holder {
            .left {
                max-width: 100%;

                h2 {
                    margin-bottom: 16px;
                    font-size: remMM(36);
                }

                p {
                    font-size: remMM(16);
                }

                .btn {
                    padding: emMM(17)emMM(24)emMM(17)emMM(24);
                    margin-bottom: 40px;
                }

                h3 {
                    font-size: remMM(30);
                }

                ul {
                    li {
                        font-size: remMM(16);
                        margin-bottom: 20px;

                        &:last-of-type {}

                        &::marker {}

                        &::before {}

                        span {
                            font-size: remMM(16);
                        }
                    }
                }
            }

            .right {
                display: none;

                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .register-benefits {
        &::before {}

        .flex-holder {
            padding: 40px 0px 40px 0px;

            .left {
                h2 {}

                .btn {
                    padding: emMM(17)emMM(24)emMM(17)emMM(24);
                }
            }

            .reg-benefits {
                grid-template-columns: repeat(2, 1fr);

                .block {
                    span {
                        font-size: remMM(14);

                        &.big {
                            font-size: remMM(36);
                        }

                        &.small {
                            font-size: remMM(18);
                        }
                    }
                }
            }
        }
    }

    .conditions {
        .flex-holder {
            h5 {}

            p {
                &:last-of-type {}

                a {
                    &:hover {}
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) and (min-width: 0px) {
    .main-club {
        .flex-holder {
            .left {
                h2 {}

                p {}

                .btn {}

                h3 {}

                ul {
                    li {
                        &:last-of-type {}

                        &::marker {}

                        &::before {}

                        span {}
                    }
                }
            }

            .right {
                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .register-benefits {
        &::before {}

        .flex-holder {
            .left {
                h2 {}

                .btn {}
            }

            .reg-benefits {
                .block {
                    span {
                        &.big {}

                        &.small {}
                    }
                }
            }
        }
    }

    .conditions {
        .flex-holder {
            h5 {}

            p {
                &:last-of-type {}

                a {
                    &:hover {}
                }
            }
        }
    }
}

.main-store {
    padding: 25px 0 97px 0;

    .flex-holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;

        h2 {
            margin-right: auto;

            padding: 0 0 0 105px;
            font-size: remMM(46);
            margin-bottom: 35px;
        }

        .img-holder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            position: relative;
            // margin: 0 auto 0px auto;
            width: 100vw;
            width: 1644px;
            max-width: calc(100vw - var(--scrollbar-width) + 0.9px);
            // overflow: hidden;

            img {
                &.big {
                    width: 100%;
                    max-width: 1644px;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }

                &.icon {
                    position: absolute;
                    left: 283px;
                    bottom: -88px;
                    z-index: 2;
                }
            }
        }
    }
}

.about-store {
    padding: 0 0 96px 0;

    .flex-holder {
        margin: 0 auto 95px auto;
        width: 100%;
        max-width: 1035px;
        gap: 64px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .text {
            width: 100%;
            max-width: 53.5%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            h2 {
                margin-bottom: 32px;
            }

            p {
                margin-bottom: 24px;
                color: $black;
                font-size: remMM(18);
                font-weight: 400;
                line-height: 1.2em;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .img {
            max-width: 38.6%;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .box-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        margin: 0 auto 0px auto;
        width: 100%;
        max-width: 1035px;

        .block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 49%;

            &:nth-child(2) {
                padding-top: 56px;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 24px;
            }

            span {
                width: 100%;
                padding: 0 70px;
                font-size: remMM(18);
                font-weight: 700;
                line-height: 1.2em;
                color: $color-font;
            }
        }
    }
}

.our-products {
    padding: 0 0 96px 0;

    .flex-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px;
        margin: 0 auto 0px auto;
        width: 100%;
        max-width: 1035px;

        .left {
            width: 100%;
            max-width: 370px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            h2 {
                margin-bottom: 34px;
            }

            p {
                margin-bottom: 24px;
                font-size: remMM(18);
                font-weight: 400;
                line-height: 1.2em;
                color: $black;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .images-holder {
            width: 100%;
            max-width: 59%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 24px;
            margin-top: 103px;

            img {
                width: 100%;

                &:nth-of-type(1) {
                    padding-top: 80px;
                }

                &:nth-of-type(3) {
                    padding-top: 118px;
                }
            }
        }
    }
}

.text-img {
    padding: 0 0 96px 0;

    &.second {
        padding: 0 0 52px 0;

        .flex-holder {
            flex-direction: row;

            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }
    }

    .flex-holder {
        margin: 0 auto 0px auto;
        width: 100%;
        max-width: 1035px;
        gap: 44px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .text {
            width: 100%;
            max-width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            h2 {
                margin-bottom: 32px;
            }

            p {
                margin-bottom: 24px;
                color: $black;
                font-size: remMM(18);
                font-weight: 400;
                line-height: 1.2em;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .img {
            max-width: 38.6%;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .with-big-img {
        padding-bottom: 215px;
        position: relative;
        margin: 96px auto 0 auto;
        width: 100%;
        max-width: 1035px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        .img-holder {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            position: relative;
            // margin: 0 auto 0px auto;
            width: 100vw;
            width: 1644px;
            max-width: calc(100vw - var(--scrollbar-width) + 0.9px);
            // overflow: hidden;

            img {
                &.big {
                    width: 100%;
                    max-width: 1644px;
                    object-fit: cover;
                    position: relative;
                    z-index: 1;
                }

                &.icon {
                    position: absolute;
                    left: -5px;
                    top: -98px;
                    z-index: 2;
                }
            }
        }


        .text-holder {
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            padding: 130px 40px 70px 40px;
            background-color: $color-font-second;
            -webkit-box-shadow: 0px 40px 54px 0px rgba(0, 0, 0, 0.149);
            box-shadow: 0px 40px 54px 0px rgba(0, 0, 0, 0.149);
            max-width: 612px;
            width: 100%;
            z-index: 1;

            &::before,
            &::after {
                content: "";
                width: 56px;
                height: 45px;
                display: block;
                position: absolute;
                background-image: url(../img/icon/text-mark.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &::before {
                left: 40px;
                top: 40px;
            }

            &::after {
                right: 40px;
                bottom: 40px;
            }

            p {
                font-size: remMM(20);
                font-weight: 400;
                margin-bottom: 40px;
                line-height: 1.2em;
                color: $black;
            }

            .wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;

                .img {
                    margin-right: 22px;
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    background-color: #D9D9D9;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: nowrap;

                    h4 {
                        font-size: remMM(18);
                        font-weight: 700;
                        margin-bottom: 8px;
                        line-height: 1.2em;
                        color: $black;
                    }

                    span {
                        font-size: remMM(16);
                        font-weight: 400;
                        margin-right: 0px;
                        line-height: 1.2em;
                        color: $black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) and (min-width: 0px) {
    .main-store {
        .flex-holder {
            h2 {}

            .img-holder {


                img {
                    &.big {}

                    &.icon {
                        left: 0;
                    }
                }
            }
        }
    }

    .about-store {
        .flex-holder {
            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .box-wrapper {
            .block {
                img {}

                span {}
            }
        }
    }

    .our-products {
        .flex-holder {
            .left {
                h2 {}

                p {}
            }

            .images-holder {
                img {}
            }
        }
    }

    .text-img {
        &.second {
            .flex-holder {
                .text {
                    h2 {}

                    p {}
                }

                .img {
                    img {}
                }
            }
        }

        .flex-holder {
            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .with-big-im {
            .img-holder {
                img {
                    &.big {}

                    &.icon {}
                }
            }

            .text-holder {
                p {}

                .wrapper {
                    .img {
                        img {}
                    }

                    .text {
                        h4 {}

                        span {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 0px) {
    .main-store {
        .flex-holder {
            h2 {}

            .img-holder {


                img {
                    &.big {
                        height: 400px;
                        width: 100%;
                        height: 100%;
                    }

                    &.icon {}
                }
            }
        }
    }

    .about-store {
        .flex-holder {
            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .box-wrapper {
            .block {
                img {}

                span {}
            }
        }
    }

    .our-products {
        .flex-holder {
            flex-wrap: nowrap;

            .left {
                h2 {}

                p {}
            }

            .images-holder {
                gap: 12px;
                margin-top: 33px;

                img {
                    max-width: 35%;
                }
            }
        }
    }

    .text-img {
        &.second {
            .flex-holder {
                .text {
                    h2 {}

                    p {}
                }

                .img {
                    img {}
                }
            }
        }

        .flex-holder {
            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .with-big-img {
            .img-holder {
                height: 400px;

                img {


                    &.big {
                        width: 100%;
                        height: 100%;
                    }

                    &.icon {}
                }
            }

            .text-holder {
                p {}

                .wrapper {
                    .img {
                        img {}
                    }

                    .text {
                        h4 {}

                        span {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 0px) {
    .main-store {
        .flex-holder {
            h2 {
                padding: 0;
            }

            .img-holder {

                img {
                    &.big {}

                    &.icon {}
                }
            }
        }
    }

    .about-store {
        .flex-holder {
            .text {
                max-width: 51.5%;

                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .box-wrapper {
            .block {
                img {}

                span {}
            }
        }
    }

    .our-products {
        .flex-holder {
            .left {
                h2 {}

                p {}
            }

            .images-holder {
                img {}
            }
        }
    }

    .text-img {
        &.second {
            .flex-holder {
                .text {
                    h2 {}

                    p {}
                }

                .img {
                    img {}
                }
            }
        }

        .flex-holder {
            .text {
                h2 {}

                p {}
            }

            .img {
                img {}
            }
        }

        .with-big-im {
            .img-holder {

                img {
                    &.big {}

                    &.icon {}
                }
            }

            .text-holder {
                p {}

                .wrapper {
                    .img {
                        img {}
                    }

                    .text {
                        h4 {}

                        span {}
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .main-store {
        .flex-holder {
            h2 {
                font-size: remMM(36);
            }

            .img-holder {
                max-width: 100vw;
                width: 100vw;

                img {


                    &.big {
                        height: 230px;
                    }

                    &.icon {
                        max-width: 120px;
                        height: unset;
                    }
                }
            }
        }
    }

    .about-store {
        padding: 0 0 56px 0;

        .flex-holder {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin: 0 auto 55px auto;

            .text {
                max-width: 100%;

                h2 {}

                p {}
            }

            .img {
                max-width: 400px;
                margin: 0 auto;
                width: 100%;

                img {}
            }
        }

        .box-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: center;

            .block {
                max-width: 100%;

                &:nth-of-type(2) {
                    padding-top: 0;
                }

                img {}

                span {
                    padding: 0 10px;
                }
            }
        }
    }

    .our-products {
        .flex-holder {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;

            .left {
                max-width: 100%;
                text-align: left;

                h2 {}

                p {}
            }

            .images-holder {
                max-width: 500px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                img {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    .text-img {
        &.second {
            .flex-holder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                text-align: left;

                .text {
                    max-width: 100%;
                    text-align: left;

                    h2 {}

                    p {}
                }

                .img {
                    max-width: 500px;

                    img {}
                }
            }
        }

        .flex-holder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            text-align: left;

            .text {
                max-width: 100%;
                text-align: left;

                h2 {}

                p {}
            }

            .img {
                max-width: 500px;

                img {}
            }
        }

        .with-big-img {
            .img-holder {
                max-width: 100vw;
                width: 100vw;

                img {
                    &.big {}

                    &.icon {
                        max-width: 120px;
                        height: unset;
                    }
                }
            }

            .text-holder {
                padding: 40px 20px 20px 20px;

                &::before,
                &:after {
                    display: none;
                }

                p {
                    font-size: remMM(16);
                }

                .wrapper {
                    .img {
                        img {}
                    }

                    .text {
                        h4 {}

                        span {}
                    }
                }
            }
        }
    }
}

.id-404 {
    [itemprop="headline"] {
        display: none;
    }

    .breadcrumbs-wrapper {
        display: none;
    }

    #content {
        margin-bottom: 0;
    }

    .error-page {
        padding: 100px 0 100px 0;
        position: relative;

        &::before {
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 1644px;
            width: calc(100vw - var(--scrollbar-width) + 0.9px);
            display: block;
            position: absolute;
            z-index: -1;
            background-color: $color-font-second;
        }

        .flex-holder {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            width: 100%;
            max-width: 824px;
            margin: 0 auto;
            text-align: center;

            img {
                max-width: 130px;
                margin-bottom: 24px;
            }

            h2 {
                line-height: 1.2em;
                margin: 0 0 16px 0;
            }

            p {
                margin: 0 0 24px 0;
                font-size: remMM(18);
                color: $black;
                line-height: 1.2em;
            }

            .btn {}
        }
    }

    @media screen and (max-width: 767px) and (min-width: 0px) {
        .error-page {
            padding: 30px 0 50px 0;

            &::before {}

            .flex-holder {
                img {}

                h2 {}

                p {}

                .btn {}
            }
        }
    }
}


.id-29 {
    [itemprop="headline"] {
        h1 {
            padding: 0 106px;
            margin: 16px 0 56px 0;
            text-align: left !important;
        }
    }
}

.contact-page {
    color: $black;

    a {
        text-decoration: none !important;

        &:hover {
            text-decoration: underline !important;
        }
    }

    h3 {
        color: $black;
    }

    .upper-holder {
        margin-bottom: 92px;
        padding: 0 106px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 112px;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            .block {
                margin: 0 0 8px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 15px;

                &:last-of-type {
                    margin: 0;
                }

                a {
                    font-size: remMM(30);
                    line-height: 1.2em;
                    color: $black;
                    font-weight: 700;
                }

                span {
                    font-size: remMM(18);
                    line-height: 1.2em;
                    color: $black;
                    font-weight: 400;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            h3 {
                margin: 0 0 13px 0;
            }

            a {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
            }

            span {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
            }

            .holder {


                a {}
            }
        }
    }

    .middle-holder {
        margin-bottom: 96px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 100px;

        .img {
            max-width: 612px;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            .big {
                width: 100%;
                height: auto;
            }

            .icon {
                top: 50%;
                transform: translateY(-50%);
                right: -76px;
                max-width: 150px;
                position: absolute;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            max-width: 506px;
            width: 100%;
            margin-top: 13px;

            h3 {
                margin: 0 0 39px 0;
            }

            .holder {
                margin: 0 0 23px 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex-wrap: nowrap;

                &:last-of-type {
                    margin-bottom: 0;

                    .row-wrapper {

                        span {

                            width: unset;
                        }
                    }
                }

                h4 {
                    font-size: remMM(18);
                    font-weight: 700;
                    color: $black;
                    line-height: 1.2em;
                    margin: 0 0 4px 0;
                }

                .row-wrapper {
                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    span {
                        font-size: remMM(16);
                        line-height: 1em;
                        color: $black;
                        font-weight: 400;
                        display: inline-block;
                        width: 83px;
                    }
                }

                a {
                    font-size: remMM(16);
                    line-height: 1.2em;
                    color: $black;
                    font-weight: 400;
                }

            }
        }
    }

    .lower-holder {
        margin-bottom: 96px;
        padding: 0 106px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        text-align: left;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            max-width: 46%;
            text-align: left;
            width: 100%;

            h3 {
                margin: 0 0 24px 0;
            }

            address {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
                margin: 0 0 24px 0;
                font-style: normal;
            }

            span {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
                margin: 0;

                &:last-of-type {
                    margin: 0 0 35px 0;
                }
            }

            p {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
                margin: 0 0 24px 0;
                text-align: left;

                &:last-of-type {
                    margin: 0;
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            max-width: 46%;
            text-align: left;
            width: 100%;

            h3 {
                margin: 0 0 24px 0;
            }

            span {
                font-size: remMM(18);
                line-height: 1.2em;
                color: $black;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 0px) {
    .id-29 {
        [itemprop="headline"] {
            h1 {
                padding: 0 50px;
            }
        }
    }

    .contact-page {


        a {
            &:hover {}
        }

        h3 {}

        .upper-holder {
            padding: 0 50px;

            .left {
                .block {
                    &:last-of-type {}

                    a {}

                    span {}
                }
            }

            .right {
                h3 {}

                a {}

                span {}

                .holder {
                    a {}
                }
            }
        }

        .middle-holder {
            .img {
                .big {}

                .icon {}
            }

            .right {
                max-width: 346px;

                h3 {}

                .holder {
                    &:last-of-type {
                        .row-wrapper {
                            span {}
                        }
                    }

                    h4 {}

                    .row-wrapper {
                        &:last-of-type {}

                        span {}
                    }

                    a {}

                }
            }
        }

        .lower-holder {
            padding: 0 50px;

            .left {
                h3 {}

                address {}

                span {
                    &:last-of-type {}
                }

                p {
                    &:last-of-type {}
                }
            }

            .right {
                h3 {}

                span {}
            }
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 0px) {
    .id-29 {
        [itemprop="headline"] {
            h1 {
                padding: 0px;
            }
        }
    }

    .contact-page {
        a {
            &:hover {}
        }

        h3 {}

        .upper-holder {
            padding: 0;

            .left {
                .block {
                    &:last-of-type {}

                    a {}

                    span {}
                }
            }

            .right {
                h3 {}

                a {}

                span {}

                .holder {
                    a {}
                }
            }
        }

        .middle-holder {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 100px;

            .img {
                max-width: calc(100% - 110px);

                .big {}

                .icon {}
            }

            .right {
                h3 {}

                .holder {
                    &:last-of-type {
                        .row-wrapper {
                            span {}
                        }
                    }

                    h4 {}

                    .row-wrapper {
                        &:last-of-type {}

                        span {}
                    }

                    a {}

                }
            }
        }

        .lower-holder {
            padding: 0;

            .left {
                h3 {}

                address {}

                span {
                    &:last-of-type {}
                }

                p {
                    &:last-of-type {}
                }
            }

            .right {
                h3 {}

                span {}
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 0px) {
    .contact-page {
        a {
            &:hover {}
        }

        h3 {}

        .upper-holder {
            margin-bottom: 70px;
            gap: 30px;

            .left {
                .block {
                    &:last-of-type {}

                    a {
                        font-size: remMM(24);
                    }

                    span {
                        font-size: remMM(18);
                    }
                }
            }

            .right {
                h3 {}

                a {
                    font-size: remMM(16);
                }

                span {
                    font-size: remMM(16);
                }

                .holder {
                    a {}
                }
            }
        }

        .middle-holder {
            gap: 40px;

            .img {
                .big {}

                .icon {}
            }

            .right {
                margin-top: 0;

                h3 {}

                .holder {
                    &:last-of-type {
                        .row-wrapper {
                            span {}
                        }
                    }

                    h4 {}

                    .row-wrapper {
                        &:last-of-type {}

                        span {}
                    }

                    a {}

                }
            }
        }

        .lower-holder {
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 30px;

            .left {
                max-width: 100%;

                h3 {
                    font-size: remMM(16);
                }

                address {
                    font-size: remMM(16);
                }

                span {
                    font-size: remMM(16);

                    &:last-of-type {}
                }

                p {
                    font-size: remMM(16);

                    &:last-of-type {}
                }
            }

            .right {
                max-width: 100%;

                h3 {}

                span {
                    font-size: remMM(16);
                }
            }
        }
    }
}