// LAYOUT VARIABLES
$container-width: 1248px;
$container-padding: 2rem;
$container-padding-mobile: 20px;
$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
$columns-gap: 20px;
$columns-gap-mobile: 20px;
$sidebar-width: 264px;
$layout-gap: 25px;

// COLORS
$color-font: #2A2A28;
$color-accent: #F4B395;

$color-primary:#F9CAB5;
$color-primary-hov:#F4B395;
$color-primary-dis:#C4C6C7;

$color-secondary:#2A2A28;
$color-secondary-hov:#454542;
$color-secondary-dis:#D8D8D8;


$color-page-background: #fff;
$color-page-background-2: #F2F1EE;
$color-secondary: #001024;
$color-font-second: #fff;

$black: #000;
$white: #fff;
$black-07: rgba(0, 0, 0, 0.07);
$black-15: rgba(0, 0, 0, 0.15);
$black-30: rgba(0, 0, 0, 0.30);


$flag-action: #FF502B;
$flag-new: #B489FA;
$flag-bestseller: #3FDEA3;
$flag-discount: #eb2a00;
$flag-sale: #FF502B;
$flag-gift: #4486B6;
$red-1:#F55F68;


$alert:#F55F68;
$notification:#F48F53;
$positive:#87CB6F;
$info:#5A95EE;

// FONTS
$default-font-size: 16;

$font-size-h1: 46;
$font-size-h1-mobile: 36;

$font-size-h2: 36;
$font-size-h2-mobile: 28;

$font-size-h3: 30;
$font-size-h3-mobile: 24;

$font-size-h4: 24;
$font-size-h4-mobile: 22;

$font-size-h5: 18;
$font-size-h5-mobile: 18;

$font-size-h6: 18;
$font-size-h6-mobile: 18;

$default-font-family: 'New Order',
sans-serif;
$heading-font-family: 'New Order',
sans-serif;